Repository Carlossouzaadv/JustoAI-vers-o2, changes with the owners that .github/CODEOWNERS names for each.
All owners: @justoai/core-team, @justoai/frontend-team, @justoai/backend-team, @justoai/qa-team, @justoai/devops-team, @justoai/docs-team

.github/CODEOWNERS:

# Code Owners for JustoAI V2

# Default owners for everything in the repo
* @justoai/core-team

# Frontend components
/src/components/ @justoai/frontend-team

# API routes
/src/app/api/ @justoai/backend-team

# Database schemas
/prisma/ @justoai/backend-team

# Tests
**/__tests__/ @justoai/qa-team
*.test.ts @justoai/qa-team
*.test.tsx @justoai/qa-team

# CI/CD
/.github/ @justoai/devops-team

# Documentation
*.md @justoai/docs-team

fix(security): remove hardcoded JUDIT API key from scripts
  scripts/judit-consumption-report.js
Owners: @justoai/core-team

fix(admin): use createBrowserClient for proper session handling
  src/app/admin/layout.tsx
Owners: @justoai/core-team

fix(api): fix judit-consumption endpoint errors
  src/app/api/admin/judit-consumption/route.ts
Owners: @justoai/backend-team

fix(api): use correct JUDIT API URL from environment
  src/app/api/admin/judit-consumption/route.ts
Owners: @justoai/backend-team

fix(api): improve error logging for JUDIT fetch failures
  src/app/api/admin/judit-consumption/route.ts
Owners: @justoai/backend-team

fix(lint): fix linting errors in auth.ts
  src/lib/auth.ts
Owners: @justoai/core-team

fix(types): resolve explicit-any errors in JUDIT service files
  src/lib/services/juditMonitoringService.ts
  src/lib/services/juditService.ts
Owners: @justoai/core-team

fix(types): replace any with unknown in JuditRequest interface
  src/app/api/admin/judit-consumption/route.ts
Owners: @justoai/backend-team

fix(linting): add eslint-disable to files with remaining any type errors
  .claude/settings.local.json
  README.md
  src/lib/ai-model-router.ts
  src/lib/document-hash.ts
  src/lib/gemini-client.ts
  src/lib/report-generator.ts
  src/lib/services/circuitBreakerService.ts
  src/lib/services/juditAttachmentProcessor.ts
  src/lib/services/localPDFMetadataExtractor.ts
  src/lib/services/timelineUnifier.ts
  src/lib/system-importer.ts
  src/lib/system-mappings.ts
  src/lib/system-sync.ts
  src/lib/telemetry/usage-tracker.ts
  src/lib/token-optimizer.ts
  src/lib/utils/auth-helpers.ts
  src/lib/websocket-manager.ts
Owners: @justoai/core-team, @justoai/docs-team

feat(timeline): implement unified timeline engine - Sprints 1-2 complete
  .claude/settings.local.json
  README.md
  SQL_TIMELINE_UNIFICADA.sql
  TIMELINE_UNIFICADA_IMPLEMENTACAO.md
  prisma/migrations/20251027_timeline_unificada/migration.sql
  prisma/schema.prisma
  src/app/api/billing/credits/route.ts
  src/app/api/process/[id]/analysis/route.ts
  src/components/process/process-ai-analysis.tsx
  src/lib/config/timelineConfig.ts
  src/lib/prompts/enrichTimelineEvent.ts
  src/lib/services/creditService.ts
  src/lib/services/timelineEnricher.ts
  src/lib/utils/timelineSourceUtils.ts
Owners: @justoai/core-team, @justoai/docs-team, @justoai/backend-team, @justoai/frontend-team

feat(timeline): implement intelligent timeline unification - Sprint 3.1 complete
  TIMELINE_UNIFICADA_IMPLEMENTACAO.md
  src/lib/services/timelineUnifier.ts
Owners: @justoai/docs-team, @justoai/core-team

feat(timeline): implement unified intelligent timeline with enrichment engine (Sprints 1-3)
  TIMELINE_UNIFICADA_IMPLEMENTACAO.md
  src/app/api/documents/upload/route.ts
  src/app/api/webhook/judit/callback/route.ts
Owners: @justoai/docs-team, @justoai/backend-team

feat(ui): implement enriched timeline UI with source tracking and conflict alerts (Sprint 4)
  TIMELINE_UNIFICADA_IMPLEMENTACAO.md
  src/app/api/cases/[id]/unified-timeline/route.ts
  src/components/process/process-timeline.tsx
  src/components/timeline/EnrichedTimelineEvent.tsx
Owners: @justoai/docs-team, @justoai/backend-team, @justoai/frontend-team

feat(conflicts): implement conflict review and resolution system (Sprint 5 - FINAL)
  .env.example
  TIMELINE_UNIFICADA_IMPLEMENTACAO.md
  src/app/api/cases/[id]/timeline/conflicts/resolve/route.ts
  src/app/dashboard/process/[id]/conflicts/page.tsx
Owners: @justoai/core-team, @justoai/docs-team, @justoai/backend-team

docs: update README with Unified Intelligent Timeline system
  README.md
Owners: @justoai/docs-team

fix(timeline): add defensive checks for undefined eventType in EnrichedTimelineEvent
  src/components/timeline/EnrichedTimelineEvent.tsx
Owners: @justoai/frontend-team

fix(types): resolve comprehensive TypeScript compilation errors across codebase
  lib/ai-cache-manager.ts
  lib/analysis-cache.ts
  lib/auth.ts
  lib/bull-board.ts
  lib/compression.ts
  lib/logger.ts
  lib/pdf-processor.ts
  lib/queues.ts
Owners: @justoai/core-team

fix(next15): upgrade route handlers to Next.js 15 async params API
  lib/alerts/ops-alerts.ts
  lib/report-data-collector.ts
  src/app/api/cases/[id]/events/route.ts
  src/app/api/cases/[id]/notes/route.ts
  src/app/api/cases/[id]/onboarding-retry/route.ts
  src/app/api/cases/[id]/onboarding-status/route.ts
  src/app/api/cases/[id]/regenerate-summary/route.ts
  src/app/api/cases/[id]/timeline/conflicts/resolve/route.ts
  src/app/api/cases/[id]/unified-timeline/route.ts
  src/app/api/documents/[id]/download/route.ts
  src/app/api/documents/upload/route.ts
  src/app/api/judit/onboarding/status/[jobId]/route.ts
  src/app/api/process/[id]/analysis/full/route.ts
  src/app/api/process/[id]/analysis/versions/route.ts
  src/app/pricing/page.tsx
  src/components/pricing/feature-matrix.tsx
Owners: @justoai/core-team, @justoai/backend-team, @justoai/frontend-team

fix(lint): resolve UI component lint warnings
  components/ui/calendar.tsx
  components/ui/cookie-banner.tsx
  components/ui/lazy-image.tsx
  components/ui/onboarding.tsx
  components/ui/pagination.tsx
  components/ui/password-input.tsx
  components/ui/phone-input.tsx
  components/ui/popover.tsx
  components/ui/radio-group.tsx
  components/ui/sidebar.tsx
  components/ui/usage-alert.tsx
  src/components/ui/consent-checkbox.tsx
  src/components/ui/cookie-banner.tsx
  src/components/ui/onboarding.tsx
  src/components/ui/password-input.tsx
  src/components/ui/phone-input.tsx
  src/components/ui/usage-alert.tsx
Owners: @justoai/core-team, @justoai/frontend-team

fix(lint): harmonize components/ui with src/components/ui fixes
  components/ui/consent-checkbox.tsx
Owners: @justoai/core-team

fix(types): resolve TypeScript and ESLint errors across codebase
  src/lib/services/timelineEnricher.ts
  src/lib/services/timelineUnifier.ts
  src/lib/timeline-merge.ts
  src/lib/utils.ts
  src/lib/utils/case-onboarding-helper.ts
  src/lib/utils/judit-type-mapper.ts
  workers/cache-cleanup-worker.ts
  workers/individual-reports-worker.ts
  workers/process-monitor-worker.ts
  workers/reports-worker.ts
  workers/sync-worker.ts
  workers/usage-aggregator-worker.ts
Owners: @justoai/core-team

fix(lint): resolve TypeScript and ESLint warnings across utility modules
  components/ui/popover.tsx
  components/ui/radio-group.tsx
  components/ui/sidebar.tsx
  lib/ai-cache-manager.ts
  lib/ai-model-router.ts
  lib/alerts/ops-alerts.ts
  lib/analysis-cache.ts
  lib/api-client.ts
  lib/api-utils.ts
  src/lib/ai-cache-manager.ts
Owners: @justoai/core-team

fix(lint): resolve TypeScript linting errors in analysis and redis services
  src/lib/real-analysis-service.ts
  src/lib/redis.ts
Owners: @justoai/core-team

fix(types): improve type safety in lib directory
  lib/ai-cache-manager.ts
  lib/ai-model-router.ts
  lib/api-utils.ts
Owners: @justoai/core-team

refactor(services): improve type safety and logging infrastructure
  src/lib/services/circuitBreakerService.ts
  src/lib/services/creditService.ts
  src/lib/services/juditAttachmentProcessor.ts
  src/lib/services/juditMonitoringService.ts
  src/lib/services/juditOnboardingService.ts
  src/lib/services/juditService.ts
  src/lib/services/localPDFMetadataExtractor.ts
  src/lib/services/previewAnalysisService.ts
  src/lib/services/summaryConsolidator.ts
  src/lib/services/timelineEnricher.ts
  src/lib/services/timelineUnifier.ts
Owners: @justoai/core-team

fix(types): resolve TypeScript linting across utilities and libraries
  src/lib/ai-cache-manager.ts
  src/lib/ai-model-router.ts
  src/lib/document-hash.ts
  src/lib/report-cache-manager.ts
  src/lib/report-customization.ts
  src/lib/report-data-collector.ts
  src/lib/report-generator.ts
  src/lib/report-scheduler.ts
  src/lib/report-templates.ts
  src/lib/system-importer.ts
  src/lib/system-mappings.ts
  src/lib/system-sync.ts
  src/lib/telemetry/usage-tracker.ts
  src/lib/timeline-merge.ts
  src/lib/token-optimizer.ts
  src/lib/utils/auth-helpers.ts
  src/lib/utils/timelineSourceUtils.ts
  src/lib/websocket-manager.ts
Owners: @justoai/core-team

fix(types): improve type safety in app routes and UI components
  components/ui/sidebar.tsx
  src/app/api/cases/[id]/timeline/conflicts/resolve/route.ts
Owners: @justoai/core-team, @justoai/backend-team

fix(types): resolve remaining type safety issues in templates and utils
  src/lib/report-templates/docx-template-engine.ts
  src/lib/report-templates/pdf-template-engine.ts
  src/lib/utils.ts
Owners: @justoai/core-team

fix(lint): resolve TypeScript linting errors in prompts and queue systems
  src/lib/prompts-maestros.ts
  src/lib/queue/juditQueue.ts
  src/lib/queues.ts
  src/lib/quota-system.ts
Owners: @justoai/core-team

fix(lint): resolve TypeScript linting errors in process and performance modules
  src/lib/performance-optimizer.ts
  src/lib/process-alerts.ts
  src/lib/process-apis.ts
  src/lib/process-monitor.ts
  src/lib/prompts/enrichTimelineEvent.ts
Owners: @justoai/core-team

fix(lint): resolve TypeScript linting errors in PDF processing modules
  src/lib/pdf-extractor.js
  src/lib/pdf-generator.ts
  src/lib/pdf-processor.ts
Owners: @justoai/core-team

fix(types): resolve TypeScript linting errors across codebase
  .claude/settings.local.json
  components/ui/popover.tsx
  components/ui/radio-group.tsx
  components/ui/sidebar.tsx
  lib/ai-cache-manager.ts
  lib/ai-model-router.ts
  lib/alerts/ops-alerts.ts
  lib/analysis-cache.ts
  lib/api-utils.ts
  lib/auth.ts
  lib/bull-board.ts
  lib/compression.ts
  lib/payment-webhook-handler.ts
  lib/performance-optimizer.ts
  lib/process-alerts.ts
  lib/queues.ts
  lib/report-generator.ts
  lib/report-scheduler.ts
  src/lib/ai-cache-manager.ts
  src/lib/analysis-cache.ts
  src/lib/bull-board.ts
  src/lib/excel-upload-service.ts
  src/lib/observability/costTracking.ts
  src/lib/observability/logger.ts
  src/lib/pagination.ts
  src/lib/payment-webhook-handler.ts
  src/lib/report-data-collector.ts
Owners: @justoai/core-team

docs(tracker): add comprehensive TODO tracker organized by priority
  TODO_TRACKER.md
Owners: @justoai/docs-team

feat(storage): implement Supabase Storage integration for permanent file uploads
  .claude/settings.local.json
  arquivos para teste/RJ-50030683420194025101-2025-8-12-10-48-2450030683420194025101_PARTE_1.PDF
  arquivos para teste/RJ-50521210820244025101-2025-8-12-11-30-3450521210820244025101_PARTE_1.PDF
  arquivos para teste/RJ-50593080420234025101-2025-8-12-11-31-2950593080420234025101_PARTE_1.PDF
  arquivos para teste/RJ-50727451520234025101-2025-8-12-11-35-4850727451520234025101_PARTE_1.PDF
  arquivos para teste/Recurso contra decisão interlocutória - 5074025-50.2025.4.02.5101.pdf
  eslint.config.mjs
  lib/ai-model-router.ts
  lib/report-templates/pdf-template-engine.ts
  package-lock.json
  public/icons/atencao.svg
  public/icons/calendario.svg
  public/icons/cliente.svg
  public/icons/creditos.svg
  public/icons/documentos.svg
  public/icons/ia.svg
  public/icons/tempo.svg
  public/icons/upload.svg
  public/optimized/IA.png
  public/optimized/atenção.jpg
  public/optimized/calendário.png
  public/optimized/cliente.png
  public/optimized/creditos.png
  public/optimized/documentos.png
  public/optimized/tempo.png
  public/optimized/upload.png
  src/app/api/documents/upload/route.ts
  src/app/api/process/upload/route.ts
  src/lib/pdf-extractor.js
  src/lib/report-templates/pdf-template-engine.ts
  src/lib/services/localPDFMetadataExtractor.ts
  src/lib/services/supabaseStorageService.ts
  src/lib/services/timelineEnricher.ts
  src/lib/telemetry/usage-tracker.ts
  src/lib/websocket-manager.ts
  workers/usage-aggregator-worker.ts
Owners: @justoai/core-team, @justoai/backend-team

docs: add Supabase Storage setup guide and update TODO tracker
  SUPABASE_STORAGE_SETUP.md
  TODO_TRACKER.md
Owners: @justoai/docs-team

feat(notifications): implement Email + Slack notification system
  .claude/settings.local.json
  .env.example
  src/jobs/dailyJuditCheck.ts
  src/jobs/scheduler.ts
  src/lib/notification-service.ts
  src/lib/slack-service.ts
Owners: @justoai/core-team

docs: add Notifications setup guide and update TODO tracker
  NOTIFICATIONS_SETUP.md
  TODO_TRACKER.md
Owners: @justoai/docs-team

feat(reports): integrate real PDF and DOCX generation
  src/lib/report-generator.ts
Owners: @justoai/core-team

docs: update TODO tracker - mark PDF/DOCX Report Generation as COMPLETED
  TODO_TRACKER.md
Owners: @justoai/docs-team

fix(storage): implement lazy-loading for Supabase client initialization
  .claude/settings.local.json
  src/lib/services/supabaseStorageService.ts
Owners: @justoai/core-team
