Repository Carlossouzaadv/JustoAI-vers-o2, changes with the owners that .github/CODEOWNERS names for each.
All owners: @justoai/core-team, @justoai/frontend-team, @justoai/backend-team, @justoai/qa-team, @justoai/devops-team, @justoai/docs-team

.github/CODEOWNERS:

# Code Owners for JustoAI V2

# Default owners for everything in the repo
* @justoai/core-team

# Frontend components
/src/components/ @justoai/frontend-team

# API routes
/src/app/api/ @justoai/backend-team

# Database schemas
/prisma/ @justoai/backend-team

# Tests
**/__tests__/ @justoai/qa-team
*.test.ts @justoai/qa-team
*.test.tsx @justoai/qa-team

# CI/CD
/.github/ @justoai/devops-team

# Documentation
*.md @justoai/docs-team

feat(judit): implement real JUDIT API endpoints with async polling
  src/lib/judit-api-wrapper.ts
Owners: @justoai/core-team

docs: add sprint tracking roadmap for development progress
  SPRINTS.md
Owners: @justoai/docs-team

feat(webhooks): implement database persistence for webhook delivery tracking
  src/lib/webhook-delivery-service.ts
Owners: @justoai/core-team

docs(sprints): mark webhook persistence as completed (7/16 tasks)
  SPRINTS.md
Owners: @justoai/docs-team

fix(types): resolve Next.js 15 route handler type checking issue
  src/lib/api-utils.ts
Owners: @justoai/core-team

docs(sprints): restore SPRINTS.md and update progress to 7/16 (webhook persistence complete)
  SPRINTS.md
Owners: @justoai/docs-team

feat(excel): implement real file saving and template generation
  src/app/api/upload/excel/route.ts
  src/lib/excel-template-generator.ts
Owners: @justoai/backend-team, @justoai/core-team

docs(sprints): update progress to 8/16 (Excel file saving and template generation complete)
  SPRINTS.md
Owners: @justoai/docs-team

feat(webhooks): implement JUDIT callback webhook signature validation
  .claude/settings.local.json
  SPRINTS.md
  src/app/api/upload/excel/route.ts
  src/app/api/webhook/judit/callback/route.ts
Owners: @justoai/core-team, @justoai/docs-team, @justoai/backend-team

fix(documents): resolve 3 TODO comments in document processing
  SPRINTS.md
  src/app/api/documents/[id]/analyze/route.ts
  src/app/api/documents/upload/route.ts
Owners: @justoai/docs-team, @justoai/backend-team

feat(auth): add user plan and credits to context
  src/app/api/users/current/route.ts
  src/contexts/auth-context.tsx
Owners: @justoai/backend-team, @justoai/core-team

feat(quota): implement real quota status endpoint with actual data
  src/app/api/reports/quota-status/route.ts
Owners: @justoai/backend-team

feat(sharing): add ClientShareLink and CaseShareLink models to Prisma schema
  prisma/schema.prisma
Owners: @justoai/backend-team

docs(sprints): update progress to 11/16 (69%) - document processing, user plan integration, and sharing foundation complete
  SPRINTS.md
Owners: @justoai/docs-team

feat(sharing): implement complete client share link API endpoints
  src/app/api/clients/[id]/share/[linkId]/route.ts
  src/app/api/clients/[id]/share/route.ts
  src/app/api/public/shared/client/[token]/route.ts
  src/lib/share-token-service.ts
Owners: @justoai/backend-team, @justoai/core-team

feat(chat): implement complete AI chat system with Gemini integration
  SPRINTS.md
  prisma/migrations/20251125_add_chat_system.sql
  prisma/schema.prisma
  src/app/api/chat/messages/route.ts
  src/app/api/chat/sessions/[sessionId]/route.ts
  src/app/api/chat/sessions/route.ts
  src/components/ai-assistant/floating-chat.tsx
  src/lib/chat-service.ts
Owners: @justoai/docs-team, @justoai/backend-team, @justoai/frontend-team, @justoai/core-team

fix(migrations): correct chat system migration table names
  prisma/migrations/20251125_add_chat_system/migration.sql
Owners: @justoai/backend-team

docs(sprints): mark AI chat integration as 100% complete
  SPRINTS.md
Owners: @justoai/docs-team

feat(sprint1): complete document deletion and admin real data integration
  prisma/migrations/20251125_add_chat_system.sql
  src/app/admin/logs/page.tsx
  src/app/admin/status/page.tsx
  src/app/api/admin/logs/route.ts
  src/app/api/admin/status/route.ts
  src/app/api/documents/[id]/route.ts
  src/components/process/process-documents.tsx
Owners: @justoai/backend-team, @justoai/core-team, @justoai/frontend-team

docs(sprints): mark SPRINT 1 as 100% complete - 16/16 tasks
  SPRINTS.md
Owners: @justoai/docs-team

refactor(components): break down large components into focused subcomponents
  src/components/admin/component-status-grid.tsx
  src/components/admin/metrics-and-recovery.tsx
  src/components/admin/monitoring-dashboard.tsx
  src/components/admin/system-status-overview.tsx
  src/components/process/analysis-content-display.tsx
  src/components/process/analysis-version-history.tsx
  src/components/process/generate-analysis-modal.tsx
  src/components/process/process-ai-analysis.tsx
Owners: @justoai/frontend-team

refactor(components): complete process-documents refactoring
  src/components/process/document-edit-modal.tsx
  src/components/process/document-list-grid.tsx
  src/components/process/document-upload-section.tsx
  src/components/process/process-documents.tsx
Owners: @justoai/frontend-team

docs(sprints): mark component refactoring as complete (3/11 SPRINT 2)
  SPRINTS.md
Owners: @justoai/docs-team

refactor(logging): migrate redis.ts and scheduler.ts to Gold Standard Pino logger
  src/jobs/scheduler.ts
  src/lib/redis.ts
Owners: @justoai/core-team

refactor(logging): migrate gemini-client.ts to Gold Standard Pino logger
  src/lib/gemini-client.ts
Owners: @justoai/core-team

refactor(logging): clean auth-context.tsx - remove debug console.logs
  src/contexts/auth-context.tsx
Owners: @justoai/core-team

docs(sprint2): update progress on logging refactoring
  SPRINTS.md
Owners: @justoai/docs-team

refactor(lint): fix 10+ unused variable and import warnings
  refactor_logs.py
  src/app/admin/alerts/page.tsx
  src/app/admin/logs/page.tsx
  src/app/admin/status/page.tsx
  src/app/api/admin/cache/clear/route.ts
  src/app/api/billing/credits/route.ts
  src/app/api/chat/messages/route.ts
  src/app/api/chat/sessions/[sessionId]/route.ts
  src/app/api/chat/sessions/route.ts
  src/app/api/clients/[id]/share/route.ts
  src/lib/ai-cache-manager.ts
Owners: @justoai/core-team, @justoai/backend-team

docs(sprint2): update progress - lint warnings completed
  SPRINTS.md
Owners: @justoai/docs-team

security(cron): fix CRON_SECRET validation - remove insecure fallbacks
  src/app/api/cron/daily-aggregation/route.ts
  src/app/api/cron/trial-reminders/route.ts
Owners: @justoai/backend-team

docs(sprint2): update progress - CRON_SECRET validation completed
  SPRINTS.md
Owners: @justoai/docs-team

docs(sprints): update progress - logging refactoring complete (255 files, 489+ statements converted)
  SPRINTS.md
Owners: @justoai/docs-team

refactor(cleanup): remove 62 lines of dead code from billing credits
  remove-dead-code.sh
  src/app/api/billing/credits/route.ts
Owners: @justoai/core-team, @justoai/backend-team

docs: complete .env.example with all required environment variables
  .env.example
Owners: @justoai/core-team

fix: add user context to batch import rollback operations
  deploy-scripts/01-pre-deploy-check.js
  src/app/api/admin/system-imports/[id]/rollback/route.ts
  src/lib/queues.ts
  workers/rollback-worker.ts
Owners: @justoai/core-team, @justoai/backend-team

fix: add userId to credit refund operations for audit trail
  src/app/api/process/[id]/analysis/full/route.ts
Owners: @justoai/backend-team

docs: update SPRINT 2 progress to 8/11 (73%) - rollback operations complete
  SPRINTS.md
Owners: @justoai/docs-team

feat: implement HTTP rate limiting for sensitive endpoints
  src/app/api/auth/signup/route.ts
  src/app/api/credits/consume/route.ts
  src/app/api/credits/purchase/route.ts
  src/lib/middleware/rate-limit-middleware.ts
  src/lib/rate-limiter.ts
Owners: @justoai/backend-team, @justoai/core-team

docs: update SPRINT 2 progress to 9/11 (82%) - rate limiting complete
  SPRINTS.md
Owners: @justoai/docs-team

fix: resolve error references in catch blocks and disable quote lint rule
  .eslintrc.json
  src/app/api/admin/cache/clear/route.ts
  src/app/api/billing/credits/route.ts
Owners: @justoai/core-team, @justoai/backend-team
