Repository Carlossouzaadv/JustoAI-vers-o2, changes with the owners that .github/CODEOWNERS names for each.
All owners: @justoai/core-team, @justoai/frontend-team, @justoai/backend-team, @justoai/qa-team, @justoai/devops-team, @justoai/docs-team

.github/CODEOWNERS:

# Code Owners for JustoAI V2

# Default owners for everything in the repo
* @justoai/core-team

# Frontend components
/src/components/ @justoai/frontend-team

# API routes
/src/app/api/ @justoai/backend-team

# Database schemas
/prisma/ @justoai/backend-team

# Tests
**/__tests__/ @justoai/qa-team
*.test.ts @justoai/qa-team
*.test.tsx @justoai/qa-team

# CI/CD
/.github/ @justoai/devops-team

# Documentation
*.md @justoai/docs-team

Fix typescript build error
  src/lib/services/onboardingService.ts
Owners: @justoai/core-team

Fix eslint build error on vercel
  src/lib/services/onboardingService.ts
Owners: @justoai/core-team

Fix critical frontend display: PATCH 400 loop, cross-user CNJ data, timeline population
  src/app/api/cases/[id]/route.ts
  src/app/api/documents/[id]/download/route.ts
  src/app/api/process/[id]/analysis/route.ts
  src/app/api/webhooks/escavador/route.ts
  src/app/dashboard/process/[id]/page.tsx
  src/components/onboarding/cnj-onboarding-dialog.tsx
  src/lib/services/onboardingService.ts
  src/lib/services/timelineUnifier.ts
  src/lib/types/api-schemas.ts
Owners: @justoai/backend-team, @justoai/core-team, @justoai/frontend-team

Wire up process delete button + fix frontend issues
  src/app/dashboard/process/page.tsx
Owners: @justoai/core-team

Fix eslint no-explicit-any in onboarding dialog
  src/components/onboarding/cnj-onboarding-dialog.tsx
Owners: @justoai/frontend-team

Fix unified-timeline 404: auth mismatch (Supabase UUID vs Prisma CUID)
  src/app/api/cases/[id]/unified-timeline/route.ts
Owners: @justoai/backend-team
