Repository Carlossouzaadv/JustoAI-vers-o2, changes with the owners that .github/CODEOWNERS names for each.
All owners: @justoai/core-team, @justoai/frontend-team, @justoai/backend-team, @justoai/qa-team, @justoai/devops-team, @justoai/docs-team

feat: Add daily aggregation cron job scheduled at 23:00 UTC
  vercel.json
Owners: @justoai/core-team

feat: Add Feature 6 - Dashboard Real Data with telemetry integration
  src/app/dashboard/page.tsx
  src/app/dashboard/telemetry/page.tsx
  src/components/dashboard/api-usage-card.tsx
  src/components/dashboard/cost-metrics-card.tsx
  src/components/dashboard/telemetry-alerts-widget.tsx
  src/hooks/use-telemetry.ts
Owners: @justoai/core-team, @justoai/frontend-team

docs: Update MVP status to 100% complete - Pre-testing phase
  README.md
  docs/MVP_FEATURES_IMPLEMENTATION_GUIDE.md
  prisma/schema.prisma
  src/app/api/billing/credits/route.ts
  src/app/api/process/[id]/analysis/route.ts
Owners: @justoai/docs-team, @justoai/backend-team

Sync package-lock.json with package.json for CI
  package-lock.json
Owners: @justoai/core-team

fix(lint): Fix ESLint critical errors and refactor default exports
  .eslintrc.json
  lib/bull-board.ts
  lib/compression.ts
  lib/pagination.ts
  lib/queues.ts
  src/lib/bull-board.ts
  src/lib/compression.ts
  src/lib/pagination.ts
  src/lib/services/creditService.ts
Owners: @justoai/core-team

fix: remove eslint rule disables and fix require imports
  .eslintrc.json
  lib/ai-cache-manager.ts
  lib/pdf-generator.ts
  src/lib/document-hash.ts
  src/lib/gemini-client.ts
  src/lib/pdf-generator.ts
  src/lib/performance-optimizer.ts
  src/lib/report-generator.ts
  src/lib/services/juditAttachmentProcessor.ts
  src/lib/services/timelineUnifier.ts
  src/lib/system-importer.ts
  src/lib/system-mappings.ts
  src/lib/system-sync.ts
  src/lib/telemetry/usage-tracker.ts
  src/lib/timeline-merge.ts
  src/lib/token-optimizer.ts
  src/lib/utils.ts
  src/lib/utils/auth-helpers.ts
  src/lib/utils/judit-type-mapper.ts
  src/lib/websocket-manager.ts
Owners: @justoai/core-team

fix: resolve github actions lint failures from job-logs
  .eslintrc.json
  src/app/admin/layout.tsx
  src/components/onboarding/onboarding-progress.tsx
Owners: @justoai/core-team, @justoai/frontend-team

fix: configure Jest with ts-jest for TypeScript and JSX support
  jest.config.js
Owners: @justoai/core-team

fix: resolve majority of ESLint errors and configure linter
  .eslintrc.json
  eslint.config.mjs
  next.config.backup.ts
  next.config.ts
  postcss.config.mjs
  sentry.edge.config.ts
  sentry.server.config.ts
  src/app/admin/errors/page.tsx
  src/app/casos-de-uso/page.tsx
  src/app/help/começando/como-criar-sua-conta/page.tsx
  src/app/help/começando/configurando-relatórios/page.tsx
  src/app/help/começando/integrando-com-seu-sistema-atual/page.tsx
  src/app/help/começando/primeiro-upload/page.tsx
  src/app/help/integrações/formatos-de-planilha-suportados/page.tsx
  src/app/help/integrações/importação-via-excel-csv/page.tsx
  src/app/help/integrações/preparando-dados-para-importação/page.tsx
  src/app/help/relatórios-automáticos/agendando-relatórios-semanais/page.tsx
  src/app/help/relatórios-automáticos/configurando-entrega-por-email/page.tsx
  src/app/help/relatórios-automáticos/personalizando-templates/page.tsx
  src/app/help/uploads-e-análises/solucionando-erros-de-upload/page.tsx
  src/components/dashboard/dashboard-example.tsx
  src/components/landing/testimonials.tsx
  workers/process-monitor-worker.ts
  workers/usage-aggregator-worker.ts
Owners: @justoai/core-team, @justoai/frontend-team

fix: allow ESLint warnings in GitHub Actions CI
  .github/workflows/test.yml
Owners: @justoai/devops-team

fix(types): implement proper TypeScript types for unknown conversions
  components/ui/consent-checkbox.tsx
  components/ui/popover.tsx
  components/ui/radio-group.tsx
  lib/credit-system.ts
  src/lib/deep-analysis-service.ts
  src/lib/email-service.ts
Owners: @justoai/core-team

fix: add type guards and interfaces to judit-type-mapper for safe type extraction
  src/lib/utils/judit-type-mapper.ts
Owners: @justoai/core-team

fix: improve type safety in websocket-manager with proper type guards
  src/lib/websocket-manager.ts
Owners: @justoai/core-team

fix: add type guard for redis.info method in cache-cleanup-worker
  workers/cache-cleanup-worker.ts
Owners: @justoai/core-team

fix: Restore Sentry configuration and fix import paths
  lib/alerts/ops-alerts.ts
  lib/api-error-handler.ts
  lib/sentry-init.ts
  sentry.server.config.ts
Owners: @justoai/core-team

refactor: Apply professional type safety to deep-analysis-service (Camada 2)
  lib/icons.ts
  src/lib/deep-analysis-service.ts
  src/lib/icons.ts
  src/lib/types/database.ts
Owners: @justoai/core-team

refactor(Camada 2): Complete type safety refactoring of service layer
  src/lib/real-analysis-service.ts
  src/lib/timeline-merge.ts
Owners: @justoai/core-team

refactor(Camada 3): Improve type safety in redis.ts
  src/lib/redis.ts
Owners: @justoai/core-team

refactor: eliminate unknown/any in JSON field operations with strict type guards
  src/lib/analysis-cache.ts
  src/lib/deep-analysis-service.ts
  src/lib/types/external-api.ts
  src/lib/types/json-fields.ts
  src/lib/types/redis.ts
  src/lib/types/type-guards.ts
Owners: @justoai/core-team

refactor: add dupla validação (Zod) to POST /api/process/[id]/analysis
  src/app/api/process/[id]/analysis/route.ts
  src/lib/types/api-schemas.ts
Owners: @justoai/backend-team, @justoai/core-team

refactor: add Zod validação to PATCH /api/cases/bulk
  src/app/api/cases/bulk/route.ts
Owners: @justoai/backend-team

refactor: consolidate validation schemas to api-schemas (centralized schemas)
  src/app/api/cases/route.ts
  src/app/api/process/upload/route.ts
  src/lib/ai-cache-manager.ts
  src/lib/credit-system.ts
  src/lib/payment-webhook-handler.ts
  src/lib/report-generator.ts
  src/lib/services/juditOnboardingService.ts
  src/lib/system-importer.ts
  src/lib/timeline-merge.ts
  src/lib/types/type-guards.ts
Owners: @justoai/backend-team, @justoai/core-team

refactor: Add Zod validation to GET/PATCH/DELETE /api/cases/[id]
  src/app/api/cases/[id]/route.ts
  src/app/api/upload/excel/route.ts
  src/lib/types/api-schemas.ts
Owners: @justoai/backend-team, @justoai/core-team

refactor: Refactor GET/POST handlers in /api/cases with Zod validation
  src/app/api/cases/route.ts
Owners: @justoai/backend-team

refactor: Add GetAnalysisQuerySchema and refactor GET /api/process/[id]/analysis with dual validation
  src/app/api/cases/bulk/route.ts
  src/app/api/process/[id]/analysis/route.ts
  src/lib/types/api-schemas.ts
Owners: @justoai/backend-team, @justoai/core-team

refactor: add output validation with type guards for API routes
  src/app/api/process/[id]/analysis/route.ts
  src/app/api/processes/[id]/route.ts
  src/lib/types/type-guards.ts
Owners: @justoai/backend-team, @justoai/core-team

Fix: Update all lib imports to use @/lib alias after consolidation
  components/ui/onboarding.tsx
  components/ui/password-input.tsx
  components/ui/usage-alert.tsx
  middleware.ts
  workers/cache-cleanup-worker.ts
  workers/individual-reports-worker.ts
  workers/process-monitor-worker.ts
  workers/reports-worker.ts
  workers/sync-worker.ts
  workers/usage-aggregator-worker.ts
Owners: @justoai/core-team

fix: resolve CI/CD build failures and broken imports
  .github/workflows/test.yml
  instrumentation.ts
  package-lock.json
  package.json
  src/components/ui/calendar.tsx
  src/components/ui/popover.tsx
  src/components/ui/radio-group.tsx
  workers/reports-worker.ts
Owners: @justoai/devops-team, @justoai/core-team, @justoai/frontend-team

fix: Phase 1 - Eliminate critical TypeScript blockers
  instrumentation.ts
  package-lock.json
  package.json
  prisma/seed.ts
  scripts/test-railway-pdf.ts
  sentry.server.config.ts
  src/app/admin/alerts/page.tsx
  src/app/admin/errors/page.tsx
  src/app/admin/logs/page.tsx
  src/app/admin/page.tsx
  src/app/admin/status/page.tsx
  src/app/api/admin/credits/add/route.ts
  src/app/api/cases/[id]/notes/[noteId]/route.ts
  src/app/api/cases/[id]/notes/route.ts
  src/app/api/documents/[id]/route.ts
  src/app/api/judit/monitoring/setup/route.ts
  src/app/api/judit/onboarding/route.ts
  src/app/api/upload/batch/[id]/retry/route.ts
  src/app/contact/page.tsx
  src/app/dashboard/billing/page.tsx
  src/lib/bull-board.ts
  src/lib/logger.ts
  src/lib/types/vendor.d.ts
  workers/cache-cleanup-worker.ts
  workers/individual-reports-worker.ts
  workers/process-monitor-worker.ts
  workers/reports-worker.ts
  workers/sync-worker.ts
  workers/usage-aggregator-worker.ts
Owners: @justoai/core-team, @justoai/backend-team

chore: Phase 3-5 DATA debt reduction - 579 TypeScript errors eliminated
  prisma/schema.prisma
  src/app/admin/observability/page.tsx
  src/app/admin/page.tsx
  src/app/api/admin/errors/route.ts
  src/app/api/admin/monitoring/route.ts
  src/app/api/cases/[id]/unified-timeline/route.ts
  src/app/api/documents/[id]/analyze/route.ts
  src/app/api/process/[id]/analysis/[version]/route.ts
  src/app/api/process/[id]/analysis/history/route.ts
  src/app/api/process/[id]/analysis/versions/route.ts
  src/app/api/processes/upload/route.ts
  src/app/api/systems/import/[id]/route.ts
  src/app/api/upload/excel/estimate/route.ts
  src/app/api/upload/excel/validate/route.ts
  src/app/api/webhooks/judit/tracking/route.ts
  src/app/dashboard/layout.tsx
  src/components/pricing/plan-card.tsx
  src/components/pricing/plan-modal.tsx
  src/components/process/process-ai-analysis.tsx
  src/lib/error-handling.ts
  src/lib/import-reports.ts
  src/lib/judit-api-client.ts
  src/lib/report-generator.ts
  src/lib/sentry-api-client.ts
  src/lib/services/previewAnalysisService.ts
  src/lib/system-importer.ts
  ts18046_errors.txt
  type-check-output.txt
  type-check-result.txt
  workers/cache-cleanup-worker.ts
  workers/individual-reports-worker.ts
  workers/process-monitor-worker.ts
  workers/reports-worker.ts
  workers/sync-worker.ts
Owners: @justoai/backend-team, @justoai/core-team, @justoai/frontend-team

chore: Phase 9 - DATA debt reduction - Fix upload-dialog.tsx (14 errors resolved)
  fase6_target_analysis.txt
  gemini.md
  src/app/api/admin/monitoring/route.ts
  src/app/api/cases/[id]/events/route.ts
  src/app/api/cases/[id]/notes/[noteId]/route.ts
  src/app/api/cases/[id]/notes/route.ts
  src/app/api/documents/upload/route.ts
  src/app/api/process/[id]/analysis/fast/route.ts
  src/app/api/process/[id]/analysis/full/route.ts
  src/app/api/processes/[id]/route.ts
  src/app/api/processes/route.ts
  src/app/api/reports/generate/route.ts
  src/app/api/reports/history/route.ts
  src/app/api/reports/individual/history/route.ts
  src/app/api/webhook/judit/callback/route.ts
  src/app/api/webhooks/judit/tracking/route.ts
  src/app/dashboard/upload/page.tsx
  src/components/admin/monitoring-dashboard.tsx
  src/components/onboarding/onboarding-progress.tsx
  src/components/onboarding/upload-dialog.tsx
  src/components/ui/__tests__/button.test.tsx
  src/components/ui/__tests__/card.test.tsx
  src/lib/logger.ts
  src/lib/real-analysis-service.ts
  src/lib/report-data-collector.ts
  src/lib/report-scheduler.ts
  src/lib/services/juditService.ts
  src/lib/system-mappings.ts
  type-check-analysis.txt
  type-check-honest-now.txt
  type-check-phase8.txt
Owners: @justoai/core-team, @justoai/docs-team, @justoai/backend-team, @justoai/frontend-team, @justoai/qa-team

fix(types): refactor case notes API route with type guards
  src/app/api/cases/[id]/notes/[noteId]/route.ts
Owners: @justoai/backend-team

chore: Phase 10 DATA debt reduction - Major refactoring pass (577 errors)
  src/app/api/cases/[id]/notes/route.ts
  src/app/api/process/upload/route.ts
  src/app/api/processes/alerts/route.ts
  src/app/api/processes/upload/route.ts
  src/app/api/workspaces/route.ts
  src/components/dashboard/ExportButton.tsx
  src/components/onboarding/upload-dialog.tsx
  src/components/process/process-notes.tsx
  src/jobs/scheduler.ts
  src/lib/bull-board-auth.ts
  src/lib/bull-board.ts
  src/lib/gemini-client.ts
  src/lib/pdf-processor.ts
  src/lib/performance-optimizer.ts
  src/lib/queue/juditQueue.ts
  src/lib/report-data-collector.ts
  src/lib/report-generator.ts
  src/lib/types/type-guards.ts
  workers/process-monitor-worker.ts
Owners: @justoai/backend-team, @justoai/frontend-team, @justoai/core-team

fix: Phase 10 DATA debt - Eliminate 7 TypeScript errors in usage-banner.tsx
  src/components/dashboard/usage-banner.tsx
Owners: @justoai/frontend-team

fix(types): Padrão-Ouro - Refactor process-documents.tsx with type guards
  src/components/process/process-documents.tsx
Owners: @justoai/frontend-team

fix(types): Refactor juditMonitoringService with type guards and safe narrowing
  src/lib/services/juditMonitoringService.ts
Owners: @justoai/core-team

fix(types): Phase 10 DATA debt - Refactor process-monitor.ts and process-apis.ts with Type Guards
  src/lib/process-apis.ts
  src/lib/process-monitor.ts
Owners: @justoai/core-team

fix(types): Phase 10 DATA debt - Continue type safety improvements across multiple files
  src/app/api/admin/status/route.ts
  src/app/api/analytics/route.ts
  src/app/api/billing/credits/route.ts
  src/app/api/documents/upload/route.ts
  src/app/api/webhook/judit/callback/route.ts
  src/components/process/process-summary.tsx
  src/hooks/use-autosave.ts
  src/lib/alerts/ops-alerts.ts
  src/lib/excel-parser.ts
  src/lib/excel-upload-service.ts
  src/lib/report-scheduler.ts
  src/lib/services/juditOnboardingService.ts
  src/lib/services/previewAnalysisService.ts
  src/lib/services/timelineUnifier.ts
  src/lib/system-importer.ts
  src/lib/telemetry/usage-tracker.ts
  src/lib/timeline-merge.ts
  type-check-output.txt
  workers/individual-reports-worker.ts
Owners: @justoai/backend-team, @justoai/frontend-team, @justoai/core-team

fix(types): Phase 10 DATA debt - Files #69 & #70 refactor with Type Guards & Narrowing
  src/app/api/ai/analyze/route.ts
  src/app/api/auth/callback/route.ts
  src/app/api/cases/[id]/timeline/conflicts/resolve/route.ts
  src/app/api/cases/bulk/route.ts
  src/app/api/cases/route.ts
  src/app/api/clients/[id]/route.ts
  src/app/api/clients/route.ts
  src/app/api/credits/balance/route.ts
  src/app/api/credits/consume/route.ts
  src/app/api/credits/history/route.ts
  src/app/api/documents/[id]/analyze/route.ts
  src/app/api/documents/[id]/route.ts
  src/app/api/judit/observability/alerts/route.ts
  src/app/api/process/[id]/analysis/fast/route.ts
  src/app/api/process/[id]/analysis/history/route.ts
  src/app/api/reports/download/[id]/route.ts
  src/app/api/reports/generate/route.ts
  src/app/api/systems/import/[id]/route.ts
  src/app/api/systems/import/route.ts
  src/components/dashboard/CostBreakdownChart.tsx
  src/components/dashboard/client-actions-button.tsx
  src/components/dashboard/dashboard-sidebar.tsx
  src/components/process/process-ai-analysis.tsx
  src/components/reports/schedule-report-modal.tsx
  src/jobs/dailyJuditCheck.ts
  src/lib/__tests__/api-utils.test.ts
  src/lib/aggregation-service.ts
  src/lib/auth.ts
  src/lib/compression.ts
  src/lib/deep-analysis-service.ts
  src/lib/email-service.ts
  src/lib/observability/costTracking.ts
  src/lib/payment-webhook-handler.ts
  src/lib/real-analysis-service.ts
  src/lib/types/api-schemas.ts
  src/lib/types/external-api.ts
Owners: @justoai/backend-team, @justoai/frontend-team, @justoai/core-team, @justoai/qa-team

fix(types): Phase 10 DATA debt - Add final type-check output
  type-check-output.txt
Owners: @justoai/core-team

.github/CODEOWNERS:

# Code Owners for JustoAI V2

# Default owners for everything in the repo
* @justoai/core-team

# Frontend components
/src/components/ @justoai/frontend-team

# API routes
/src/app/api/ @justoai/backend-team

# Database schemas
/prisma/ @justoai/backend-team

# Tests
**/__tests__/ @justoai/qa-team
*.test.ts @justoai/qa-team
*.test.tsx @justoai/qa-team

# CI/CD
/.github/ @justoai/devops-team

# Documentation
*.md @justoai/docs-team
