Repository Carlossouzaadv/JustoAI-vers-o2, changes with the owners that .github/CODEOWNERS names for each.
All owners: @justoai/core-team, @justoai/frontend-team, @justoai/backend-team, @justoai/qa-team, @justoai/devops-team, @justoai/docs-team

.github/CODEOWNERS:

# Code Owners for JustoAI V2

# Default owners for everything in the repo
* @justoai/core-team

# Frontend components
/src/components/ @justoai/frontend-team

# API routes
/src/app/api/ @justoai/backend-team

# Database schemas
/prisma/ @justoai/backend-team

# Tests
**/__tests__/ @justoai/qa-team
*.test.ts @justoai/qa-team
*.test.tsx @justoai/qa-team

# CI/CD
/.github/ @justoai/devops-team

# Documentation
*.md @justoai/docs-team

fix(landing): repair header button, resize cards, replace brain icon, and fix links
  src/components/landing/features.tsx
  src/components/landing/final-cta.tsx
  src/components/landing/hero.tsx
  src/components/landing/how-it-works.tsx
Owners: @justoai/frontend-team

feat: editable process status and sidebar sync
  src/app/dashboard/process/[id]/page.tsx
  src/components/dashboard/dashboard-sidebar.tsx
  src/components/process/process-summary.tsx
Owners: @justoai/core-team, @justoai/frontend-team

fix: resolve pdf processor variable scope and orchestrator type errors
  src/lib/pdf-processor.ts
  src/lib/services/upload/UploadOrchestrator.ts
Owners: @justoai/core-team

style: fix lint error in orchestrator
  src/lib/services/upload/UploadOrchestrator.ts
Owners: @justoai/core-team

fix: add v2.justoai.com.br to CORS allowlist
  src/lib/cors-config.ts
Owners: @justoai/core-team

chore: add middleware debug logs
  middleware.ts
Owners: @justoai/core-team

fix: robust onboarding pipeline - save all analysis data, fix timeline dates, enable document downloads
  prisma/schema.prisma
  src/lib/services/supabaseStorageService.ts
  src/lib/services/timelineUnifier.ts
  src/lib/services/upload/UploadOrchestrator.ts
Owners: @justoai/backend-team, @justoai/core-team

fix: seed.ts - serialize aiAnalysis to string (JSON.stringify)
  prisma/seed.ts
Owners: @justoai/backend-team

fix: serialize aiAnalysis as JSON.stringify() in all endpoints
  src/app/api/documents/[id]/analyze/route.ts
  src/app/api/process/[id]/analysis/full/route.ts
  src/app/api/process/[id]/analysis/route.ts
  src/app/api/process/[id]/analysis/stream/route.ts
  src/app/api/process/upload/route.ts
  src/lib/deep-analysis-service.ts
Owners: @justoai/backend-team, @justoai/core-team

fix: type narrowing for instanceof Date check in timelineUnifier
  .github/copilot-instructions.md
  src/lib/services/timelineUnifier.ts
  upload com ou sem API da JUDIT.txt
Owners: @justoai/docs-team, @justoai/core-team

fix: robust date parsing and correct CaseType enum mapping
  src/lib/services/timelineUnifier.ts
  src/lib/services/upload/UploadOrchestrator.ts
Owners: @justoai/core-team

fix: parse aiAnalysis STRING field in API responses + increase upload size limit
  next.config.ts
  prisma/migrations/20260125_161311_convert_aianalysis_to_text/migration.sql
  src/app/api/process/[id]/analysis/[version]/route.ts
  src/app/api/process/[id]/analysis/fast/route.ts
  src/app/api/process/[id]/analysis/history/route.ts
  src/app/api/process/[id]/analysis/versions/route.ts
  src/lib/services/analysis-parser.ts
Owners: @justoai/core-team, @justoai/backend-team

fix: increase request timeout and use Node.js runtime for large uploads
  next.config.ts
  src/app/api/documents/upload/route.ts
  src/app/api/process/upload/route.ts
Owners: @justoai/core-team, @justoai/backend-team

fix: respect Vercel Hobby plan maxDuration limits
  src/app/api/documents/upload/route.ts
  src/app/api/process/upload/route.ts
  vercel.json
Owners: @justoai/backend-team, @justoai/core-team

feat: implement Railway proxy for large file uploads (PERMANENT SOLUTION)
  src/app/api/documents/upload/route.ts
  src/app/api/process/upload/route.ts
Owners: @justoai/backend-team

feat: direct client upload to Railway (bypass Vercel 4.5MB limit)
  src/app/api/documents/upload/route.ts
  src/app/api/process/upload/route.ts
  src/components/onboarding/upload-dialog.tsx
  src/lib/services/upload-router.ts
  vercel.json
Owners: @justoai/backend-team, @justoai/frontend-team, @justoai/core-team

fix: add CORS headers to upload endpoints for direct client upload
  src/app/api/documents/upload/route.ts
  src/app/api/process/upload/route.ts
Owners: @justoai/backend-team

feat: Option 3 - Direct Supabase uploads with client callback (Scalable)
  SUPABASE_DIRECT_UPLOAD_SETUP.md
  UPLOAD_ARCHITECTURE_FINAL.md
  src/app/api/documents/upload/route.ts
  src/app/api/process/upload-callback/route.ts
  src/app/api/process/upload/route.ts
  src/app/api/storage/signed-url/route.ts
  src/app/api/storage/webhook/route.ts
  src/components/onboarding/upload-dialog.tsx
  src/lib/api-utils.ts
  src/lib/services/upload-router.ts
Owners: @justoai/docs-team, @justoai/backend-team, @justoai/frontend-team, @justoai/core-team

fix: remove unused webhook route (using client callback instead)
  src/app/api/storage/webhook/route.ts
Owners: @justoai/backend-team

fix: send file directly to Supabase (not FormData) - fixes 400 error
  src/lib/services/upload-router.ts
Owners: @justoai/core-team

fix: use PUT method for Supabase signed URL upload - fixes 400 error
  src/lib/services/upload-router.ts
Owners: @justoai/core-team

fix: redirect to specific case page after upload with correct caseId
  src/components/onboarding/upload-dialog.tsx
  src/lib/services/upload-router.ts
Owners: @justoai/frontend-team, @justoai/core-team

feat(debug): enhance logging in upload-callback to track UploadOrchestrator response
  src/app/api/process/upload-callback/route.ts
Owners: @justoai/backend-team

fix: resolve case summary empty issue - extract caseId from result.data and truncate analysisKey
  src/app/api/process/upload-callback/route.ts
  src/lib/services/upload/UploadOrchestrator.ts
Owners: @justoai/backend-team, @justoai/core-team

fix: parse aiAnalysis JSON string from TEXT field in analysis endpoint
  src/app/api/process/[id]/analysis/route.ts
Owners: @justoai/backend-team

fix: resolve ESLint no-explicit-any errors in process-apis and process-monitor
  src/lib/process-apis.ts
  src/lib/process-monitor.ts
Owners: @justoai/core-team

fix: resolve remaining ESLint errors (any types, prefer-const, anonymous export)
  src/lib/escavador-client.ts
  src/lib/excel-template-generator.ts
  src/lib/lgpd-service.ts
Owners: @justoai/core-team

fix: resolve ESLint errors - any types, React hooks deps, type safety
  src/app/api/process/onboarding/route.ts
  src/app/batch/[id]/page.tsx
  src/components/ai-assistant/floating-chat.tsx
  src/jobs/scheduler.ts
Owners: @justoai/backend-team, @justoai/core-team, @justoai/frontend-team

fix: update worker paths - use workers/sync-worker.ts instead of removed juditOnboardingWorker
  Dockerfile
  Dockerfile.worker
  railway.toml
Owners: @justoai/core-team

fix: add COPY workers directory to Dockerfile for Railway worker
  Dockerfile
Owners: @justoai/core-team

fix: Auth 401 - substituir NextAuth por Supabase Auth na rota de onboarding
  src/app/api/process/onboarding/route.ts
Owners: @justoai/backend-team

feat: implementar arquitetura async de onboarding para evitar timeout Vercel
  documentação escavador - v2.txt
  prisma/schema.prisma
  src/app/api/cases/[id]/onboarding-status/route.ts
  src/app/api/process/onboarding/route.ts
  src/app/api/webhook/escavador/route.ts
  src/lib/escavador-client.ts
Owners: @justoai/core-team, @justoai/backend-team

fix: corrigir rota do webhook para /api/webhooks/escavador (com s)
  src/app/api/webhooks/escavador/route.ts
Owners: @justoai/backend-team

fix: corrigir webhook Escavador - estrutura callback e URL
  src/app/api/process/onboarding/route.ts
  src/app/api/webhooks/escavador/route.ts
  src/lib/escavador-client.ts
  src/lib/types/api-schemas.ts
Owners: @justoai/backend-team, @justoai/core-team

feat(webhook): adiciona logs debug e valida token com/sem Bearer prefix
  src/app/api/webhooks/escavador/route.ts
Owners: @justoai/backend-team

feat(webhook): adiciona endpoint de teste para diagnóstico
  src/app/api/webhooks/escavador/test/route.ts
Owners: @justoai/backend-team

feat: Otimização Onboarding Escavador V2 com fluxo de 3 fases
  RELATORIO-ESCAVADOR.md
  scripts/check-case-data.ts
  scripts/check-escavador-status.ts
  scripts/fetch-escavador-data.ts
  scripts/solicitar-atualizacao.ts
  scripts/test-resumo-ia.ts
  src/app/api/process/onboarding/route.ts
  src/app/api/webhooks/escavador/route.ts
  src/lib/escavador-client.ts
  src/lib/services/onboardingService.ts
Owners: @justoai/docs-team, @justoai/core-team, @justoai/backend-team

fix(eslint): corrigido erros de strict linting no Vercel build
  src/app/api/webhooks/escavador/route.ts
  src/lib/services/onboardingService.ts
Owners: @justoai/backend-team, @justoai/core-team

fix(onboarding): fallback assincrono para autos quando ocorre erro 422 de cache
  arquivos para teste/~$Acompanhamento processual - Guaracamp.xlsx
  src/lib/services/onboardingService.ts
Owners: @justoai/core-team

fix(monitoramento): atualiza endpoint para api/v2/monitoramentos/processos
  src/lib/escavador-client.ts
Owners: @justoai/core-team
