Repository Carlossouzaadv/JustoAI-vers-o2, changes with the owners that .github/CODEOWNERS names for each.
All owners: @justoai/core-team, @justoai/frontend-team, @justoai/backend-team, @justoai/qa-team, @justoai/devops-team, @justoai/docs-team

.github/CODEOWNERS:

# Code Owners for JustoAI V2

# Default owners for everything in the repo
* @justoai/core-team

# Frontend components
/src/components/ @justoai/frontend-team

# API routes
/src/app/api/ @justoai/backend-team

# Database schemas
/prisma/ @justoai/backend-team

# Tests
**/__tests__/ @justoai/qa-team
*.test.ts @justoai/qa-team
*.test.tsx @justoai/qa-team

# CI/CD
/.github/ @justoai/devops-team

# Documentation
*.md @justoai/docs-team

fix(admin): rename logs route to system-logs to avoid 404
  src/app/admin/layout.tsx
  src/app/admin/system-logs/page.tsx
Owners: @justoai/core-team

fix(landing): resolve import errors with relative paths
  src/app/page.tsx
Owners: @justoai/core-team

fix(landing): resolve relative imports and use optimizing hero copy
  src/components/landing/features.tsx
  src/components/landing/hero.tsx
  src/components/landing/pricing.tsx
Owners: @justoai/frontend-team

feat: implement ROI calculator on landing page
  package-lock.json
  package.json
  src/app/admin/dashboard/judit/page.tsx
  src/app/admin/layout.tsx
  src/app/admin/logs/page.tsx
  src/app/api/sse/subscribe/route.ts
  src/app/page.tsx
  src/components/dashboard/CostsChart.tsx
  src/components/dashboard/LatencyChart.tsx
  src/components/landing/roi-calculator.tsx
  src/components/ui/slider.tsx
Owners: @justoai/core-team, @justoai/backend-team, @justoai/frontend-team

feat: add Enterprise pricing tier
  src/app/pricing/page.tsx
  src/components/landing/pricing.tsx
  src/components/modals/enterprise-modal.tsx
  src/components/pricing/feature-matrix.tsx
  src/components/pricing/plan-card.tsx
  src/components/ui/slider.tsx
  src/config/pricing.json
Owners: @justoai/core-team, @justoai/frontend-team

fix: build errors in pricing component
  src/components/landing/pricing.tsx
Owners: @justoai/frontend-team

feat: optimize landing page footer, faq, cta and fix production build
  build_log.txt
  eslint.config.mjs
  final_lint.txt
  lint_log.txt
  lint_log_2.txt
  lint_output.txt
  public/dashboard-preview.svg
  src/app/page.tsx
  src/components/landing/case-studies.tsx
  src/components/landing/faq.tsx
  src/components/landing/features.tsx
  src/components/landing/final-cta.tsx
  src/components/landing/footer.tsx
  src/components/landing/hero.tsx
  src/components/landing/how-it-works.tsx
  src/components/landing/pricing.tsx
  src/components/landing/roi-calculator.tsx
  src/components/landing/social-proof-mini.tsx
  src/components/landing/social-proof.tsx
  src/components/landing/video-section.tsx
  src/lib/compression.ts
  src/lib/icons.ts
Owners: @justoai/core-team, @justoai/frontend-team

feat: complete onboarding overhaul and fix database connection
  package-lock.json
  package.json
  prisma/schema.prisma
  scripts/fix-db-enum.ts
  src/app/api/health/system/route.ts
  src/app/api/users/me/route.ts
  src/app/api/users/onboarding/route.ts
  src/app/dashboard/page.tsx
  src/components/dashboard/process-list.tsx
  src/components/dashboard/welcome-dashboard.tsx
  src/components/dashboard/welcome-onboarding.tsx
  src/lib/api-utils.ts
  src/lib/auth.ts
  src/lib/utils/client-display.ts
  tsconfig.json
Owners: @justoai/core-team, @justoai/backend-team, @justoai/frontend-team

fix(build): add .npmrc to force legacy peer deps for React 19 compatibility
  .npmrc
Owners: @justoai/core-team

fix: replace clerk import with local auth context in dashboard
  src/app/dashboard/page.tsx
Owners: @justoai/core-team

fix: resolve type error in admin activity route
  src/app/api/admin/activity/route.ts
  src/app/dashboard/page.tsx
  src/components/dashboard/welcome-dashboard.tsx
  src/components/dashboard/welcome-onboarding.tsx
  src/lib/utils/client-display.ts
Owners: @justoai/backend-team, @justoai/core-team, @justoai/frontend-team

fix: resolve schema conflicts, worker types, and build errors
  audit_output.json
  audit_report_data.txt
  investigation_answers.txt
  prisma/schema.prisma.backup
  prisma/schema.prisma.backup2
  schema_analysis_outputs.txt
  schema_diff.prisma
  scripts/audit_db.ts
  scripts/collect_custom_audit.ts
  scripts/verify_fixes.ts
  src/app/api/users/me/route.ts
  src/app/api/webhook/judit/status/route.ts
  src/app/api/webhooks/judit/tracking/route.ts
  src/lib/services/summaryConsolidator.ts
  src/workers/juditOnboardingWorker.ts
Owners: @justoai/core-team, @justoai/backend-team

fix: resolve build errors (schema relations, worker types, lint fixes)
  prisma/schema.prisma
  src/app/dashboard/page.tsx
  src/lib/credit-system.ts
  workers/rollback-worker.ts
Owners: @justoai/backend-team, @justoai/core-team

fix: resolve build errors (schema mismatches, type safety, relation names)
  build_log.txt
  src/lib/credit-system.ts
  src/lib/deep-analysis-service.ts
  src/lib/excel-upload-service.ts
  src/lib/judit-api-client.ts
  src/lib/middleware/quota-enforcement.ts
  src/lib/quota-system.ts
  src/lib/report-scheduler.ts
  src/lib/services/juditMonitoringService.ts
  src/lib/services/juditOnboardingService.ts
Owners: @justoai/core-team

feat: add resend confirmation link to login page and fix test dependencies
  package-lock.json
  package.json
  src/app/login/page.tsx
Owners: @justoai/core-team

fix(security): prevent workspace data leakage via route caching
  scripts/test-supabase-auth.ts
  src/app/api/clients/route.ts
  src/app/api/users/current/route.ts
  src/app/api/users/me/route.ts
  src/app/api/workspaces/[id]/summary/route.ts
  src/components/dashboard/dashboard-sidebar.tsx
Owners: @justoai/core-team, @justoai/backend-team, @justoai/frontend-team

chore(deps): upgrade next.js and fix lint/useEffect warnings
  components/ui/calendar.tsx
  package-lock.json
  package.json
  src/app/api/documents/upload/route.ts
  src/app/api/systems/import/route.ts
  src/app/batch/[id]/page.tsx
  src/lib/services/logger.ts
  src/lib/types/database.ts
  src/lib/types/type-guards.ts
Owners: @justoai/core-team, @justoai/backend-team

fix: add orderBy to getCurrentUser workspaces
  .env.example
  src/lib/auth.ts
Owners: @justoai/core-team

chore: add debug logs for workspaceId investigation
  src/components/dashboard/dashboard-sidebar.tsx
  src/contexts/auth-context.tsx
Owners: @justoai/frontend-team, @justoai/core-team

fix: improve dashboard loading and error handling
  src/app/dashboard/page.tsx
Owners: @justoai/core-team

chore: add error boundary and dashboard logs
  src/app/dashboard/page.tsx
  src/components/error-boundary.tsx
Owners: @justoai/core-team, @justoai/frontend-team

fix: resolve lint errors in sidebar and error boundary
  src/components/dashboard/dashboard-sidebar.tsx
  src/components/error-boundary.tsx
Owners: @justoai/frontend-team

fix(api): resolve onboarding 500 error by mapping role to settings
  src/app/api/users/onboarding/route.ts
Owners: @justoai/backend-team

fix(lint): replace explicit any with unknown in onboarding api
  src/app/api/users/onboarding/route.ts
Owners: @justoai/backend-team

fix: resolve broken dashboard links and empty settings
  src/app/dashboard/settings/page.tsx
  src/components/dashboard/welcome-dashboard.tsx
Owners: @justoai/core-team, @justoai/frontend-team

fix(final): correct dashboard tip, robust pdf parsing, investigate username
  src/app/api/documents/upload/route.ts
  src/components/dashboard/welcome-dashboard.tsx
Owners: @justoai/backend-team, @justoai/frontend-team

fix(settings): resolve User type error
  src/app/dashboard/settings/page.tsx
Owners: @justoai/core-team

fix(api): allow CUID in route params validation
  src/lib/types/api-schemas.ts
Owners: @justoai/core-team

fix(api): fix lint errors and improve friendly error messages in onboarding
  src/components/onboarding/onboarding-progress.tsx
  src/lib/types/api-schemas.ts
Owners: @justoai/frontend-team, @justoai/core-team

fix(lint): remove explicit any from error handler
  src/components/onboarding/onboarding-progress.tsx
Owners: @justoai/frontend-team

refactor(api): modularize upload route into services (clean code)
  src/app/api/documents/upload/route.ts
  src/lib/services/upload/ProcessIdentificationService.ts
  src/lib/services/upload/UploadAnalysisService.ts
  src/lib/services/upload/UploadOrchestrator.ts
Owners: @justoai/backend-team, @justoai/core-team

refactor: split upload logic and pdf processor into services, fix lint errors
  src/lib/pdf-processor.ts
  src/lib/services/pdf/PdfValidator.ts
  src/lib/services/pdf/RailwayClient.ts
  src/lib/services/upload/UploadAnalysisService.ts
  src/lib/services/upload/UploadOrchestrator.ts
Owners: @justoai/core-team

fix: resolve no-explicit-any lint errors in RailwayClient and UploadOrchestrator
  src/lib/services/pdf/RailwayClient.ts
  src/lib/services/upload/UploadOrchestrator.ts
Owners: @justoai/core-team

fix: cast originalDocument to correct type for caseId access
  src/lib/services/upload/UploadOrchestrator.ts
Owners: @justoai/core-team

chore: complete TODO audit, convert TODOs to DEFERRED notes
  src/lib/services/batch-status-service.ts
  src/lib/services/juditService.ts
  src/lib/services/upload/ProcessIdentificationService.ts
  src/lib/telemetry/usage-tracker.ts
Owners: @justoai/core-team

fix: resolve high-priority TODOs (authorName, workspaceId params)
  src/components/onboarding/excel-upload-dialog.tsx
  src/components/process/process-notes.tsx
  src/hooks/__tests__/useExcelValidator.test.ts
  src/hooks/useExcelValidator.ts
Owners: @justoai/frontend-team, @justoai/qa-team, @justoai/core-team

fix: implement batch retry/cancel, defer Reports TODOs pending API
  src/app/batch/[id]/page.tsx
  src/app/dashboard/reports/page.tsx
  src/lib/services/batch-status-service.ts
Owners: @justoai/core-team

feat: connect Reports frontend to existing backend APIs
  src/app/dashboard/reports/page.tsx
Owners: @justoai/core-team

feat: add client/process selector to Reports scheduling form
  src/app/dashboard/reports/page.tsx
Owners: @justoai/core-team

feat: implement email (Resend) and webhook notifications for alerts
  src/lib/alerts/ops-alerts.ts
  src/lib/observability/alerting.ts
Owners: @justoai/core-team
