Repository Carlossouzaadv/JustoAI-vers-o2, changes with the owners that .github/CODEOWNERS names for each.
All owners: @justoai/core-team, @justoai/frontend-team, @justoai/backend-team, @justoai/qa-team, @justoai/devops-team, @justoai/docs-team

.github/CODEOWNERS:

# Code Owners for JustoAI V2

# Default owners for everything in the repo
* @justoai/core-team

# Frontend components
/src/components/ @justoai/frontend-team

# API routes
/src/app/api/ @justoai/backend-team

# Database schemas
/prisma/ @justoai/backend-team

# Tests
**/__tests__/ @justoai/qa-team
*.test.ts @justoai/qa-team
*.test.tsx @justoai/qa-team

# CI/CD
/.github/ @justoai/devops-team

# Documentation
*.md @justoai/docs-team

fix(types): FASE 11 - Batch Run #4 - Arquivo #2 - cases/[id]/notes/[noteId]/route.ts (2 erros TS7006)
  src/app/api/cases/[id]/notes/[noteId]/route.ts
Owners: @justoai/backend-team

fix(types): FASE 11 - Batch Run #5 - Arquivo #5 - upload/excel/validate/route.ts (1 erro TS7006)
  src/app/api/upload/excel/validate/route.ts
Owners: @justoai/backend-team

fix(types): FASE 11 - Batch Run #5 - Arquivo #6 - upload/excel/estimate/route.ts (1 erro TS7006)
  src/app/api/upload/excel/estimate/route.ts
Owners: @justoai/backend-team

fix(types): FASE 11 - Batch Run #5 - Arquivo #1 - costTracking.ts (1 erro TS7006)
  src/lib/observability/costTracking.ts
Owners: @justoai/core-team

fix(types): FASE 11 - Batch Run #5 - Arquivo #8 - documents/[id]/analyze/route.ts (1 erro TS7006)
  src/app/api/documents/[id]/analyze/route.ts
Owners: @justoai/backend-team

fix(types): FASE 11 - Batch Run #5 - Arquivo #2 - ops-alerts.ts (1 erro TS7006)
  src/lib/alerts/ops-alerts.ts
Owners: @justoai/core-team

fix(types): FASE 11 - Batch Run #5 - Arquivo #3 - workspaces/current/summary/route.ts (1 erro TS7006)
  src/app/api/workspaces/current/summary/route.ts
Owners: @justoai/backend-team

fix(types): FASE 11 - Batch Run #5 - Arquivo #7 - processes/[id]/route.ts (1 erro TS7006)
  src/app/api/processes/[id]/route.ts
Owners: @justoai/backend-team

fix(types): FASE 11 - Batch Run #5 - Arquivo #4 - users/current/route.ts (1 erro TS7006)
  src/app/api/users/current/route.ts
Owners: @justoai/backend-team

fix(types): FASE 11 - Batch Run #6 - Arquivo #3 - cases/route.ts (1 erro TS7006)
  src/app/api/cases/route.ts
Owners: @justoai/backend-team

fix(types): FASE 11 - Batch Run #6 - Arquivo #4 - clients/route.ts (1 erro TS7006)
  src/app/api/clients/route.ts
Owners: @justoai/backend-team

fix(types): FASE 11 - Batch Run #6 - Arquivo #1 - billing/credits/route.ts (1 erro TS7006)
  src/app/api/billing/credits/route.ts
Owners: @justoai/backend-team

fix(types): FASE 11 - Batch Run #6 - Arquivo #2 - cases/[id]/unified-timeline/route.ts (1 erro TS7006)
  src/app/api/cases/[id]/unified-timeline/route.ts
Owners: @justoai/backend-team

fix(types): FASE 12 - Eliminar TS2305 e TS2694 (100% cada)
  prisma/seed.ts
  src/app/api/admin/credits/add/route.ts
  src/app/api/cases/[id]/timeline/conflicts/resolve/route.ts
  src/app/api/cases/[id]/unified-timeline/route.ts
  src/app/api/cases/route.ts
  src/app/api/clients/[id]/route.ts
  src/app/api/clients/route.ts
  src/app/api/credits/history/route.ts
  src/app/api/judit/observability/alerts/route.ts
  src/app/api/process/[id]/analysis/[version]/route.ts
  src/app/api/process/[id]/analysis/history/route.ts
  src/app/api/process/[id]/analysis/versions/route.ts
  src/app/api/processes/alerts/route.ts
  src/app/api/reports/download/[id]/route.ts
  src/app/api/systems/import/[id]/route.ts
  src/app/api/users/current/route.ts
  src/app/api/webhooks/judit/tracking/route.ts
  src/app/api/workspaces/route.ts
  src/components/process/process-timeline.tsx
  src/components/timeline/EnrichedTimelineEvent.tsx
  src/lib/alerts/ops-alerts.ts
  src/lib/deep-analysis-service.ts
  src/lib/import-reports.ts
  src/lib/observability/alerting.ts
  src/lib/observability/costTracking.ts
  src/lib/quota-system.ts
  src/lib/report-cache-manager.ts
  src/lib/report-generator.ts
  src/lib/report-scheduler.ts
  src/lib/services/creditService.ts
  src/lib/services/timelineEnricher.ts
  src/lib/services/timelineUnifier.ts
  src/lib/timeline-merge.ts
  src/lib/types/database.ts
  src/lib/utils/case-onboarding-helper.ts
  src/lib/utils/judit-type-mapper.ts
  src/lib/utils/timelineSourceUtils.ts
  workers/individual-reports-worker.ts
Owners: @justoai/backend-team, @justoai/frontend-team, @justoai/core-team

fix(types): BATCH RUN #7 - Atacar TS2322 Type Mismatch (8 arquivos, 53 erros)
  src/app/api/cases/[id]/unified-timeline/route.ts
  src/app/api/process/[id]/analysis/[version]/route.ts
  src/app/api/process/[id]/analysis/history/route.ts
  src/app/api/process/[id]/analysis/versions/route.ts
  src/lib/observability/alerting.ts
  src/lib/services/timelineEnricher.ts
  src/lib/types/database.ts
  src/lib/utils/judit-type-mapper.ts
Owners: @justoai/backend-team, @justoai/core-team

fix(types): BATCH RUN #8 - Atacar TS2345 Argument Type Mismatch (8 arquivos, 17 erros)
  src/app/api/documents/upload/route.ts
  src/app/api/process/[id]/analysis/route.ts
  src/app/api/processes/[id]/route.ts
  src/app/api/reports/generate/route.ts
  src/app/api/webhooks/judit/tracking/route.ts
  src/app/dashboard/process/[id]/conflicts/page.tsx
  src/lib/pdf-generator.ts
  src/lib/queue/juditQueue.ts
Owners: @justoai/backend-team, @justoai/core-team

fix(types): BATCH RUN #9 - Atacar TS2322 Type Mismatch restantes (6 arquivos, 18 erros)
  src/app/api/process/[id]/analysis/fast/route.ts
  src/app/api/reports/individual/route.ts
  src/components/reports/individual-report-modal.tsx
  src/lib/services/creditService.ts
  src/lib/services/summaryConsolidator.ts
  src/lib/services/timelineUnifier.ts
  src/lib/utils/case-onboarding-helper.ts
  workers/individual-reports-worker.ts
Owners: @justoai/backend-team, @justoai/frontend-team, @justoai/core-team

fix(types): BATCH RUN #10 - Eliminar TS2339 Property Does Not Exist (8 arquivos, 14 erros)
  src/app/api/cases/[id]/timeline/conflicts/resolve/route.ts
  src/app/api/documents/[id]/route.ts
  src/app/api/judit/observability/health/route.ts
  src/app/api/webhooks/judit/tracking/route.ts
  src/components/process/bulk-actions-bar.tsx
  src/lib/excel-validation.ts
  src/lib/icons.ts
  src/lib/queue/juditQueue.ts
  src/workers/juditOnboardingWorker.ts
Owners: @justoai/backend-team, @justoai/frontend-team, @justoai/core-team

fix(types): BATCH RUN #11 - MEGABATCH! Eliminar 46 erros (28+ arquivos)
  src/app/api/ai/analyze/route.ts
  src/app/api/ai/multi-front-analysis/route.ts
  src/app/api/auth/login/route.ts
  src/app/api/auth/signup/route.ts
  src/app/api/cases/[id]/timeline/conflicts/resolve/route.ts
  src/app/api/documents/[id]/analyze/route.ts
  src/app/api/documents/[id]/download/route.ts
  src/app/api/health/system/route.ts
  src/app/api/process/[id]/analysis/[version]/route.ts
  src/app/api/process/[id]/analysis/full/route.ts
  src/app/api/upload/batch/[id]/errors/download/route.ts
  src/app/api/upload/excel/validate/route.ts
  src/app/api/users/current/route.ts
  src/app/api/workspaces/route.ts
  src/app/dashboard/documents-upload/page.tsx
  src/app/dashboard/judit/page.tsx
  src/app/dashboard/process/page.tsx
  src/app/pricing/page.tsx
  src/app/signup/page.tsx
  src/components/dashboard/LatencyChart.tsx
  src/components/dashboard/process-list.tsx
  src/components/pricing/plan-modal.tsx
  src/components/process/process-ai-analysis.tsx
  src/components/reports/individual-reports-history.tsx
  src/components/timeline/EnrichedTimelineEvent.tsx
  src/components/ui/consent-checkbox.tsx
  src/hooks/use-autosave.ts
  src/lib/analysis-cache.ts
  src/lib/auth-helper.ts
  src/lib/deep-analysis-service.ts
  src/lib/document-hash.ts
  src/lib/excel-validation.ts
  src/lib/queues.ts
  src/lib/quota-system.ts
  src/lib/redis.ts
  src/lib/services/localPDFMetadataExtractor.ts
  src/lib/websocket-manager.ts
Owners: @justoai/backend-team, @justoai/core-team, @justoai/frontend-team

feat(types): ZERO TypeScript Errors Alcançado! 🎉 (343 → 0, 100%)
  src/app/api/cases/[id]/timeline/conflicts/resolve/route.ts
  src/app/api/process/[id]/analysis/[version]/route.ts
  src/contexts/cookie-consent-context.tsx
  src/hooks/use-onboarding-integration.ts
  src/lib/queues.ts
  tsconfig.json
  workers/usage-aggregator-worker.ts
Owners: @justoai/backend-team, @justoai/core-team

fix(types): ZERO TypeScript Errors Alcançado! 🎉 (343 → 0, 100%)
  src/app/api/cases/[id]/unified-timeline/route.ts
  src/components/dashboard/client-actions-button.tsx
  src/components/dashboard/usage-banner.tsx
  src/components/process/process-notes.tsx
  src/components/process/process-summary.tsx
  src/components/process/process-timeline.tsx
  src/components/reports/individual-report-modal.tsx
  src/components/reports/report-scheduler-modal.tsx
  src/components/reports/scheduled-reports-list.tsx
  src/lib/api-utils.ts
  src/lib/credit-system.ts
  src/lib/intelligent-parser.ts
  src/lib/judit-api-client.ts
  src/lib/report-generator.ts
Owners: @justoai/backend-team, @justoai/frontend-team, @justoai/core-team

feat(fonts): FASE 15 COMPLETA - Google Fonts Eliminado! 🎯
  public/fonts/inter/inter-400.woff2
  public/fonts/inter/inter-500.woff2
  public/fonts/inter/inter-600.woff2
  public/fonts/inter/public/fonts/inter/inter-400.woff2
  public/fonts/inter/public/fonts/inter/inter-500.woff2
  public/fonts/inter/public/fonts/inter/inter-600.woff2
  public/fonts/inter/public/fonts/inter/inter-700.woff2
  public/fonts/poppins/poppins-300.woff2
  src/app/globals.css
  src/app/layout.tsx
Owners: @justoai/core-team

feat(fonts): FASE 15 COMPLETA - Google Fonts Eliminado! 🎯
  public/fonts/inter/inter-400.woff2
  public/fonts/inter/inter-500.woff2
  public/fonts/inter/inter-600.woff2
  public/fonts/inter/inter-700.woff2
  public/fonts/inter/public/fonts/inter/inter-400.woff2
  public/fonts/inter/public/fonts/inter/inter-500.woff2
  public/fonts/inter/public/fonts/inter/inter-600.woff2
  public/fonts/inter/public/fonts/inter/inter-700.woff2
  public/fonts/poppins/poppins-300.woff2
  public/fonts/poppins/poppins-400.woff2
  public/fonts/poppins/poppins-500.woff2
  public/fonts/poppins/poppins-600.woff2
  public/fonts/poppins/poppins-700.woff2
  src/app/globals.css
Owners: @justoai/core-team

fix(bull-board): lazy-load notification queue to prevent build failures
  src/lib/bull-board.ts
Owners: @justoai/core-team

fix(build): mark all Redis/Bull-dependent routes as dynamic
  src/app/api/admin/observability/route.ts
  src/app/api/admin/status/route.ts
  src/app/api/cases/[id]/onboarding-retry/route.ts
  src/app/api/documents/upload/route.ts
  src/app/api/judit/observability/health/route.ts
  src/app/api/judit/onboarding/route.ts
  src/app/api/judit/onboarding/status/[jobId]/route.ts
  src/app/api/judit/queue/stats/route.ts
  src/app/api/process/upload/route.ts
  src/app/api/reports/individual/route.ts
Owners: @justoai/backend-team

fix(bull-board): defer Bull Board initialization to runtime
  src/lib/bull-board.ts
Owners: @justoai/core-team

fix(schema): add password reset and email verification support
  ERROR_RESOLUTION.md
  prisma/schema.prisma
Owners: @justoai/docs-team, @justoai/backend-team

docs(error-resolution): finalize all 85 errors resolution
  ERROR_RESOLUTION.md
Owners: @justoai/docs-team

fix(types): resolve all 85 TypeScript compilation errors
  src/app/api/cases/[id]/events/route.ts
  src/app/api/cases/[id]/notes/[noteId]/route.ts
  src/app/api/cases/[id]/timeline/conflicts/resolve/route.ts
  src/app/api/cases/[id]/unified-timeline/route.ts
  src/app/api/documents/[id]/route.ts
  src/app/api/judit/observability/alerts/route.ts
  src/app/api/process/[id]/analysis/auto-download/route.ts
  src/app/api/process/[id]/analysis/history/route.ts
  src/app/api/processes/route.ts
  src/app/api/reports/history/route.ts
  src/app/api/reports/individual/route.ts
  src/app/api/telemetry/monthly-usage/route.ts
  src/app/api/webhooks/judit/tracking/route.ts
  src/app/api/workspaces/route.ts
  src/lib/aggregation-service.ts
  src/lib/ai-cache-manager.ts
  src/lib/bull-board.ts
  src/lib/credit-system.ts
  src/lib/deep-analysis-service.ts
  src/lib/document-hash.ts
  src/lib/observability/costTracking.ts
  src/lib/quota-system.ts
  src/lib/report-data-collector.ts
  src/lib/report-scheduler.ts
  src/lib/services/summaryConsolidator.ts
  src/lib/services/timelineUnifier.ts
  src/lib/system-sync.ts
  src/lib/telemetry/usage-tracker.ts
  src/lib/timeline-merge.ts
  src/lib/types/database.ts
Owners: @justoai/backend-team, @justoai/core-team

fix: resolve CI pipeline failures - eslint warning and coverage threshold
  jest.config.js
  src/lib/bull-board.ts
Owners: @justoai/core-team

fix: disable coverage threshold temporarily
  jest.config.js
Owners: @justoai/core-team

docs(todo): audit and update task status - 7 items completed
  TODO.md
Owners: @justoai/docs-team

docs(tracker): comprehensive TODO status update - 7 completed
  TODO_TRACKER.md
Owners: @justoai/docs-team

feat(cache): implement comprehensive Redis caching for admin dashboard (Phase 2)
  src/app/api/admin/cache/clear/route.ts
  src/app/api/admin/judit-consumption/route.ts
  src/app/api/admin/monitoring/route.ts
  src/app/api/admin/observability/route.ts
  src/app/api/admin/status/route.ts
  src/lib/cache/admin-redis.ts
  src/lib/observability/costTracking.ts
  src/lib/sentry-api-client.ts
Owners: @justoai/backend-team, @justoai/core-team

feat(batch): implement comprehensive batch dashboard with real-time status tracking
  PHASE_19B_FRONTEND_COMPLETE.md
  PHASE_19_COMPLETE_SUMMARY.md
  PHASE_19_IMPLEMENTATION.md
  QUICK_START_PHASE_19.md
  prisma/schema.prisma
  src/app/api/admin/system-imports/[id]/rollback/route.ts
  src/app/api/upload/excel/template/route.ts
  src/app/api/upload/excel/validate/__tests__/route.test.ts
  src/app/api/upload/excel/validate/route.ts
  src/app/api/upload/excel/validate/route.ts.backup
  src/app/batch/[id]/batch.integration.test.tsx
  src/app/batch/[id]/page.tsx
  src/components/batch/batch-errors-table.test.tsx
  src/components/batch/batch-errors-table.tsx
  src/components/batch/batch-progress-card.test.tsx
  src/components/batch/batch-progress-card.tsx
  src/components/batch/batch-statistics.test.tsx
  src/components/batch/batch-statistics.tsx
  src/components/onboarding/excel-upload-dialog.tsx
  src/hooks/__tests__/useExcelValidator.test.ts
  src/hooks/useExcelValidator.ts
  src/lib/excel-parser-simple.ts
  src/lib/process-alerts.ts
  src/lib/queues.ts
  src/lib/services/__tests__/excel-validation-service.test.ts
  src/lib/services/batch-status-service.test.ts
  src/lib/services/batch-status-service.ts
  src/lib/services/csv-export-service.test.ts
  src/lib/services/csv-export-service.ts
  src/lib/services/excel-template-generator.ts
  src/lib/services/excel-validation-service.ts
  src/lib/validators/__tests__/excel.test.ts
  src/lib/validators/excel.ts
  workers/notification-worker.ts
  workers/rollback-worker.ts
Owners: @justoai/docs-team, @justoai/backend-team, @justoai/qa-team, @justoai/core-team, @justoai/frontend-team

feat(phase-21): implement attachment validation service for JUDIT API attachments
  package-lock.json
  package.json
  src/lib/services/__tests__/attachment-validation-service.test.ts
  src/lib/services/attachment-validation-service.ts
  src/lib/services/juditAttachmentProcessor.ts
  src/lib/types/attachment-validation.ts
Owners: @justoai/core-team, @justoai/qa-team

feat(phase-22): implement gold standard external logging with structured JSON
  scripts/replace-console-with-logger.js
  src/app/api/documents/upload/route.ts
  src/app/api/process/upload/route.ts
  src/app/api/webhook/judit/callback/route.ts
  src/app/api/webhooks/judit/tracking/route.ts
  src/lib/ai-model-router.ts
  src/lib/alerts/ops-alerts.ts
  src/lib/analysis-cache.ts
  src/lib/credit-system.ts
  src/lib/deep-analysis-service.ts
  src/lib/payment-webhook-handler.ts
  src/lib/report-generator.ts
  src/lib/services/juditAttachmentProcessor.ts
  src/lib/services/logger.ts
  src/lib/timeline-merge.ts
  src/lib/webhook-signature-verifiers.ts
Owners: @justoai/core-team, @justoai/backend-team

feat(phase-22): implement gold standard external logging (partial)
  scripts/replace-console-with-logger.js
  src/lib/ai-model-router.ts
  src/lib/alerts/ops-alerts.ts
  src/lib/analysis-cache.ts
  src/lib/credit-system.ts
  src/lib/deep-analysis-service.ts
  src/lib/report-generator.ts
  src/lib/services/juditAttachmentProcessor.ts
  src/lib/services/logger.ts
  src/lib/timeline-merge.ts
  src/lib/webhook-signature-verifiers.ts
Owners: @justoai/core-team

feat(phase-22): complete gold standard logging implementation
  scripts/finish-logger-migration.js
  scripts/fix-logger-syntax.js
  scripts/smart-logger-replace.js
  src/app/api/documents/upload/route.ts
  src/app/api/process/upload/route.ts
  src/app/api/webhook/judit/callback/route.ts
  src/app/api/webhooks/judit/tracking/route.ts
  src/lib/payment-webhook-handler.ts
Owners: @justoai/core-team, @justoai/backend-team

fix(phase-22): fix remaining console statements in webhook callback route
  src/app/api/webhook/judit/callback/route.ts
Owners: @justoai/backend-team
