Repository Carlossouzaadv/JustoAI-vers-o2, changes with the owners that .github/CODEOWNERS names for each.
All owners: @justoai/core-team, @justoai/frontend-team, @justoai/backend-team, @justoai/qa-team, @justoai/devops-team, @justoai/docs-team

.github/CODEOWNERS:

# Code Owners for JustoAI V2

# Default owners for everything in the repo
* @justoai/core-team

# Frontend components
/src/components/ @justoai/frontend-team

# API routes
/src/app/api/ @justoai/backend-team

# Database schemas
/prisma/ @justoai/backend-team

# Tests
**/__tests__/ @justoai/qa-team
*.test.ts @justoai/qa-team
*.test.tsx @justoai/qa-team

# CI/CD
/.github/ @justoai/devops-team

# Documentation
*.md @justoai/docs-team

feat(reports): implement report scheduling CRUD and delivery notifications
  src/app/api/reports/schedule/[id]/route.ts
  src/lib/notification-service.ts
  src/lib/report-scheduler.ts
Owners: @justoai/backend-team, @justoai/core-team

feat(webhooks): implement JUDIT webhook movement and status alerts
  src/app/api/webhooks/judit/tracking/route.ts
Owners: @justoai/backend-team

feat(sse): implement server-sent events for real-time dashboard updates
  src/app/api/sse/subscribe/route.ts
  src/app/api/webhooks/judit/tracking/route.ts
  src/lib/report-scheduler.ts
  src/lib/websocket-manager.ts
Owners: @justoai/backend-team, @justoai/core-team

docs: update TODO_TRACKER and add IMPLEMENTATION_LOG
  IMPLEMENTATION_LOG.md
  TODO_TRACKER.md
Owners: @justoai/docs-team

feat(priority-1): implement PDF OCR and process monitoring
  .claude/settings.local.json
  package.json
  prisma/schema.prisma
  src/app/api/health/system/route.ts
  src/lib/job-logger.ts
  src/lib/pdf-extractor.js
  src/lib/pdf-processor.ts
  src/lib/webhook-delivery-service.ts
Owners: @justoai/core-team, @justoai/backend-team

docs: update TODO_TRACKER and README with Priority 1 completions
  README.md
  TODO_TRACKER.md
Owners: @justoai/docs-team

migration: add webhook delivery and job execution tables
  prisma/migrations/20251102_webhook_job_monitoring.sql
Owners: @justoai/backend-team

fix(ocr): remove canvas and tesseract from Vercel build
  .vercelignore
  package.json
Owners: @justoai/core-team

docs: add OCR architecture documentation
  docs/OCR_ARCHITECTURE.md
Owners: @justoai/docs-team

docs(todo): create comprehensive TODO tracking document with 42 items
  README.md
  TODO.md
Owners: @justoai/docs-team

docs(sprint): update all documentation for next sprint
  README.md
  TODO.md
  TODO_TRACKER.md
  resumo_projeto_atual.md
Owners: @justoai/docs-team

feat(observability): implement real Sentry integration for production error tracking
  instrumentation.ts
  lib/alerts/ops-alerts.ts
  lib/api-error-handler.ts
  lib/sentry-init.ts
  lib/sentry.server.config.ts
  package-lock.json
  package.json
Owners: @justoai/core-team

feat(security): implement payment webhook signature verification
  lib/payment-signature-verification.ts
  lib/payment-webhook-handler.ts
Owners: @justoai/core-team

feat(security): implement workspace role-based access control
  lib/permission-validator.ts
  src/app/api/ai/analyze/route.ts
Owners: @justoai/core-team, @justoai/backend-team

feat(bull-board): implement access control with admin-only authorization
  lib/permission-validator.ts
  src/lib/bull-board-auth.ts
  src/lib/bull-board.ts
Owners: @justoai/core-team

feat(observability): add sentry dashboard and admin monitoring
  lib/sentry-api-client.ts
  src/app/admin/layout.tsx
  src/app/admin/observability/page.tsx
  src/app/api/admin/observability/route.ts
Owners: @justoai/core-team, @justoai/backend-team

docs(readme): document observability dashboard and resolved critical issues
  README.md
Owners: @justoai/docs-team

docs: add comprehensive configuration reference guide
  README.md
Owners: @justoai/docs-team

security: remove real API keys from README and documentation
  README.md
Owners: @justoai/docs-team

fix(imports): move lib files to src/lib for correct path resolution
  src/lib/permission-validator.ts
  src/lib/sentry-api-client.ts
Owners: @justoai/core-team

fix(imports): correct relative import path in bull-board-auth.ts
  src/lib/bull-board-auth.ts
Owners: @justoai/core-team

fix(queues): remove references to disabled queue functions in bull-board.ts
  src/lib/bull-board.ts
Owners: @justoai/core-team

feat(sentry): activate real error tracking and payment webhook verification
  .gitignore
  lib/sentry.server.config.ts
  next.config.ts
  sentry.edge.config.ts
  sentry.server.config.ts
  src/app/global-error.tsx
  src/instrumentation-client.ts
  src/instrumentation.ts
  src/lib/alerts/ops-alerts.ts
  src/lib/cors.ts
  src/lib/payment-webhook-handler.ts
  src/lib/webhook-signature-verifiers.ts
Owners: @justoai/core-team

docs: update README with Nov 3 progress and next steps
  README.md
Owners: @justoai/docs-team

feat(admin): implement two-level admin permission validation
  src/app/api/admin/circuit-breaker/route.ts
  src/app/api/admin/judit-consumption/route.ts
  src/app/api/admin/monitoring/route.ts
  src/app/api/admin/observability/route.ts
  src/lib/permission-validator.ts
Owners: @justoai/backend-team, @justoai/core-team

feat(bull-board): implement RBAC for queue dashboard
  src/app/admin/queues/page.tsx
  src/lib/bull-board-auth.ts
  src/lib/bull-board.ts
Owners: @justoai/core-team

feat(credits): implement real credit management system
  package-lock.json
  src/app/api/admin/credits/add/route.ts
  src/lib/services/creditService.ts
Owners: @justoai/core-team, @justoai/backend-team

feat(credits): integrate real credit system into analysis and report endpoints
  src/app/api/ai/analyze/route.ts
  src/app/api/documents/[id]/analyze/route.ts
  src/app/api/process/[id]/analysis/full/route.ts
  src/app/api/reports/generate/route.ts
  src/lib/permission-validator.ts
Owners: @justoai/backend-team, @justoai/core-team

feat(auth): add forgot password and resend verification email features
  src/app/api/auth/forgot-password/route.ts
  src/app/api/auth/resend-verification/route.ts
  src/app/login/page.tsx
Owners: @justoai/backend-team, @justoai/core-team

docs: update project status - 2/4 blockers + feature 1 complete, ~3-4 weeks to launch
  README.md
Owners: @justoai/docs-team

feat: Implement BLOCKER 1 & 2 - Sentry error tracking and payment webhooks
  .env.example
  src/app/api/debug/sentry-test/route.ts
  src/app/api/process/[id]/analysis/full/route.ts
  src/app/api/webhooks/payment/route.ts
  src/lib/sentry-error-handler.ts
Owners: @justoai/core-team, @justoai/backend-team

docs: Add comprehensive MVP features roadmap and implementation guides
  FEATURES_ROADMAP.txt
  docs/MVP_FEATURES_IMPLEMENTATION_GUIDE.md
  docs/MVP_QUICK_START.md
Owners: @justoai/core-team, @justoai/docs-team

feat: Implement Features 2, 3, and 5 - Document APIs, Case Notes CRUD, Excel Retry
  IMPLEMENTATION_SUMMARY.txt
  src/app/api/cases/[id]/notes/[noteId]/route.ts
  src/app/api/cases/[id]/notes/route.ts
  src/app/api/documents/[id]/route.ts
  src/app/api/upload/batch/[id]/errors/download/route.ts
  src/app/api/upload/batch/[id]/retry/route.ts
  src/app/api/upload/batch/[id]/status/route.ts
  src/lib/excel-validation.ts
Owners: @justoai/core-team, @justoai/backend-team

docs: Update roadmap - Mark Features 2, 3, 5 as complete (20-29h done)
  FEATURES_ROADMAP.txt
Owners: @justoai/core-team

feat: Implement Feature 4 Phase 1&2 - Telemetry API Wrapper & Real Endpoints
  src/app/api/telemetry/active-alerts/route.ts
  src/app/api/telemetry/monthly-usage/route.ts
  src/lib/judit-api-wrapper.ts
Owners: @justoai/backend-team, @justoai/core-team

docs: Update roadmap - F2,3,5 complete + F4 Phase 1&2 in progress
  FEATURES_ROADMAP.txt
Owners: @justoai/core-team

feat: FEATURE 4 Phase 3 - Telemetry Integration Points (Onboarding, Analysis, Document Analysis)
  FEATURES_ROADMAP.txt
  src/app/api/documents/[id]/analyze/route.ts
  src/app/api/documents/[id]/route.ts
  src/app/api/judit/onboarding/route.ts
  src/app/api/judit/onboarding/status/[jobId]/route.ts
  src/app/api/process/[id]/analysis/fast/route.ts
  src/app/api/process/[id]/analysis/route.ts
Owners: @justoai/core-team, @justoai/backend-team

feat: FEATURE 4 Phase 4 - Daily Aggregation Job & Alert System (COMPLETE)
  FEATURES_ROADMAP.txt
  src/app/api/cron/daily-aggregation/route.ts
  src/lib/aggregation-service.ts
Owners: @justoai/core-team, @justoai/backend-team

feat: Implement comprehensive admin dashboard with monitoring tools
  src/app/admin/alerts/page.tsx
  src/app/admin/errors/page.tsx
  src/app/admin/layout.tsx
  src/app/admin/logs/page.tsx
  src/app/admin/page.tsx
  src/app/admin/status/page.tsx
  src/app/api/admin/errors/route.ts
  src/app/api/admin/logs/route.ts
  src/app/api/admin/status/route.ts
Owners: @justoai/core-team, @justoai/backend-team

feat: Add telemetry tracking to Reports and Document Upload endpoints
  src/app/api/documents/upload/route.ts
  src/app/api/reports/individual/route.ts
Owners: @justoai/backend-team
