Repository Carlossouzaadv/JustoAI-vers-o2, changes with the owners that .github/CODEOWNERS names for each.
All owners: @justoai/core-team, @justoai/frontend-team, @justoai/backend-team, @justoai/qa-team, @justoai/devops-team, @justoai/docs-team

fix(types): correct error variable reference in previewAnalysisService
  src/lib/services/previewAnalysisService.ts
Owners: @justoai/core-team

fix(types): correct error variable reference in previewAnalysisService line 169
  src/lib/services/previewAnalysisService.ts
Owners: @justoai/core-team

fix(types): correct error variable reference in summaryConsolidator line 392
  src/lib/services/summaryConsolidator.ts
Owners: @justoai/core-team

fix(types): correct all error variable references in summaryConsolidator
  src/lib/services/summaryConsolidator.ts
Owners: @justoai/core-team

fix(types): correct all Supabase Storage API error handling in supabaseStorageService
  src/lib/services/supabaseStorageService.ts
Owners: @justoai/core-team

fix(types): correct result.error to result._error in AI analyze route
  src/app/api/ai/analyze/route.ts
Owners: @justoai/backend-team

fix(types): correct result._error to result.error in AI analyze route
  src/app/api/ai/analyze/route.ts
Owners: @justoai/backend-team

fix(types): correct throw _error to throw error in timelineEnricher
  src/lib/services/timelineEnricher.ts
Owners: @justoai/core-team

fix(types): correct result.error to result._error in juditOnboardingWorker
  src/workers/juditOnboardingWorker.ts
Owners: @justoai/core-team

fix(types): correct error to _error in worker-stats-service reportFailure
  src/lib/services/worker-stats-service.ts
Owners: @justoai/core-team

fix(types): correct variable name in slack-service error handler
  src/lib/slack-service.ts
Owners: @justoai/core-team

fix(types): correct undefined _error to error in slack-service catch block
  src/lib/slack-service.ts
Owners: @justoai/core-team

fix(types): correct _error to error for PostgrestSingleResponse in supabase-ts
  src/lib/supabase.ts
Owners: @justoai/core-team

fix(types): correct _error to error in system-importer
  src/lib/system-importer.ts
Owners: @justoai/core-team

fix(types): correct throw _error to throw error in system-importer
  src/lib/system-importer.ts
Owners: @justoai/core-team

fix(types): correct _error to error in system-importer catch block
  src/lib/system-importer.ts
Owners: @justoai/core-team

fix(types): correct _error to error in system-sync.ts catch block
  src/lib/system-sync.ts
Owners: @justoai/core-team

fix(types): correct _error to error in token-optimizer catch block
  src/lib/token-optimizer.ts
Owners: @justoai/core-team

fix(types): correct _error to error in parseProcessUpload function
  src/lib/types/api-schemas.ts
Owners: @justoai/core-team

fix(types): correct _error to error in parseCreateAnalysis function
  src/lib/types/api-schemas.ts
Owners: @justoai/core-team

fix(types): correct _error to error in parseCasesListQuery function
  src/lib/types/api-schemas.ts
Owners: @justoai/core-team

fix(types): rename _error to error across all type definitions
  src/app/api/billing/credits/route.ts
  src/app/api/webhooks/payment/route.ts
  src/components/batch/batch-errors-table.tsx
  src/lib/payment-webhook-handler.ts
  src/lib/services/batch-status-service.ts
  src/lib/services/csv-export-service.test.ts
  src/lib/services/csv-export-service.ts
  src/lib/services/excel-validation-service.ts
  src/lib/services/juditMonitoringService.ts
  src/lib/services/juditOnboardingService.ts
  src/lib/types/api-schemas.ts
  src/lib/types/external-api.ts
  src/lib/utils/auth-helpers.ts
  src/lib/webhook-delivery-service.ts
  src/workers/juditOnboardingWorker.ts
Owners: @justoai/backend-team, @justoai/frontend-team, @justoai/core-team, @justoai/qa-team

feat(sprint3): add comprehensive critical API tests for payment, credits, JUDIT, and quota
  SPRINTS.md
  src/lib/__tests__/credits-system-comprehensive.test.ts
  src/lib/__tests__/judit-api-integration.test.ts
  src/lib/__tests__/quota-system-comprehensive.test.ts
  src/lib/__tests__/stripe-webhook-integration.test.ts
Owners: @justoai/docs-team, @justoai/qa-team

docs(sprint3): add testing summary and achievement documentation
  SPRINT3_TESTING_SUMMARY.md
Owners: @justoai/docs-team

test(sprint3): add comprehensive test coverage for payment flow, services, and components
  DATABASE-INDEXING.md
  SPRINTS.md
  src/app/api/admin/metrics/route.ts
  src/app/api/notifications/sms/route.ts
  src/lib/__tests__/component-ui-integration.test.ts
  src/lib/__tests__/payment-credits-quota-integration.test.ts
  src/lib/__tests__/webhook-quota-service.test.ts
  src/lib/circuit-breaker.ts
  src/lib/services/__tests__/excel-validation-service.test.ts
  src/lib/services/batch-status-service.test.ts
  src/lib/sms-service.ts
Owners: @justoai/docs-team, @justoai/backend-team, @justoai/qa-team, @justoai/core-team

fix(types): resolve TypeScript and ESLint violations for type safety compliance
  src/app/api/admin/metrics/route.ts
  src/app/api/notifications/sms/route.ts
  src/lib/__tests__/component-ui-integration.test.ts
  src/lib/__tests__/webhook-quota-service.test.ts
  src/lib/sms-service.ts
Owners: @justoai/backend-team, @justoai/qa-team, @justoai/core-team

fix(types): resolve TypeScript compilation errors for type safety
  src/app/api/notifications/sms/route.ts
  src/lib/__tests__/payment-credits-quota-integration.test.ts
  src/lib/circuit-breaker.ts
Owners: @justoai/backend-team, @justoai/qa-team, @justoai/core-team

fix(lint): resolve 60+ ESLint warnings for MVP readiness
  src/lib/__tests__/payment-credits-quota-integration.test.ts
  src/lib/report-scheduler.ts
  src/lib/services/attachment-validation-service.ts
  src/lib/services/batch-status-service.ts
  src/lib/services/creditService.ts
  src/lib/services/juditMonitoringService.ts
  src/lib/services/juditOnboardingService.ts
  src/lib/services/juditService.ts
  src/lib/services/logger.ts
  src/lib/services/previewAnalysisService.ts
  src/lib/services/timelineEnricher.ts
  src/lib/sms-service.ts
  src/lib/system-mappings.ts
  src/lib/system-sync.ts
  src/lib/telemetry/usage-tracker.ts
  src/lib/text-cleaner.ts
  src/lib/timeline-merge.ts
  src/lib/utils/auth-helpers.ts
Owners: @justoai/qa-team, @justoai/core-team

docs(sprints): update with cleanup completion and MVP readiness status
  SPRINTS.md
Owners: @justoai/docs-team

Update Next.js and React Flight packages for RCE fix
  package-lock.json
  package.json
Owners: @justoai/core-team

chore(security): ensure example env files are ignored
  .gitignore
Owners: @justoai/core-team

fix(security): upgrade next.js to v16.0.7 (CVE-2025-66478)
  next.config.ts
  package-lock.json
  package.json
Owners: @justoai/core-team

fix(deps): downgrade next.js to 15.5.7 to resolve next-auth conflict (CVE-2025-66478 patched)
  package-lock.json
  package.json
Owners: @justoai/core-team

fix(db): add missing auth columns to users table (fixes P2022 in prod)
  prisma/migrations/20251208_fix_user_auth_columns/migration.sql
Owners: @justoai/backend-team

fix(db): add missing trialEndsAt column to workspaces table
  prisma/migrations/20251208_fix_workspace_trial_column/migration.sql
Owners: @justoai/backend-team

fix(db): map credit models to snake_case and add catch-up migration
  prisma/migrations/20251208_fix_credit_system_all_tables/migration.sql
  prisma/schema.prisma
Owners: @justoai/backend-team

fix(frontend): handle empty data in charts to prevent crashes
  src/app/admin/dashboard/judit/page.tsx
  src/components/dashboard/CostBreakdownChart.tsx
Owners: @justoai/core-team, @justoai/frontend-team

fix(frontend): enforce number casting in charts to prevent crashes
  src/app/admin/dashboard/judit/page.tsx
  src/components/dashboard/CostBreakdownChart.tsx
Owners: @justoai/core-team, @justoai/frontend-team

fix(frontend): remove invalid crisp chatbox:settings call
  src/components/crisp-chat.tsx
Owners: @justoai/frontend-team

fix(frontend): use relative import for auth-context
  src/components/crisp-chat.tsx
Owners: @justoai/frontend-team

.github/CODEOWNERS:

# Code Owners for JustoAI V2

# Default owners for everything in the repo
* @justoai/core-team

# Frontend components
/src/components/ @justoai/frontend-team

# API routes
/src/app/api/ @justoai/backend-team

# Database schemas
/prisma/ @justoai/backend-team

# Tests
**/__tests__/ @justoai/qa-team
*.test.ts @justoai/qa-team
*.test.tsx @justoai/qa-team

# CI/CD
/.github/ @justoai/devops-team

# Documentation
*.md @justoai/docs-team
