Repository Carlossouzaadv/JustoAI-vers-o2, changes with the owners that .github/CODEOWNERS names for each.
All owners: @justoai/core-team, @justoai/frontend-team, @justoai/backend-team, @justoai/qa-team, @justoai/devops-team, @justoai/docs-team

.github/CODEOWNERS:

# Code Owners for JustoAI V2

# Default owners for everything in the repo
* @justoai/core-team

# Frontend components
/src/components/ @justoai/frontend-team

# API routes
/src/app/api/ @justoai/backend-team

# Database schemas
/prisma/ @justoai/backend-team

# Tests
**/__tests__/ @justoai/qa-team
*.test.ts @justoai/qa-team
*.test.tsx @justoai/qa-team

# CI/CD
/.github/ @justoai/devops-team

# Documentation
*.md @justoai/docs-team

docs: add comprehensive Railway 502 debugging guide
  RAILWAY_502_DEBUG.md
Owners: @justoai/docs-team

fix(pdf): implement aggressive timeout and graceful error handling
  src/app/api/pdf/process/route.ts
  src/lib/pdf-processor.ts
Owners: @justoai/backend-team, @justoai/core-team

fix(pdf): implement 5-second timeout + graceful degradation for Railway
  src/app/api/pdf/process/route.ts
Owners: @justoai/backend-team

fix(dockerfile): correct directory structure and add dependency verification
  Dockerfile.api
Owners: @justoai/core-team

fix(railway): force correct Dockerfile path for API service
  railway.toml
Owners: @justoai/core-team

chore: rename Dockerfile to Dockerfile.workers for clarity
  Dockerfile.workers
Owners: @justoai/core-team

fix(railway): correct service names to match Railway deployment
  railway.toml
Owners: @justoai/core-team

fix: regenerate clean package-lock.json
  package-lock.json
Owners: @justoai/core-team

fix(pdf): fix undefined processingTime variable
  src/app/api/pdf/process/route.ts
Owners: @justoai/backend-team

fix(deps): remove package-lock.json from git to let Railway generate with npm 9.x
  .gitignore
  package-lock.json
Owners: @justoai/core-team

infra(nixpacks): add custom build configuration for Railway
  nixpacks.toml
Owners: @justoai/core-team

fix(nixpacks): correct start command for Next.js standalone server
  nixpacks.toml
Owners: @justoai/core-team

fix(deps): regenerate package-lock.json and configure Vercel for npm install
  .gitignore
  package-lock.json
  vercel.json
Owners: @justoai/core-team

fix(vercel): remove migrations from build command
  vercel.json
Owners: @justoai/core-team

fix(infra): remove railway.toml to let Nixpacks auto-detect
  railway.toml
Owners: @justoai/core-team

fix(infra): add Procfile for Railway to override default start commands
  Procfile
Owners: @justoai/core-team

fix(infra): re-add railway.toml with NIXPACKS builder and correct start commands
  railway.toml
Owners: @justoai/core-team

fix(infra): correct Next.js standalone server path in deployment config
  Procfile
  nixpacks.toml
  railway.toml
Owners: @justoai/core-team

fix(infra): configure all deployment layers with correct standalone path
  nixpacks.toml
  railway.toml
Owners: @justoai/core-team

fix(health): make healthcheck resilient to database failures
  src/app/api/health/route.ts
Owners: @justoai/backend-team

fix(docker): allow .next/ folder in container for standalone mode
  .dockerignore
Owners: @justoai/core-team

fix(deploy): use multi-stage Dockerfile instead of Nixpacks
  Dockerfile
  Procfile
  nixpacks.toml
  railway.toml
Owners: @justoai/core-team

fix(dockerfile): use bookworm instead of alpine for build tools
  Dockerfile
Owners: @justoai/core-team

fix(dockerfile): generate prisma client before next.js build
  Dockerfile
Owners: @justoai/core-team

fix(dockerfile): remove invalid shell syntax from COPY command
  Dockerfile
Owners: @justoai/core-team

fix(dockerfile): copy node_modules and install openssl for prisma
  Dockerfile
Owners: @justoai/core-team

fix(workers): create separate dockerfile and railway config for workers service
  Dockerfile.workers
  railway.toml
Owners: @justoai/core-team

fix(dockerfile): include src/ for workers, consolidate to single dockerfile
  Dockerfile
  Dockerfile.workers
  railway.toml
Owners: @justoai/core-team

fix(dockerfile): copy tsconfig and package.json for tsx path alias resolution
  Dockerfile
Owners: @justoai/core-team

fix(docker): add poppler-utils for PDF text extraction
  Dockerfile
Owners: @justoai/core-team

fix(cache): correct parameter types for analysis cache calls
  README.md
  src/app/api/documents/upload/route.ts
  src/app/api/process/[id]/analysis/route.ts
Owners: @justoai/docs-team, @justoai/backend-team

feat(onboarding-ui): complete 3-phase onboarding interface
  src/app/api/documents/upload/route.ts
  src/app/dashboard/documents-upload/page.tsx
  src/components/onboarding/onboarding-progress.tsx
  src/components/onboarding/preview-results.tsx
  src/components/onboarding/upload-dialog.tsx
Owners: @justoai/backend-team, @justoai/core-team, @justoai/frontend-team

feat(onboarding-ui): add process status component and integration guide
  ONBOARDING_UI_INTEGRATION.md
  src/components/process/process-onboarding-status.tsx
Owners: @justoai/docs-team, @justoai/frontend-team

fix(build): disable static prerendering for documents-upload page
  src/app/dashboard/documents-upload/page.tsx
Owners: @justoai/core-team

fix(build): refactor documents-upload page to server+client pattern
  src/app/dashboard/documents-upload/documents-upload-client.tsx
  src/app/dashboard/documents-upload/page.tsx
Owners: @justoai/core-team

fix(infra): create missing JUDIT database tables
  prisma/migrations/20251021_create_judit_models.sql
  scripts/apply-judit-migration.js
Owners: @justoai/backend-team, @justoai/core-team

fix(onboarding): resolve JUDIT integration issues
  CLAUDE.md
  prisma/schema.prisma
  src/app/dashboard/page.tsx
  src/app/dashboard/process/page.tsx
  src/components/dashboard/dashboard-header.tsx
  src/components/dashboard/welcome-onboarding.tsx
  src/lib/services/juditOnboardingService.ts
Owners: @justoai/docs-team, @justoai/backend-team, @justoai/core-team, @justoai/frontend-team

perf(redis): optimize upstash cost by reducing keepAlive PINGs
  src/lib/redis.ts
Owners: @justoai/core-team

fix(prisma): correct schema mapping syntax from @db.name() to @map()
  prisma/schema.prisma
Owners: @justoai/backend-team

fix(redis): resolve connection drops every 35s on Upstash
  src/lib/redis.ts
Owners: @justoai/core-team
