Repository Carlossouzaadv/JustoAI-vers-o2, changes with the owners that .github/CODEOWNERS names for each.
All owners: @justoai/core-team, @justoai/frontend-team, @justoai/backend-team, @justoai/qa-team, @justoai/devops-team, @justoai/docs-team

.github/CODEOWNERS:

# Code Owners for JustoAI V2

# Default owners for everything in the repo
* @justoai/core-team

# Frontend components
/src/components/ @justoai/frontend-team

# API routes
/src/app/api/ @justoai/backend-team

# Database schemas
/prisma/ @justoai/backend-team

# Tests
**/__tests__/ @justoai/qa-team
*.test.ts @justoai/qa-team
*.test.tsx @justoai/qa-team

# CI/CD
/.github/ @justoai/devops-team

# Documentation
*.md @justoai/docs-team

fix(timeline-merge): correct template literal syntax in log messages
  src/lib/timeline-merge.ts
Owners: @justoai/core-team

feat(phase-24): implement atomic refund logic with iron gate pattern
  src/app/api/process/[id]/analysis/full/route.ts
  src/lib/credit-system.ts
Owners: @justoai/backend-team, @justoai/core-team

feat(phase-25): implement gold standard alert service for critical errors
  src/app/api/process/[id]/analysis/full/route.ts
  src/lib/services/alert-service.test.ts
  src/lib/services/alert-service.ts
Owners: @justoai/backend-team, @justoai/qa-team, @justoai/core-team

feat(phase-26): implement gold standard admin dashboard with real APIs
  src/app/admin/activity/page.tsx
  src/app/admin/alerts/page.tsx
  src/app/admin/layout.tsx
  src/app/admin/page.tsx
  src/app/api/admin/activity/route.ts
  src/app/api/admin/alerts/route.ts
  src/app/api/admin/stats/route.ts
  src/components/AdminActivity.tsx
Owners: @justoai/core-team, @justoai/backend-team, @justoai/frontend-team

feat(phase-27): implement user-focused dashboard APIs with real credit balance and activity feeds
  src/app/api/user/activity/route.ts
  src/app/api/user/balance/route.ts
  src/app/dashboard/billing/page.tsx
  src/components/dashboard/activity-feed.tsx
  src/components/dashboard/credits-card.tsx
Owners: @justoai/backend-team, @justoai/core-team, @justoai/frontend-team

feat(phase-28-29): implement posthog analytics + worker job ledger
  PHASE_29_WORKER_STATS_REFACTORING.md
  package-lock.json
  package.json
  prisma/schema.prisma
  src/app/api/process/[id]/analysis/full/route.ts
  src/app/providers.tsx
  src/components/providers/PostHogProvider.tsx
  src/lib/services/analytics-service.ts
  src/lib/services/worker-stats-service.ts
Owners: @justoai/docs-team, @justoai/core-team, @justoai/backend-team, @justoai/frontend-team

feat(phase-30): add Redis health check to system monitoring (Gold Standard)
  src/app/api/health/system/route.ts
Owners: @justoai/backend-team

feat(phase-33): implement Gold Standard dashboard sidebar alerts
  src/app/admin/layout.tsx
  src/components/ui/alert-badge.tsx
  src/hooks/useSseAlerts.ts
Owners: @justoai/core-team, @justoai/frontend-team

feat(phase-33): implement alert count broadcast backend integration
  src/app/api/admin/alerts/route.ts
  src/lib/alerts/alert-broadcast.ts
Owners: @justoai/backend-team, @justoai/core-team

feat(phase-36): complete MVP gold standard with PDF export, document notes, and contact forms
  src/app/api/contact/route.ts
  src/app/api/documents/[id]/notes/route.ts
  src/app/api/export/pdf/route.ts
  src/app/api/health/system/route.ts
  src/app/api/pdf/process/route.ts
  src/app/api/process/[id]/analysis/stream/route.ts
  src/app/contact/page.tsx
  src/app/contato-suporte/page.tsx
  src/components/dashboard/ExportButton.tsx
  src/components/process/process-documents.tsx
  src/lib/ai-model-router.ts
  src/lib/gemini-client.ts
  src/lib/services/pdf-extraction-service.ts
Owners: @justoai/backend-team, @justoai/core-team, @justoai/frontend-team

docs: add comprehensive executive report for stakeholder onboarding
  EXECUTIVE_REPORT.md
Owners: @justoai/docs-team

docs: add comprehensive business documentation suite in Portuguese
  ANALISE_COMPETITIVA.md
  FINANCIAL_MODEL.md
  GO_TO_MARKET_PLAN.md
  JUDIT_ANALYSIS_REPORT.md
  ONBOARDING_PLAYBOOK.md
  ONE_PAGER.md
  PITCH_DECK.md
  PRODUCT_ROADMAP.md
  RELATORIO_EXECUTIVO.md
  ROI_CALCULATOR.md
  SALES_PLAYBOOK.md
  SECURITY_COMPLIANCE.md
Owners: @justoai/docs-team

docs: remove English executive report (keep Portuguese version only)
  EXECUTIVE_REPORT.md
Owners: @justoai/docs-team

test(phase-38): implement financial integrity and webhook security tests
  TEST-COVERAGE-PHASE38.md
  TEST-RESULTS.md
  package-lock.json
  package.json
  src/lib/__tests__/credit-system.test.ts
  src/lib/__tests__/mocks/prisma-mock.ts
  src/lib/__tests__/payment-webhook-handler.test.ts
  src/lib/alerts/ops-alerts.ts
  src/lib/validators/excel.ts
Owners: @justoai/docs-team, @justoai/core-team, @justoai/qa-team

feat(SSOT): implement production-ready Single Source of Truth for plans, credits, and billing
  deploy-scripts/09_migrate_plans_to_ssot.sql
  src/__tests__/config/plans.test.ts
  src/__tests__/lib/services/planService.test.ts
  src/app/api/billing/credits/route.ts
  src/app/api/credits/consume/route.ts
  src/app/api/credits/purchase/route.ts
  src/app/api/reports/quota-status/route.ts
  src/config/plans.ts
  src/config/pricing.json
  src/hooks/useCreditLogic.ts
  src/lib/credit-system.ts
  src/lib/services/planService.ts
  src/lib/subscription-limits.ts
Owners: @justoai/core-team, @justoai/qa-team, @justoai/backend-team

chore(db): execute SSOT plan migration in production database
  execute-migration.js
  prisma/schema.prisma
Owners: @justoai/core-team, @justoai/backend-team

feat(Phase 5-8): implement trial system, admin billing dashboard, email templates, icon improvements, and ROI calculator
  FINANCIAL_MODEL.md
  ONE_PAGER.md
  PITCH_DECK.md
  prisma/migrations/20251118_add_trial_plan.sql
  prisma/migrations/20251118_migrate_daily_to_weekly.sql
  prisma/schema.prisma
  public/icons/atencao.svg
  public/icons/calendario.svg
  public/icons/cliente.svg
  public/icons/creditos.svg
  public/icons/documentos.svg
  public/icons/ia.svg
  public/icons/tempo.svg
  public/icons/upload.svg
  src/app/admin/billing/page.tsx
  src/app/admin/layout.tsx
  src/app/api/admin/billing/workspaces/route.ts
  src/app/api/auth/signup/route.ts
  src/app/api/cron/trial-reminders/route.ts
  src/app/roi-calculator/page.tsx
  src/components/roi-calculator/roi-calculator.tsx
  src/lib/email-service.ts
  src/lib/report-scheduler.ts
  src/lib/roi-calculator.ts
  src/lib/services/creditService.ts
  src/lib/services/trialService.ts
Owners: @justoai/docs-team, @justoai/backend-team, @justoai/core-team, @justoai/frontend-team

fix(types): improve type safety in trialService.convertTrialToPaidPlan
  src/lib/services/trialService.ts
Owners: @justoai/core-team

fix(worker): resolve SIGTERM errors in JUDIT onboarding worker
  Dockerfile.worker
  WORKER_DEPLOYMENT.md
  docker-compose.yml
  package.json
Owners: @justoai/core-team, @justoai/docs-team

fix(auth): resolve TypeScript errors in signup route
  src/app/api/auth/signup/route.ts
Owners: @justoai/backend-team

docs: update README and add comprehensive Phases 1-9 documentation
  PHASES_1_TO_9_IMPLEMENTATION.md
  README.md
Owners: @justoai/docs-team

feat(crisp): implement CRISP chat widget and support documentation
  .env.example
  CRISP_IMPLEMENTATION_SUMMARY.md
  CRISP_KNOWLEDGE_BASE_READY.md
  DOCUMENTATION_MAP.md
  package.json
  scripts/extract-help-content.js
  scripts/sync-crisp-kb.js
  src/app/api/process/upload/route.ts
  src/app/api/processes/upload/route.ts
  src/app/layout.tsx
  src/components/crisp-chat.tsx
Owners: @justoai/core-team, @justoai/docs-team, @justoai/backend-team, @justoai/frontend-team

fix: resolve TypeScript and ESLint errors from GitHub Actions build
  src/app/admin/activity/page.tsx
  src/components/crisp-chat.tsx
  src/lib/alerts/ops-alerts.ts
  src/lib/credit-system.ts
  src/lib/services/excel-template-generator.ts
  src/lib/services/logger.ts
Owners: @justoai/core-team, @justoai/frontend-team

fix: resolve remaining TypeScript type safety issues
  src/lib/alerts/alert-broadcast.ts
  src/lib/gemini-client.ts
  src/lib/payment-webhook-handler.ts
  src/lib/services/attachment-validation-service.ts
  src/lib/services/excel-template-generator.ts
  src/lib/services/pdf-extraction-service.ts
  src/lib/services/worker-stats-service.ts
  src/lib/timeline-merge.ts
  src/lib/validators/excel.ts
Owners: @justoai/core-team

fix: install resend and disable prerender for auth-dependent pages
  package-lock.json
  package.json
  src/app/admin/observability/page.tsx
  src/app/help/relatórios-automáticos/configurando-entrega-por-email/page.tsx
Owners: @justoai/core-team

fix(build): resolve prerender errors by marking dynamic pages
  src/app/admin/activity/page.tsx
  src/app/admin/alerts/page.tsx
  src/app/admin/billing/page.tsx
  src/app/admin/dashboard/judit/page.tsx
  src/app/admin/errors/page.tsx
  src/app/admin/layout.tsx
  src/app/admin/logs/page.tsx
  src/app/admin/observability/page.tsx
  src/app/admin/page.tsx
  src/app/admin/queues/page.tsx
  src/app/admin/status/page.tsx
  src/app/layout.tsx
Owners: @justoai/core-team

fix(types): remove all TypeScript errors and warnings according to gold standard
  src/.next/cache/eslint/.cache_vnffgg
  src/app/api/admin/alerts/route.ts
  src/app/api/documents/upload/route.ts
  src/app/api/process/[id]/analysis/full/route.ts
  src/app/api/process/upload/route.ts
  src/app/api/webhook/judit/callback/route.ts
  src/app/api/webhooks/judit/tracking/route.ts
  src/app/batch/[id]/page.tsx
  src/components/crisp-chat.tsx
  src/hooks/__tests__/useExcelValidator.test.ts
  src/lib/ai-model-router.ts
  src/lib/alerts/alert-broadcast.ts
  src/lib/alerts/ops-alerts.ts
  src/lib/analysis-cache.ts
  src/lib/credit-system.ts
  src/lib/deep-analysis-service.ts
  src/lib/payment-webhook-handler.ts
  src/lib/report-generator.ts
  src/lib/services/csv-export-service.test.ts
  src/lib/services/csv-export-service.ts
  src/lib/services/excel-template-generator.ts
  src/lib/services/excel-validation-service.ts
  src/lib/services/juditAttachmentProcessor.ts
  src/lib/services/logger.ts
  src/lib/services/pdf-extraction-service.ts
  src/lib/services/worker-stats-service.ts
  src/lib/timeline-merge.ts
  src/lib/webhook-signature-verifiers.ts
  src/tsconfig.json
Owners: @justoai/core-team, @justoai/backend-team, @justoai/frontend-team, @justoai/qa-team

fix(sentry): improve sourcemap upload configuration
  next.config.ts
Owners: @justoai/core-team

fix(sentry): disable sourcemap upload to eliminate false warnings
  next.config.ts
Owners: @justoai/core-team

fix: move CrispChat inside AuthProvider to fix context error
  src/app/layout.tsx
Owners: @justoai/core-team

fix(sentry): silence 120+ sourcemap warnings with debug: false
  next.config.ts
Owners: @justoai/core-team

fix(sentry): disable webpack plugin in Vercel production to eliminate sourcemap warnings
  next.config.ts
Owners: @justoai/core-team

fix(types): resolve TypeScript errors - icons, providers, routes
  prisma/schema.prisma
  src/app/api/admin/activity/route.ts
  src/app/api/contact/route.ts
  src/app/api/webhooks/judit/tracking/route.ts
  src/components/crisp-chat.tsx
  src/components/providers/PostHogProvider.tsx
  src/lib/icons.ts
Owners: @justoai/backend-team, @justoai/frontend-team, @justoai/core-team

fix(tests): remove unsafe type casts and fix mock types
  src/hooks/__tests__/useExcelValidator.test.ts
  src/lib/__tests__/mocks/prisma-mock.ts
  src/lib/services/csv-export-service.test.ts
Owners: @justoai/qa-team

fix(types): resolve 30+ TypeScript errors with type-safe narrowing
  src/app/api/admin/activity/route.ts
  src/app/api/admin/alerts/route.ts
  src/app/api/admin/billing/workspaces/route.ts
  src/app/api/process/[id]/analysis/full/route.ts
  src/app/api/process/[id]/analysis/stream/route.ts
  src/app/api/upload/excel/template/route.ts
  src/app/api/user/activity/route.ts
  src/app/api/user/balance/route.ts
  src/app/batch/[id]/page.tsx
  src/components/onboarding/excel-upload-dialog.tsx
  src/components/providers/PostHogProvider.tsx
  src/hooks/useExcelValidator.ts
  src/lib/__tests__/credit-system.test.ts
  src/lib/services/worker-stats-service.ts
Owners: @justoai/backend-team, @justoai/core-team, @justoai/frontend-team, @justoai/qa-team

fix(types): fix remaining EventType errors and filter type predicates
  src/app/api/admin/alerts/route.ts
  src/app/api/documents/[id]/notes/route.ts
  src/app/batch/[id]/batch.integration.test.tsx
  src/components/pricing/feature-matrix.tsx
  src/hooks/__tests__/useExcelValidator.test.ts
  src/lib/services/__tests__/attachment-validation-service.test.ts
Owners: @justoai/backend-team, @justoai/qa-team, @justoai/frontend-team

fix(tests): fix failing test suites and configure Jest properly
  jest.config.js
  src/lib/__tests__/credit-system.test.ts
  src/lib/__tests__/mocks/prisma-mock.helpers.ts
  src/lib/services/alert-service.examples.ts
  src/lib/services/excel-validation-service.ts
Owners: @justoai/core-team, @justoai/qa-team

fix(types): resolve Next.js 15 route handler type inference issues
  next.config.ts
  src/app/api/admin/system-imports/[id]/rollback/route.ts
  src/lib/api-utils.ts
  src/lib/deep-analysis-service.ts
  tsconfig.json
Owners: @justoai/core-team, @justoai/backend-team

fix(build): configure ESLint to enforce standards on new code while handling pre-existing debt
  .claude/settings.local.json
  eslint.config.mjs
  fix-lint-advanced.js
  fix-lint-errors.js
  src/components/providers/PostHogProvider.tsx
  src/lib/services/analytics-service.ts
  src/lib/services/pdf-extraction-service.ts
  src/lib/services/worker-stats-service.ts
  workers/usage-aggregator-worker.ts
Owners: @justoai/core-team, @justoai/frontend-team

feat(pdf): implement real PDF text extraction using pdf-parse
  src/lib/deep-analysis-service.ts
Owners: @justoai/core-team
