Repository Carlossouzaadv/JustoAI-vers-o2, changes with the owners that .github/CODEOWNERS names for each.
All owners: @justoai/core-team, @justoai/frontend-team, @justoai/backend-team, @justoai/qa-team, @justoai/devops-team, @justoai/docs-team

fix: resolve deploy
  .claude/settings.local.json
  CLAUDE.md
Owners: @justoai/core-team, @justoai/docs-team

fix: resolve build errors and Redis connection issues
  lib/queues.ts
  src/app/api/auth/signup/route.ts
Owners: @justoai/core-team, @justoai/backend-team

fix: correct WorkspaceRole enum casing and defer Redis initialization
  src/app/api/auth/signup/route.ts
  src/lib/queue/juditQueue.ts
Owners: @justoai/backend-team, @justoai/core-team

fix: implement missing API utility functions for authentication
  src/lib/api-utils.ts
Owners: @justoai/core-team

fix(auth): add missing credentials to API calls in dashboard
  src/app/dashboard/page.tsx
  src/app/dashboard/upload/page.tsx
Owners: @justoai/core-team

fix(auth): fix critical middleware authentication issues
  middleware.ts
  src/middleware.ts
Owners: @justoai/core-team

feat(debug): add auth debugging endpoint and allow debug routes
  middleware.ts
  src/app/api/debug/auth/route.ts
Owners: @justoai/core-team, @justoai/backend-team

fix(debug): fix cookies.entries() API compatibility issue
  middleware.ts
  src/app/api/debug/auth/route.ts
Owners: @justoai/core-team, @justoai/backend-team

feat(auth): add email/password login endpoint
  src/app/api/auth/login/route.ts
Owners: @justoai/backend-team

fix(login): use server-side API endpoint for session cookie setup
  src/app/login/page.tsx
Owners: @justoai/core-team

fix(auth): ensure user and workspace are created on login
  src/app/api/auth/login/route.ts
Owners: @justoai/backend-team

fix: rename upload endpoint and fix clients export
  src/app/api/clients/route.ts
  src/app/api/documents/upload/route.ts
Owners: @justoai/backend-team

fix(api): fix export pattern for GET and POST handlers
  src/app/api/clients/route.ts
Owners: @justoai/backend-team

fix(validation): increase pagination limit from 100 to 1000
  lib/validations.ts
Owners: @justoai/core-team

feat(api): add missing telemetry and reports endpoints with graceful error handling
  src/app/api/billing/credits/route.ts
  src/app/api/reports/quota-status/route.ts
  src/app/api/telemetry/active-alerts/route.ts
  src/app/api/telemetry/monthly-usage/route.ts
Owners: @justoai/backend-team

fix(api): remove auth requirement from telemetry and reports endpoints
  src/app/api/reports/quota-status/route.ts
  src/app/api/telemetry/active-alerts/route.ts
  src/app/api/telemetry/monthly-usage/route.ts
  src/app/api/workspaces/[id]/summary/route.ts
Owners: @justoai/backend-team

fix(api): fix workspace summary endpoint response format
  src/app/api/workspaces/[id]/summary/route.ts
Owners: @justoai/backend-team

fix(telemetry): fix endpoint response formats to match component expectations
  src/app/api/telemetry/active-alerts/route.ts
  src/app/api/telemetry/monthly-usage/route.ts
Owners: @justoai/backend-team

fix(middleware): remove double authentication, let endpoints handle auth
  middleware.ts
Owners: @justoai/core-team

feat(dashboard/process): replace mock data with real API integration
  src/app/dashboard/process/page.tsx
Owners: @justoai/core-team

fix: add missing error handling and safe data access to dashboard components
  src/app/api/billing/credits/route.ts
  src/components/dashboard/credits-card.tsx
  src/components/dashboard/usage-banner.tsx
Owners: @justoai/backend-team, @justoai/frontend-team

fix: resolve ReferenceError in client-actions-button component
  src/components/dashboard/client-actions-button.tsx
Owners: @justoai/frontend-team

fix(api-urls): use absolute URLs for production Vercel deployment
  src/app/dashboard/clients/page.tsx
  src/app/dashboard/page.tsx
  src/app/dashboard/process/page.tsx
  src/components/dashboard/client-actions-button.tsx
  src/components/dashboard/credits-card.tsx
  src/components/dashboard/dashboard-sidebar.tsx
  src/components/dashboard/usage-banner.tsx
  src/contexts/auth-context.tsx
  src/lib/api-client.ts
Owners: @justoai/core-team, @justoai/frontend-team

fix(tsconfig): correct path alias for @/lib to point to src/lib
  tsconfig.json
Owners: @justoai/core-team

fix: resolve deploy
  src/components/dashboard/client-actions-button.tsx
Owners: @justoai/frontend-team

fix(lib/icons): add missing icons export for dashboard components
  src/lib/icons.ts
Owners: @justoai/core-team

fix(tsconfig): correct path alias for @/lib to point to lib/ root directory
  src/lib/icons.ts
  tsconfig.json
Owners: @justoai/core-team

refactor(lib): remove duplicate files and consolidate utilities
  lib/utils.ts
  src/lib/api-utils.ts
  src/lib/auth.ts
  src/lib/prisma.ts
  src/lib/swagger.ts
  src/lib/utils.ts
Owners: @justoai/core-team

fix: resolve deploy
  lib/api-client.ts
Owners: @justoai/core-team

fix(tsconfig): correct @/lib path alias to resolve frontend libraries
  tsconfig.json
Owners: @justoai/core-team

fix(lib): add icons.ts to src/lib for correct path alias resolution
  src/lib/icons.ts
Owners: @justoai/core-team

fix: resolve deploy
  src/lib/alerts/ops-alerts.ts
  src/lib/analysis-cache.ts
  src/lib/deep-analysis-service.ts
  src/lib/icons.ts
  src/lib/middleware/quota-enforcement.ts
  src/lib/queues.ts
  src/lib/report-templates/docx-template-engine.ts
  src/lib/report-templates/pdf-template-engine.ts
  src/lib/telemetry/usage-tracker.ts
  src/lib/validations/auth.ts
Owners: @justoai/core-team

fix(auth): resolve ReferenceError and 401 auth failures with complete refactor
  src/app/dashboard/page.tsx
  src/app/layout.tsx
  src/contexts/auth-context.tsx
  src/lib/utils/auth-helpers.ts
Owners: @justoai/core-team

fix: resolve deploy
  package-lock.json
  package.json
  src/components/deep-analysis/deep-analysis-button.tsx
  src/lib/ai-model-router.ts
  src/lib/ai-model-types.ts
  src/lib/gemini-client.ts
Owners: @justoai/core-team, @justoai/frontend-team

fix: resolve deploy
  .gitignore
  JUDIT_FILES_INDEX.md
  JUDIT_INTEGRATION_SUMMARY.md
  JUDIT_QUICK_START.md
  JUDIT_TEST_RESULTS.md
  JUDIT_TEST_SCRIPTS_README.md
  package-lock.json
  package.json
  scripts/test-judit-advanced.js
  scripts/test-judit-bulk.js
  scripts/test-judit-debug.js
  scripts/test-judit-onboarding.js
  src/app/signup/page.tsx
  src/lib/ai-model-router.ts
Owners: @justoai/core-team, @justoai/docs-team

fix: resolve deploy
  .claude/settings.local.json
  src/app/dashboard/page.tsx
  src/components/dashboard/process-list.tsx
Owners: @justoai/core-team, @justoai/frontend-team

fix: resolve deploy, erro de T
  src/app/dashboard/page.tsx
  src/components/dashboard/process-list.tsx
  src/lib/ai-model-router.ts
  src/lib/utils.ts
Owners: @justoai/core-team, @justoai/frontend-team

fix(dashboard): resolve persistent TDZ ReferenceError in production build
  src/app/dashboard/layout.tsx
  src/app/dashboard/page.tsx
  src/hooks/use-dashboard.ts
  src/lib/icons.ts
Owners: @justoai/core-team

fix(dashboard): eliminate TDZ violation from try-catch hook pattern
  src/app/dashboard/page.tsx
Owners: @justoai/core-team

fix(dashboard): eliminate TDZ violation from function-before-definition pattern
  src/components/dashboard/usage-banner.tsx
Owners: @justoai/frontend-team

.github/CODEOWNERS:

# Code Owners for JustoAI V2

# Default owners for everything in the repo
* @justoai/core-team

# Frontend components
/src/components/ @justoai/frontend-team

# API routes
/src/app/api/ @justoai/backend-team

# Database schemas
/prisma/ @justoai/backend-team

# Tests
**/__tests__/ @justoai/qa-team
*.test.ts @justoai/qa-team
*.test.tsx @justoai/qa-team

# CI/CD
/.github/ @justoai/devops-team

# Documentation
*.md @justoai/docs-team
