Repository Carlossouzaadv/JustoAI-vers-o2, changes with the owners that .github/CODEOWNERS names for each.
All owners: @justoai/core-team, @justoai/frontend-team, @justoai/backend-team, @justoai/qa-team, @justoai/devops-team, @justoai/docs-team

.github/CODEOWNERS:

# Code Owners for JustoAI V2

# Default owners for everything in the repo
* @justoai/core-team

# Frontend components
/src/components/ @justoai/frontend-team

# API routes
/src/app/api/ @justoai/backend-team

# Database schemas
/prisma/ @justoai/backend-team

# Tests
**/__tests__/ @justoai/qa-team
*.test.ts @justoai/qa-team
*.test.tsx @justoai/qa-team

# CI/CD
/.github/ @justoai/devops-team

# Documentation
*.md @justoai/docs-team

docs(sprints): mark SPRINT 2 as 100% complete
  SPRINTS.md
Owners: @justoai/docs-team

docs(sprints): update SPRINT 2 completion status - build now passing
  SPRINTS.md
Owners: @justoai/docs-team

fix: correct property access in job status error handling
  scripts/test-judit-queue.ts
Owners: @justoai/core-team

fix: correct catch block variable references
  src/app/api/admin/cache/clear/route.ts
  src/app/api/admin/system-imports/[id]/rollback/route.ts
  src/lib/services/juditOnboardingService.ts
Owners: @justoai/backend-team, @justoai/core-team

fix(types): correct ._error property accesses in API routes
  src/app/api/ai/analyze/route.ts
  src/app/api/reports/individual/route.ts
Owners: @justoai/backend-team

fix(types): correct ApiCallResult._error access to .error in excel-upload-service
  src/lib/excel-upload-service.ts
Owners: @justoai/core-team

fix: resolve import conflict in pdf-processor.ts
  src/lib/pdf-processor.ts
Owners: @justoai/core-team

fix(lint): resolve no-unused-vars warnings across 9 files
  src/lib/__tests__/credit-system.test.ts
  src/lib/__tests__/mocks/prisma-mock.helpers.ts
  src/lib/__tests__/payment-webhook-handler.test.ts
  src/lib/excel-upload-service.ts
  src/lib/pdf-processor.ts
  src/lib/utils/case-onboarding-helper.ts
  src/lib/utils/timelineSourceUtils.ts
  src/lib/validators/__tests__/excel.test.ts
  src/lib/webhook-signature-verifiers.ts
  src/lib/websocket-manager.ts
Owners: @justoai/qa-team, @justoai/core-team

fix: correct variable reference in report-data-collector.ts
  src/lib/report-data-collector.ts
Owners: @justoai/core-team

fix(types): replace all logError(_error) with logError(error) across 20 files
  src/lib/report-data-collector.ts
  src/lib/report-scheduler.ts
  src/lib/report-templates/docx-template-engine.ts
  src/lib/report-templates/pdf-template-engine.ts
  src/lib/sentry-api-client.ts
  src/lib/services/analytics-service.ts
  src/lib/services/creditService.ts
  src/lib/services/juditAttachmentProcessor.ts
  src/lib/services/localPDFMetadataExtractor.ts
  src/lib/services/pdf-extraction-service.ts
  src/lib/services/previewAnalysisService.ts
  src/lib/services/summaryConsolidator.ts
  src/lib/services/supabaseStorageService.ts
  src/lib/services/timelineEnricher.ts
  src/lib/services/trialService.ts
  src/lib/slack-service.ts
  src/lib/system-importer.ts
  src/lib/system-sync.ts
  src/lib/telemetry/usage-tracker.ts
  src/lib/text-cleaner.ts
Owners: @justoai/core-team

fix(types): replace all ._error with .error across entire codebase
  src/app/api/admin/circuit-breaker/route.ts
  src/app/api/admin/judit-consumption/route.ts
  src/app/api/admin/monitoring/route.ts
  src/app/api/admin/observability/route.ts
  src/app/api/ai/analyze/route.ts
  src/app/api/billing/credits/route.ts
  src/app/api/judit/monitoring/setup/route.ts
  src/app/api/judit/onboarding/status/[jobId]/route.ts
  src/app/api/process/upload/route.ts
  src/app/api/reports/generate/route.ts
  src/app/api/reports/schedule/route-enhanced.ts
  src/app/api/upload/excel/route.ts
  src/app/api/webhooks/payment/route.ts
  src/jobs/dailyJuditCheck.ts
  src/lib/__tests__/api-utils.test.ts
  src/lib/__tests__/credit-system.test.ts
  src/lib/__tests__/payment-webhook-handler.test.ts
  src/lib/notification-service.ts
  src/lib/observability/alerting.ts
  src/lib/payment-webhook-handler.ts
  src/lib/report-generator.ts
  src/lib/report-scheduler.ts
  src/lib/services/alert-service.ts
  src/lib/services/batch-status-service.ts
  src/lib/services/excel-validation-service.ts
  src/lib/services/juditMonitoringService.ts
  src/lib/services/juditOnboardingService.ts
  src/lib/services/juditService.ts
  src/lib/services/logger.ts
  src/lib/services/pdf-extraction-service.ts
  src/lib/services/worker-stats-service.ts
  src/lib/timeline-merge.ts
  src/lib/types/api-schemas.ts
  src/lib/types/type-guards.ts
  src/lib/utils/case-onboarding-helper.ts
  src/lib/validators/__tests__/excel.test.ts
Owners: @justoai/backend-team, @justoai/core-team, @justoai/qa-team

fix(types): correct adminCheck.error access to adminCheck._error
  src/app/api/admin/circuit-breaker/route.ts
  src/app/api/admin/judit-consumption/route.ts
  src/app/api/admin/monitoring/route.ts
  src/app/api/admin/observability/route.ts
  src/app/api/ai/analyze/route.ts
Owners: @justoai/backend-team

fix(types): correct result.error to result._error in payment webhook
  src/app/api/webhooks/payment/route.ts
Owners: @justoai/backend-team

fix(types): correct result.error to result._error in billing credits
  src/app/api/billing/credits/route.ts
Owners: @justoai/backend-team

fix(types): correct MonitoringSetupResult.error to ._error
  src/app/api/judit/monitoring/setup/route.ts
Owners: @justoai/backend-team

fix(types): correct jobStatus.error to jobStatus._error
  src/app/api/judit/onboarding/status/[jobId]/route.ts
Owners: @justoai/backend-team

fix(types): correct result.error to result._error in ai analyze
  src/app/api/ai/analyze/route.ts
Owners: @justoai/backend-team

fix(types): correct previewResult.error to previewResult._error
  src/app/api/process/upload/route.ts
Owners: @justoai/backend-team

fix(types): correct AnalysisResponse._error to .error in ai analyze
  src/app/api/ai/analyze/route.ts
Owners: @justoai/backend-team

fix(types): correct remaining previewResult.error to previewResult._error
  src/app/api/process/upload/route.ts
Owners: @justoai/backend-team

fix(types): correct result.error to result._error in reports generate
  src/app/api/reports/generate/route.ts
Owners: @justoai/backend-team

fix(types): correct r.error to r._error in reports generate
  src/app/api/reports/generate/route.ts
Owners: @justoai/backend-team

fix(types): batch fix all remaining .error to ._error property accesses
  src/app/api/reports/schedule/route-enhanced.ts
Owners: @justoai/backend-team

fix(types): revert console._error back to console.error
  src/app/api/reports/schedule/route-enhanced.ts
Owners: @justoai/backend-team

fix(types): correct uploadResult.error to uploadResult._error
  src/app/api/upload/excel/route.ts
Owners: @justoai/backend-team

fix(types): resolve all .error to ._error property access issues
  src/jobs/dailyJuditCheck.ts
  src/lib/notification-service.ts
  src/lib/observability/alerting.ts
  src/lib/payment-webhook-handler.ts
  src/lib/report-scheduler.ts
  src/lib/services/batch-status-service.ts
Owners: @justoai/core-team

fix(types): fix BatchErrorDetail type checking to use _error property
  src/lib/services/batch-status-service.ts
Owners: @justoai/core-team

fix(types): fix csv-export-service to use _error property
  src/lib/services/csv-export-service.ts
Owners: @justoai/core-team

fix(types): fix markdown export in csv-export-service to use _error property
  src/lib/services/csv-export-service.ts
Owners: @justoai/core-team

fix(types): correct variable reference from _error to error in juditAttachmentProcessor
  src/lib/services/juditAttachmentProcessor.ts
Owners: @justoai/core-team

fix(types): fix remaining _error variable references in juditAttachmentProcessor
  src/lib/services/juditAttachmentProcessor.ts
Owners: @justoai/core-team

fix: resolve import conflict in juditMonitoringService.ts
  src/lib/services/juditMonitoringService.ts
Owners: @justoai/core-team

fix(types): correct validationResult.error to ._error in juditOnboardingService
  src/lib/services/juditOnboardingService.ts
Owners: @justoai/core-team

fix(types): correct searchResult.error to ._error in juditMonitoringService
  src/lib/services/juditMonitoringService.ts
Owners: @justoai/core-team

fix(types): fix undefined _error reference in juditOnboardingService
  src/lib/services/juditOnboardingService.ts
Owners: @justoai/core-team

fix(types): fix undefined _error variable in juditService
  src/lib/services/juditService.ts
Owners: @justoai/core-team

fix(types): fix all remaining _error variable references in juditService
  src/lib/services/juditService.ts
Owners: @justoai/core-team

fix(types): fix _error variable reference in error return statement
  src/lib/services/juditService.ts
Owners: @justoai/core-team

fix(types): correct response.error to response._error in juditService
  src/lib/services/juditService.ts
Owners: @justoai/core-team

fix(types): correct response.error to response._error in health check
  src/lib/services/juditService.ts
Owners: @justoai/core-team
