Repository Carlossouzaadv/JustoAI-vers-o2, changes with the owners that .github/CODEOWNERS names for each.
All owners: @justoai/core-team, @justoai/frontend-team, @justoai/backend-team, @justoai/qa-team, @justoai/devops-team, @justoai/docs-team

.github/CODEOWNERS:

# Code Owners for JustoAI V2

# Default owners for everything in the repo
* @justoai/core-team

# Frontend components
/src/components/ @justoai/frontend-team

# API routes
/src/app/api/ @justoai/backend-team

# Database schemas
/prisma/ @justoai/backend-team

# Tests
**/__tests__/ @justoai/qa-team
*.test.ts @justoai/qa-team
*.test.tsx @justoai/qa-team

# CI/CD
/.github/ @justoai/devops-team

# Documentation
*.md @justoai/docs-team

fix(types): Phase 10 DATA debt - Files #71-74 refactor with Type Guards & Narrowing
  src/components/reports/report-scheduler-modal.tsx
  src/lib/judit-api-wrapper.ts
  src/lib/middleware/quota-enforcement.ts
  src/lib/services/summaryConsolidator.ts
Owners: @justoai/frontend-team, @justoai/core-team

fix(types): Phase 10 - Complete Padrão-Ouro refactoring of files #73-#74
  src/components/reports/report-scheduler-modal.tsx
  src/lib/judit-api-wrapper.ts
Owners: @justoai/frontend-team, @justoai/core-team

fix(types): Phase 10 - Complete Padrão-Ouro refactoring File #80 (workspaces route)
  src/app/api/workspaces/[id]/route.ts
Owners: @justoai/backend-team

fix(types): Phase 10 - Complete Padrão-Ouro refactoring of file #81 (plan-modal)
  src/app/api/cases/[id]/onboarding-retry/route.ts
  src/app/api/reports/schedule/[id]/route.ts
  src/app/api/sse/subscribe/route.ts
  src/app/api/upload/batch/[id]/retry/route.ts
  src/components/pricing/plan-modal.tsx
  src/components/process/process-timeline.tsx
  type-check-full.txt
Owners: @justoai/backend-team, @justoai/frontend-team, @justoai/core-team

fix(types): Phase 10 - Complete Padrão-Ouro refactoring of file #89 (juditAttachmentProcessor)
  src/app/dashboard/page.tsx
  src/components/pricing/billing-toggle.tsx
  src/components/pricing/credits-packs.tsx
  src/components/pricing/faq-pricing.tsx
  src/components/pricing/feature-matrix.tsx
  src/lib/ai-model-router.ts
  src/lib/redis.ts
  src/lib/services/juditAttachmentProcessor.ts
  src/lib/services/supabaseStorageService.ts
  src/lib/services/timelineEnricher.ts
  src/lib/types/json-fields.ts
  type-check-output.txt
Owners: @justoai/core-team, @justoai/frontend-team

fix(types): Phase 10 - Complete Padrão-Ouro refactoring of file #97 (credits purchase route)
  src/app/api/credits/purchase/route.ts
Owners: @justoai/backend-team

fix(types): Phase 10 - Complete Padrão-Ouro refactoring of file #112 (CostsChart)
  src/components/dashboard/CostsChart.tsx
Owners: @justoai/frontend-team

fix(types): Phase 10 - Complete Padrão-Ouro refactoring of file #113 (reports dashboard)
  src/app/dashboard/reports/page.tsx
Owners: @justoai/core-team

fix(types): Phase 10 - Batch commit of accumulated changes (27 files)
  src/app/api/ai/test-gemini/route.ts
  src/app/api/cases/[id]/unified-timeline/route.ts
  src/app/api/health/route.ts
  src/app/api/judit/observability/metrics/route.ts
  src/app/api/judit/queue/stats/route.ts
  src/app/api/process/[id]/analysis/route.ts
  src/app/api/reports/schedule/route-enhanced.ts
  src/app/api/telemetry/monthly-usage/route.ts
  src/app/api/upload/batch/[id]/control/route.ts
  src/app/api/upload/batch/[id]/status/route.ts
  src/app/api/upload/excel/estimate/route.ts
  src/app/dashboard/settings/page.tsx
  src/components/landing/pricing.tsx
  src/components/process/process-onboarding-status.tsx
  src/lib/credit-system.ts
  src/lib/intelligent-parser.ts
  src/lib/messages.ts
  src/lib/observability/alerting.ts
  src/lib/observability/costTracking.ts
  src/lib/permission-validator.ts
  src/lib/process-alerts.ts
  src/lib/quota-system.ts
  src/lib/report-cache-manager.ts
  src/lib/report-customization.ts
  src/lib/report-generator.ts
  src/lib/services/circuitBreakerService.ts
  src/lib/system-sync.ts
Owners: @justoai/backend-team, @justoai/core-team, @justoai/frontend-team

fix(types): Phase 10 - Remove unsafe 'as' casts from Arquivo #113
  src/app/dashboard/reports/page.tsx
Owners: @justoai/core-team

fix(types): Phase 10 - Complete Padrão-Ouro refactoring of file #114 (cases events route)
  src/app/api/cases/[id]/events/route.ts
Owners: @justoai/backend-team

fix(types): Phase 10 - Complete Padrão-Ouro refactoring of file #115 (pdf process route)
  src/app/api/pdf/process/route.ts
Owners: @justoai/backend-team

fix(types): Phase 10 - Complete Padrão-Ouro refactoring of file #116 (cases onboarding status route)
  src/app/api/cases/[id]/onboarding-status/route.ts
Owners: @justoai/backend-team

fix(types): Phase 10 - Complete Padrão-Ouro refactoring of file #117 (excel upload service)
  src/lib/excel-upload-service.ts
Owners: @justoai/core-team

fix(types): Phase 10 - Complete Padrão-Ouro refactoring of file #118 (logger configuration)
  src/lib/logger.ts
Owners: @justoai/core-team

fix(lint): Phase 11 - Batch lint violation corrections
  src/app/admin/alerts/page.tsx
  src/app/admin/errors/page.tsx
  src/app/admin/layout.tsx
  src/app/admin/logs/page.tsx
  src/app/admin/status/page.tsx
  src/app/api/ai/test-gemini/route.ts
  src/app/api/reports/generate/route.ts
  src/app/dashboard/billing/page.tsx
  src/app/dashboard/page.tsx
  src/app/privacy/page.tsx
  src/app/terms/page.tsx
  src/components/dashboard/welcome-onboarding.tsx
  src/components/process/document-viewer-modal.tsx
  src/components/process/process-ai-analysis.tsx
  src/components/quota/quota-modal.tsx
Owners: @justoai/core-team, @justoai/backend-team, @justoai/frontend-team

fix(types): Phase 11 - Complete Extermínio do any (Zero any Violations)
  src/app/admin/observability/page.tsx
  src/app/admin/page.tsx
  src/app/api/admin/errors/route.ts
  src/app/api/cases/route.ts
  src/app/api/processes/route.ts
  src/app/api/reports/individual/history/route.ts
  src/lib/compression.ts
  src/lib/import-reports.ts
  src/lib/middleware/quota-enforcement.ts
Owners: @justoai/core-team, @justoai/backend-team

fix(types): Phase 11 Correction - Arquivo #119 (Padrão-Ouro Compliance)
  src/app/admin/observability/page.tsx
Owners: @justoai/core-team

fix(types): Phase 11 - Arquivo #125 (processes/route.ts) - Padrão-Ouro Type Guards
  src/app/api/processes/route.ts
Owners: @justoai/backend-team

resoluções de ESLint
  src/app/admin/page.tsx
  src/app/api/admin/errors/route.ts
  src/app/api/cases/route.ts
  src/app/api/reports/individual/history/route.ts
  src/lib/compression.ts
  src/lib/import-reports.ts
  src/lib/judit-api-client.ts
  src/lib/middleware/quota-enforcement.ts
  src/lib/utils/case-onboarding-helper.ts
Owners: @justoai/core-team, @justoai/backend-team

fix(types): Phase 10 - Arquivo #118 (processes/route.ts) - Padrão-Ouro Type Guards
  src/app/api/processes/route.ts
Owners: @justoai/backend-team

fix(types): Phase 10 CORRECTED - Arquivo #118 - 100% Mandato Inegociável
  src/app/api/processes/route.ts
Owners: @justoai/backend-team

fix(types): FASE 11 - Batch Run #1 - Eliminados 61 erros TS7006 em 8 arquivos
  src/app/api/analytics/route.ts
  src/app/api/process/[id]/analysis/history/route.ts
  src/app/api/systems/import/route.ts
  src/app/api/telemetry/monthly-usage/route.ts
  src/lib/aggregation-service.ts
  src/lib/credit-system.ts
  src/lib/import-reports.ts
  src/lib/report-cache-manager.ts
Owners: @justoai/backend-team, @justoai/core-team

fix(types): FASE 11 - Arquivo #107 CORRECTED - messages.ts - 100% Mandato
  src/lib/messages.ts
Owners: @justoai/core-team

fix(types): FASE 11 - Batch Run #2 - Eliminados 40 erros TS7006 em 8 arquivos
  src/app/api/processes/alerts/route.ts
  src/app/api/reports/history/route.ts
  src/app/api/telemetry/active-alerts/route.ts
  src/app/api/webhook/judit/status/route.ts
  src/lib/deep-analysis-service.ts
  src/lib/process-alerts.ts
  src/lib/report-data-collector.ts
  src/lib/system-sync.ts
Owners: @justoai/backend-team, @justoai/core-team

fix(types): FASE 11 - Batch Run #3 - Arquivo #6 - systems/import/[id]/route.ts (2 erros TS7006)
  src/app/api/systems/import/[id]/route.ts
Owners: @justoai/backend-team

fix(types): FASE 11 - Batch Run #3 - Arquivo #2 - report-generator.ts (2 erros TS7006)
  src/lib/report-generator.ts
Owners: @justoai/core-team

fix(types): FASE 11 - Batch Run #3 - Arquivo #5 - users/profile/route.ts (2 erros TS7006)
  src/app/api/users/profile/route.ts
Owners: @justoai/backend-team

fix(types): FASE 11 - Batch Run #3 - Arquivo #8 - process/[id]/analysis/route.ts (2 erros TS7006)
  src/app/api/process/[id]/analysis/route.ts
Owners: @justoai/backend-team

fix(types): FASE 11 - Batch Run #3 - Arquivo #7 - schedule/route-enhanced.ts (2 erros TS7006)
  src/app/api/reports/schedule/route-enhanced.ts
Owners: @justoai/backend-team

fix(types): FASE 11 - Batch Run #3 - Arquivo #1 - usage-tracker.ts (2 erros TS7006)
  src/lib/telemetry/usage-tracker.ts
Owners: @justoai/core-team

fix(types): FASE 11 - Batch Run #3 - Arquivo #3 - workspaces/route.ts (2 erros TS7006)
  src/app/api/workspaces/route.ts
Owners: @justoai/backend-team

fix(types): FASE 11 - Batch Run #3 - Arquivo #4 - workspaces/[id]/route.ts (2 erros TS7006)
  src/app/api/workspaces/[id]/route.ts
Owners: @justoai/backend-team

fix(types): FASE 11 - Batch Run #4 - Arquivo #7 - process-monitor.ts (1 erro TS7006)
  src/lib/process-monitor.ts
Owners: @justoai/core-team

fix(types): FASE 11 - Batch Run #4 - Arquivo #4 - individual-reports-worker.ts (1 erro TS7006)
  workers/individual-reports-worker.ts
Owners: @justoai/core-team

fix(types): FASE 11 - Batch Run #4 - Arquivo #1 - judit/observability/alerts/route.ts (2 erros TS7006)
  src/app/api/judit/observability/alerts/route.ts
Owners: @justoai/backend-team

fix(types): FASE 11 - Batch Run #4 - Arquivo #8 - permission-validator.ts (1 erro TS7006)
  src/lib/permission-validator.ts
Owners: @justoai/core-team

fix(types): FASE 11 - Batch Run #4 - Arquivo #5 - summaryConsolidator.ts (1 erro TS7006)
  src/lib/services/summaryConsolidator.ts
Owners: @justoai/core-team

fix(types): FASE 11 - Batch Run #4 - Arquivo #6 - report-scheduler.ts (1 erro TS7006)
  src/lib/report-scheduler.ts
Owners: @justoai/core-team

fix(types): FASE 11 - Batch Run #4 - Arquivo #3 - cases/[id]/events/route.ts (2 erros TS7006)
  src/app/api/cases/[id]/events/route.ts
Owners: @justoai/backend-team
