Repository Carlossouzaadv/JustoAI-vers-o2, changes with the owners that .github/CODEOWNERS names for each.
All owners: @justoai/core-team, @justoai/frontend-team, @justoai/backend-team, @justoai/qa-team, @justoai/devops-team, @justoai/docs-team

.github/CODEOWNERS:

# Code Owners for JustoAI V2

# Default owners for everything in the repo
* @justoai/core-team

# Frontend components
/src/components/ @justoai/frontend-team

# API routes
/src/app/api/ @justoai/backend-team

# Database schemas
/prisma/ @justoai/backend-team

# Tests
**/__tests__/ @justoai/qa-team
*.test.ts @justoai/qa-team
*.test.tsx @justoai/qa-team

# CI/CD
/.github/ @justoai/devops-team

# Documentation
*.md @justoai/docs-team

fix(timeline,ui): resolve critical database issue and improve process page UX
  prisma/migrations/20251024_create_process_timeline_entries.sql
  src/app/dashboard/process/[id]/page.tsx
  src/components/process/process-ai-analysis.tsx
Owners: @justoai/backend-team, @justoai/core-team, @justoai/frontend-team

fix(judit): add validation guards for attachment processor and regenerate Prisma client
  src/lib/services/juditAttachmentProcessor.ts
Owners: @justoai/core-team

fix(judit): add explicit @map to ProcessTimelineEntry schema fields
  prisma/schema.prisma
Owners: @justoai/backend-team

fix(prisma): ensure Prisma Client regeneration on deployment
  package.json
Owners: @justoai/core-team

fix(build): make prisma generate conditional in postinstall script
  package.json
  scripts/postinstall.js
Owners: @justoai/core-team

fix(docker): skip postinstall during npm install, generate explicitly
  Dockerfile
Owners: @justoai/core-team

fix(judit): implement attachment download from API
  src/app/api/webhook/judit/callback/route.ts
  src/lib/services/juditAttachmentProcessor.ts
Owners: @justoai/backend-team, @justoai/core-team

fix(judit): fix hash calculation method call
  src/lib/services/juditAttachmentProcessor.ts
Owners: @justoai/core-team

fix(judit): resolve webhook timeout and Prisma validation errors
  src/app/api/webhook/judit/callback/route.ts
  src/lib/services/juditAttachmentProcessor.ts
Owners: @justoai/backend-team, @justoai/core-team

fix(judit): sanitize attachment filenames to prevent path traversal errors
  src/lib/services/juditAttachmentProcessor.ts
Owners: @justoai/core-team

fix(judit): use attachment_id for deduplication instead of hash
  src/lib/services/juditAttachmentProcessor.ts
Owners: @justoai/core-team

fix(webhook): add missing source field to timeline entries
  src/app/api/webhook/judit/callback/route.ts
Owners: @justoai/backend-team

fix(analysis): save initial preview as CaseAnalysisVersion
  src/app/api/process/upload/route.ts
Owners: @justoai/backend-team

fix(timeline): use actual movement dates instead of upload dates
  src/app/api/cases/[id]/events/route.ts
Owners: @justoai/backend-team

feat(documents): implement view and edit document handlers
  src/components/process/process-documents.tsx
Owners: @justoai/frontend-team

feat(documents): implement document editing modal
  src/components/process/process-documents.tsx
Owners: @justoai/frontend-team

fix(attachments): fix double-counting of downloaded attachments
  src/lib/services/juditAttachmentProcessor.ts
Owners: @justoai/core-team

chore: add migration to fix TimelineSource enum
  MIGRATION_REQUIRED.md
  prisma/migrations/20251025_fix_timeline_source_enum/migration.sql
Owners: @justoai/docs-team, @justoai/backend-team

fix: create process_timeline_entries table with proper TimelineSource enum
  MIGRATION_REQUIRED.md
  prisma/migrations/20251025_create_timeline_with_enum/migration.sql
  prisma/migrations/20251025_fix_timeline_source_enum/migration.sql
Owners: @justoai/docs-team, @justoai/backend-team

docs: add step-by-step Supabase migration instructions
  SUPABASE_SETUP.md
Owners: @justoai/docs-team

feat: implement unified timeline with intelligent deduplication and auto-generated summaries
  prisma/migrations/20251025_add_document_metadata/migration.sql
  prisma/schema.prisma
  src/app/api/cases/[id]/regenerate-summary/route.ts
  src/app/api/cases/[id]/unified-timeline/route.ts
  src/app/api/process/upload/route.ts
  src/components/process/process-summary.tsx
  src/lib/services/localPDFMetadataExtractor.ts
  src/lib/services/summaryConsolidator.ts
  src/lib/timeline-merge.ts
Owners: @justoai/backend-team, @justoai/frontend-team, @justoai/core-team

chore(deps): add @google/generative-ai for summary generation
  package-lock.json
  package.json
Owners: @justoai/core-team

fix(auth): use correct cookies API method getAll() instead of getSetCookie()
  src/lib/auth-helper.ts
Owners: @justoai/core-team

fix(judit): remove unnecessary SHA256 calculation and handle timeline race conditions
  src/lib/services/juditAttachmentProcessor.ts
  src/lib/timeline-merge.ts
Owners: @justoai/core-team

fix: document encoding, timeline dedup, and summary regeneration without Gemini
  src/app/api/cases/[id]/regenerate-summary/route.ts
  src/app/api/documents/[id]/download/route.ts
  src/components/process/document-viewer-modal.tsx
  src/components/process/process-documents.tsx
  src/lib/services/juditAttachmentProcessor.ts
  src/lib/services/summaryConsolidator.ts
  src/lib/timeline-merge.ts
Owners: @justoai/backend-team, @justoai/frontend-team, @justoai/core-team

fix(timeline): add detailed logging for race condition recovery failures
  src/lib/timeline-merge.ts
Owners: @justoai/core-team

fix(timeline): implement retry mechanism for race condition recovery
  src/lib/timeline-merge.ts
Owners: @justoai/core-team

fix(redis): optimize for cost reduction - remove unused queues and increase keepAlive
  TESTE_2DIAS_GUIA.md
  monitoramente de processos judit.txt
  scripts/test-judit-2days.ts
  src/lib/queues.ts
  src/lib/redis.ts
Owners: @justoai/docs-team, @justoai/core-team

feat(types): automatic case type mapping from JUDIT classifications
  src/app/api/webhook/judit/callback/route.ts
  src/lib/utils/judit-type-mapper.ts
Owners: @justoai/backend-team, @justoai/core-team

feat(onboarding): add error tracking and retry for UNASSIGNED cases
  src/app/api/cases/[id]/onboarding-retry/route.ts
  src/app/api/cases/[id]/onboarding-status/route.ts
  src/components/process/unassigned-process-badge.tsx
  src/hooks/useUnassignedProcessStatus.ts
  src/lib/services/juditOnboardingService.ts
  src/lib/utils/case-onboarding-helper.ts
Owners: @justoai/backend-team, @justoai/frontend-team, @justoai/core-team

feat(bulk): add bulk case operations with client assignment
  src/app/api/cases/bulk/route.ts
  src/app/dashboard/process/page.tsx
  src/components/process/bulk-actions-bar.tsx
  src/components/process/client-association-modal.tsx
  src/hooks/useBulkCaseUpdate.ts
Owners: @justoai/backend-team, @justoai/core-team, @justoai/frontend-team

feat(dashboard): new billing page and reorganized credits management
  src/app/dashboard/billing/page.tsx
  src/app/dashboard/page.tsx
Owners: @justoai/core-team

fix(auth): use validateAuthAndGetUser instead of Clerk
  src/app/api/cases/[id]/onboarding-retry/route.ts
  src/app/api/cases/[id]/onboarding-status/route.ts
  src/app/api/cases/bulk/route.ts
Owners: @justoai/backend-team

fix(dashboard): move credits to header navigation and fix billing page
  TESTE_2DIAS_GUIA.md
  src/app/dashboard/billing/page.tsx
  src/app/dashboard/page.tsx
  src/components/dashboard/dashboard-header.tsx
  src/components/process/client-association-modal.tsx
Owners: @justoai/docs-team, @justoai/core-team, @justoai/frontend-team

fix(dashboard/process): prevent modal from auto-opening on page load
  src/app/dashboard/process/page.tsx
Owners: @justoai/core-team

fix(client-association-modal): remove broken link to non-existent route
  src/components/process/client-association-modal.tsx
Owners: @justoai/frontend-team

fix(client-association-modal): remove DialogTrigger to prevent auto-opening
  src/components/process/client-association-modal.tsx
Owners: @justoai/frontend-team

fix(webhook): fix case association and duplicate webhook processing
  DEPLOYMENT_WEBHOOK_FIX.md
  WEBHOOK_FIX_SUMMARY.md
  prisma/migrations/20251025_add_caseId_to_judit_requests.sql
  prisma/schema.prisma
  src/app/api/documents/upload/route.ts
  src/app/api/webhook/judit/callback/route.ts
  src/lib/queue/juditQueue.ts
  src/lib/services/juditOnboardingService.ts
Owners: @justoai/docs-team, @justoai/backend-team, @justoai/core-team

docs: add webhook fix checklist and implementation summary
  WEBHOOK_FIX_CHECKLIST.md
Owners: @justoai/docs-team

feat(admin): add JUDIT consumption dashboard and pricing analysis
  ADMIN_DASHBOARD_README.md
  API de Transferência de Arquivos.txt
  Callback  Webhook.txt
  IMPLEMENTATION_COMPLETE.md
  JUDIT_TOOLS_README.md
  README.md
  guia rápido.txt
  judit - Busca processual.txt
  judit-report-2025-10-27.json
  monitoramente de processos judit.txt
  pricing-analysis.json
  scripts/dynamic-pricing-calculator.js
  scripts/judit-consumption-report.js
  scripts/pricing-analysis.js
  src/app/admin/dashboard/judit/page.tsx
  src/app/admin/layout.tsx
  src/app/api/admin/judit-consumption/route.ts
Owners: @justoai/docs-team, @justoai/core-team, @justoai/backend-team
