Repository Carlossouzaadv/JustoAI-vers-o2, changes with the owners that .github/CODEOWNERS names for each.
All owners: @justoai/core-team, @justoai/frontend-team, @justoai/backend-team, @justoai/qa-team, @justoai/devops-team, @justoai/docs-team

.github/CODEOWNERS:

# Code Owners for JustoAI V2

# Default owners for everything in the repo
* @justoai/core-team

# Frontend components
/src/components/ @justoai/frontend-team

# API routes
/src/app/api/ @justoai/backend-team

# Database schemas
/prisma/ @justoai/backend-team

# Tests
**/__tests__/ @justoai/qa-team
*.test.ts @justoai/qa-team
*.test.tsx @justoai/qa-team

# CI/CD
/.github/ @justoai/devops-team

# Documentation
*.md @justoai/docs-team

fix(pdf-extraction): switch to pdf-parse for simple Node.js extraction
  next.config.ts
  src/app/api/pdf/process/route.ts
Owners: @justoai/core-team, @justoai/backend-team

fix(pdf-extraction): BREAKING OUT OF THE LOOP - Use system pdftotext instead of Node.js libraries
  Dockerfile.railway
  next.config.ts
  src/app/api/pdf/process/route.ts
Owners: @justoai/core-team, @justoai/backend-team

fix: resolve pdf processor
  prisma/migrations/20251019_add_unassigned_to_case_status.sql
Owners: @justoai/backend-team

fix: REDIS
  .env.example
  src/app/api/documents/upload/route.ts
  src/lib/analysis-cache.ts
  src/lib/redis.ts
Owners: @justoai/core-team, @justoai/backend-team

fix: PASTA TEMP e GEMINI
  src/app/api/documents/upload/route.ts
  src/lib/gemini-client.ts
Owners: @justoai/backend-team, @justoai/core-team

feat(onboarding): implement 3-phase intelligent process onboarding system
  prisma/migrations/20251020_judit_attachments/migration.sql
  prisma/migrations/20251020_onboarding_preview_system/migration.sql
  prisma/schema.prisma
  src/app/api/process/[id]/analysis/full/route.ts
  src/app/api/process/upload/route.ts
  src/lib/services/juditAttachmentProcessor.ts
  src/lib/services/previewAnalysisService.ts
  src/lib/services/timelineUnifier.ts
Owners: @justoai/backend-team, @justoai/core-team

chore: cleanup debug logs and add pg dependency for migrations
  package-lock.json
  package.json
  src/app/api/documents/upload/route.ts
  src/lib/analysis-cache.ts
  src/lib/gemini-client.ts
Owners: @justoai/core-team, @justoai/backend-team

feat(onboarding): complete 3-phase system integration with worker FASE 2
  VALIDACAO_FINAL_ONBOARDING_100_PERCENT.md
  VERIFICACAO_ONBOARDING_COMPLETA.md
  prisma/migrations/20251020_onboarding_performance_indexes/migration.sql
  src/workers/juditOnboardingWorker.ts
  verify-complete-onboarding.js
Owners: @justoai/docs-team, @justoai/backend-team, @justoai/core-team

chore(docker): aggressive optimization for faster deployments
  .dockerignore
  DOCKER_OPTIMIZATION_SUMMARY.md
  Dockerfile.railway
  Dockerfile.workers
Owners: @justoai/core-team, @justoai/docs-team

docs(docker): add comprehensive deploy optimization report with before/after metrics
  DEPLOY_OPTIMIZATION_REPORT.md
Owners: @justoai/docs-team

fix(docker): remove non-existent file copies from Dockerfile.railway
  Dockerfile.railway
Owners: @justoai/core-team

fix(multi-tenancy): scope case uniqueness to workspace
  prisma/schema.prisma
  src/app/api/documents/upload/route.ts
Owners: @justoai/backend-team

refactor(logging): reduce verbose console logs for cleaner output
  src/app/api/documents/upload/route.ts
  src/lib/pdf-processor.ts
Owners: @justoai/backend-team, @justoai/core-team

chore(prisma): regenerate client with updated schema
  .claude/settings.local.json
  src/app/api/pdf/process/route.ts
Owners: @justoai/core-team, @justoai/backend-team

fix(dashboard): integrate real case data and remove mock implementations
  src/app/api/cases/[id]/route.ts
  src/app/api/process/upload/route.ts
  src/app/dashboard/process/[id]/page.tsx
  src/app/dashboard/process/page.tsx
  src/components/process/client-association-modal.tsx
  src/components/process/process-documents.tsx
  src/components/process/process-summary.tsx
  src/components/process/process-timeline.tsx
  src/lib/services/previewAnalysisService.ts
Owners: @justoai/backend-team, @justoai/core-team, @justoai/frontend-team

fix(gemini): update model names from 1.5 to 2.5 versions
  lib/ai-cache-manager.ts
  lib/ai-model-router.ts
  lib/deep-analysis-service.ts
  lib/gemini-client.ts
  lib/pdf-processor.ts
  src/app/api/documents/[id]/analyze/route.ts
  src/app/api/documents/upload/route.ts
  src/app/api/process/[id]/analysis/fast/route.ts
  src/app/api/process/[id]/analysis/full/route.ts
  src/app/api/process/[id]/analysis/route.ts
  src/lib/ai-cache-manager.ts
  src/lib/ai-model-router.ts
  src/lib/ai-model-types.ts
  src/lib/deep-analysis-service.ts
  src/lib/gemini-client.ts
  src/lib/pdf-processor.ts
Owners: @justoai/core-team, @justoai/backend-team

fix(onboarding): implement phase-specific model tier strategies
  src/app/api/documents/upload/route.ts
  src/lib/ai-model-router.ts
  src/lib/services/previewAnalysisService.ts
Owners: @justoai/backend-team, @justoai/core-team

fix(gemini): correct model names to definitive versions
  lib/ai-cache-manager.ts
  lib/ai-model-router.ts
  lib/gemini-client.ts
  lib/pdf-processor.ts
  src/lib/ai-cache-manager.ts
  src/lib/ai-model-router.ts
  src/lib/ai-model-types.ts
  src/lib/gemini-client.ts
  src/lib/pdf-processor.ts
Owners: @justoai/core-team

fix(cache): correct PostgreSQL expiration date calculation
  RAILWAY_CHECKLIST.md
  RAILWAY_QUICK_START.md
  RAILWAY_WORKER_SETUP.md
  WORKER_MONITORING.md
  package.json
  railway.toml
  scripts/verify-worker-config.ts
  src/app/api/process/upload/route.ts
  src/lib/ai-cache-manager.ts
Owners: @justoai/docs-team, @justoai/core-team, @justoai/backend-team

fix(build): resolve missing exports and Prisma client initialization
  Dockerfile
  src/lib/auth.ts
  src/lib/pdf-processor.ts
Owners: @justoai/core-team

fix(workers): fix Dockerfile.workers build issues
  Dockerfile.workers
Owners: @justoai/core-team

fix(workers): improve Docker build and TypeScript path resolution
  Dockerfile.workers
  scripts/run-migrations.ts
  tsconfig.json
Owners: @justoai/core-team

fix(workers): simplify Docker COPY command for workers
  Dockerfile.workers
Owners: @justoai/core-team

fix(workers): add build cache-bust and file verification
  Dockerfile.workers
Owners: @justoai/core-team

fix(docker): reorganize Dockerfiles for explicit service routing
  Dockerfile
  Dockerfile.next
  Dockerfile.railway
  railway.toml
Owners: @justoai/core-team

fix(build): resolve missing imports and type export issues
  src/app/api/admin/monitoring/route.ts
  src/lib/ai-model-router.ts
Owners: @justoai/backend-team, @justoai/core-team

fix(types): export ModelTier as value, interfaces as type-only
  .claude/settings.local.json
  src/lib/ai-model-router.ts
Owners: @justoai/core-team

fix(deploy): correct server.js path in startCommand
  Dockerfile
  railway.toml
Owners: @justoai/core-team

fix(workers): remove problematic verification and add cache-bust
  Dockerfile.workers
Owners: @justoai/core-team

fix(workers): aggressive cache-bust with verification test
  Dockerfile.workers
Owners: @justoai/core-team

fix(dockerfile): rename for explicit Railway service routing
  Dockerfile
  Dockerfile.api
  Dockerfile.workers
  railway.toml
Owners: @justoai/core-team

fix(workers): add debug RUN to verify lib/observability exists
  Dockerfile
Owners: @justoai/core-team

fix(.dockerignore): remove Dockerfile* exclusion
  .dockerignore
Owners: @justoai/core-team

fix(runtime): inline logger stubs to eliminate import dependencies
  src/lib/redis.ts
  src/lib/services/juditOnboardingService.ts
  src/lib/services/juditService.ts
Owners: @justoai/core-team

fix(all): eliminate all external lib dependency import failures
  src/workers/juditOnboardingWorker.ts
Owners: @justoai/core-team

fix(complete): restore worker functionality + path resolution + redis stability
  Dockerfile
  package.json
  src/lib/redis.ts
  src/workers/juditOnboardingWorker.ts
Owners: @justoai/core-team

chore: update package-lock.json for tsconfig-paths
  package-lock.json
Owners: @justoai/core-team

fix(docker): copy tsconfig.json to enable TypeScript path resolution at runtime
  Dockerfile
  Dockerfile.api
Owners: @justoai/core-team

fix(pdf): resolve 502 error in Railway PDF extraction + improve logging
  ONBOARDING_502_FIX.md
  scripts/test-railway-pdf.ts
  src/app/api/pdf/process/route.ts
  src/lib/pdf-processor.ts
Owners: @justoai/docs-team, @justoai/core-team, @justoai/backend-team

fix(pdf): enhance pdftotext execution with better timeout control
  src/app/api/pdf/process/route.ts
Owners: @justoai/backend-team
