Repository Carlossouzaadv/JustoAI-vers-o2, changes with the owners that .github/CODEOWNERS names for each.
All owners: @justoai/core-team, @justoai/frontend-team, @justoai/backend-team, @justoai/qa-team, @justoai/devops-team, @justoai/docs-team

.github/CODEOWNERS:

# Code Owners for JustoAI V2

# Default owners for everything in the repo
* @justoai/core-team

# Frontend components
/src/components/ @justoai/frontend-team

# API routes
/src/app/api/ @justoai/backend-team

# Database schemas
/prisma/ @justoai/backend-team

# Tests
**/__tests__/ @justoai/qa-team
*.test.ts @justoai/qa-team
*.test.tsx @justoai/qa-team

# CI/CD
/.github/ @justoai/devops-team

# Documentation
*.md @justoai/docs-team

fix(database): resolve prepared statement errors with Supabase pgBouncer
  .env.example
  prisma/schema.prisma
Owners: @justoai/core-team, @justoai/backend-team

fix(database): add missing columns and fix PDF processor method call
  prisma/migrations/fix_missing_columns.sql
  scripts/fix-columns.js
  src/app/api/documents/upload/route.ts
Owners: @justoai/backend-team, @justoai/core-team

fix(production): add migration runner and PDF processor fallback
  scripts/run-migrations.ts
  src/lib/pdf-processor.ts
Owners: @justoai/core-team

chore(vercel): configure automatic database migrations on build
  docs/PRODUCTION_MIGRATIONS.md
  vercel.json
Owners: @justoai/docs-team, @justoai/core-team

fix(database): add missing isDuplicate column to case_documents table
  prisma/migrations/20251018_add_isduplicate_column.sql
Owners: @justoai/backend-team

fix(pdf): remove non-existent external API and implement local text extraction
  src/lib/pdf-processor.ts
Owners: @justoai/core-team

docs(database): add comprehensive Prisma commands guide
  CLAUDE.md
Owners: @justoai/docs-team

fix(database): add missing originalDocumentId column and foreign key constraint
  prisma/migrations/20251018_add_originalDocumentId_column.sql
Owners: @justoai/backend-team

fix: resolve upload errors (prisma cleanText, pdf path) and remove mocks from reports
  prisma/migrations/20251018_add_cleanText_column.sql
  src/app/dashboard/reports/page.tsx
Owners: @justoai/backend-team, @justoai/core-team

fix(upload): add textExtractedAt migration and force vercel rebuild
  prisma/migrations/20251018_add_textExtractedAt_column.sql
Owners: @justoai/backend-team

fix(database): add missing analysisVersion column - REQUIRES VERCEL REBUILD WITHOUT CACHE
  prisma/migrations/20251018_add_analysisVersion_column.sql
Owners: @justoai/backend-team

fix(upload): add analysisKey migration and add aggressive runtime logging for ENOENT debugging
  prisma/migrations/20251018_add_analysisKey_column.sql
  src/app/api/documents/upload/route.ts
  src/lib/pdf-processor.ts
Owners: @justoai/backend-team, @justoai/core-team

fix(vercel): force clean node_modules install to clear corrupted pdf-parse cache
  vercel.json
Owners: @justoai/core-team

fix(database): add workerId migration and complete column synchronization
  prisma/migrations/20251018_add_workerId_column.sql
Owners: @justoai/backend-team

fix(database): add costEstimate column and resolve P2022 Prisma error
  prisma/migrations/20251018_add_costEstimate_column.sql
Owners: @justoai/backend-team

fix(pdf-extraction): fresh npm install eliminates ENOENT error definitively
  package-lock.json
  package.json
  src/lib/pdf-processor.ts
Owners: @justoai/core-team

fix(pdf-extraction): replace pdf-parse with pdfjs-dist (no canvas, pure Node.js)
  package-lock.json
  package.json
  src/lib/pdf-processor.ts
Owners: @justoai/core-team

fix(pdf-extraction): convert Buffer to Uint8Array for pdfjs-dist compatibility
  src/lib/pdf-processor.ts
Owners: @justoai/core-team

fix(pdf-extraction): use pdfjs-dist/build/pdf.mjs for Node.js/Vercel compatibility
  src/lib/pdf-processor.ts
Owners: @justoai/core-team

fix(pdf-extraction): remove invalid worker configuration, keep DOMMatrix polyfill
  src/lib/pdf-processor.ts
Owners: @justoai/core-team

fix(pdf-extraction): add webpackIgnore directive to prevent worker bundling in Vercel
  src/lib/pdf-processor.ts
Owners: @justoai/core-team

fix(pdf-extraction): disable worker in Node.js to prevent webpack bundling issues
  src/lib/pdf-processor.ts
Owners: @justoai/core-team

fix(pdf-extraction): configure webpack to prevent worker bundling
  next.config.ts
  src/lib/pdf-processor.ts
Owners: @justoai/core-team

fix(pdf-extraction): set workerSrc to empty string to disable worker loading
  src/lib/pdf-processor.ts
Owners: @justoai/core-team

fix(pdf-extraction): use pdfjs.disableWorker = true for Node.js
  src/lib/pdf-processor.ts
Owners: @justoai/core-team

fix: resolve pdf processor
  .claude/settings.local.json
  .env.production.example
  arquivos para teste/Acompanhamento processual - Guaracamp.xlsx
  next.config.ts
  package-lock.json
  package.json
  src/app/api/pdf/process/route.ts
  src/lib/pdf-processor.ts
Owners: @justoai/core-team, @justoai/backend-team

fix(railway): include node_modules in Docker build for PDF extraction libraries
  Dockerfile.railway
  src/lib/pdf-processor.ts
Owners: @justoai/core-team

fix(pdf): resolve webpack bundling issues by using pure Node.js module
  Dockerfile.railway
  src/app/api/pdf/process/route.ts
  src/lib/pdf-extractor.js
Owners: @justoai/core-team, @justoai/backend-team

fix(pdf): use absolute path with process.cwd() for pdf-extractor import
  src/app/api/pdf/process/route.ts
Owners: @justoai/backend-team

fix(pdf): try multiple paths to locate pdf-extractor in standalone build
  src/app/api/pdf/process/route.ts
Owners: @justoai/backend-team

fix(dockerfile): correct directory structure for standalone build
  Dockerfile.railway
  src/app/api/pdf/process/route.ts
Owners: @justoai/core-team, @justoai/backend-team

debug(pdf): add detailed filesystem checks to locate pdf-extractor
  src/app/api/pdf/process/route.ts
Owners: @justoai/backend-team

fix(pdf): use createRequire() to support absolute paths for pdf-extractor
  src/app/api/pdf/process/route.ts
Owners: @justoai/backend-team

fix(pdf): use dynamic import() with file:// URL for absolute paths
  src/app/api/pdf/process/route.ts
Owners: @justoai/backend-team

fix(pdf): inline all PDF processing logic to eliminate module resolution issues
  src/app/api/pdf/process/route.ts
Owners: @justoai/backend-team

fix(pdf): add DOMMatrix polyfill for Node.js environment
  src/app/api/pdf/process/route.ts
Owners: @justoai/backend-team

fix(pdf-extraction): remove problematic GlobalWorkerOptions assignment and DOMMatrix polyfill
  src/app/api/pdf/process/route.ts
Owners: @justoai/backend-team

fix(pdf-extraction): use pdfjs-dist legacy build for Node.js without DOM dependencies
  src/app/api/pdf/process/route.ts
Owners: @justoai/backend-team

fix(webpack): exclude PDF libraries from bundling - ROOT CAUSE FIX
  next.config.ts
Owners: @justoai/core-team

fix(pdf): use correct module path pdfjs-dist/build/pdf for Node.js
  next.config.ts
  src/app/api/pdf/process/route.ts
Owners: @justoai/core-team, @justoai/backend-team
