Repository Carlossouzaadv/JustoAI-vers-o2, changes with the owners that .github/CODEOWNERS names for each.
All owners: @justoai/core-team, @justoai/frontend-team, @justoai/backend-team, @justoai/qa-team, @justoai/devops-team, @justoai/docs-team

security: remove exposed API keys from QUICK_COMMANDS.md
  QUICK_COMMANDS.md
Owners: @justoai/docs-team

docs: add security incident report (forced add)
  SECURITY_INCIDENT_REPORT.md
Owners: @justoai/docs-team

security: remove additional exposed keys from documentation files
  DEPLOYMENT_INSTRUCTIONS.md
  VERCEL_DEPLOY_NOW.md
Owners: @justoai/docs-team

security: remove database passwords from START_HERE, DEPLOY_NOW, and prisma/README
  DEPLOY_NOW.md
  START_HERE.md
  prisma/README.md
Owners: @justoai/docs-team

docs: add security cleanup completion report
  SECURITY_CLEANUP_COMPLETE.md
Owners: @justoai/docs-team

docs: update prisma README with improved setup instructions
  prisma/README.md
Owners: @justoai/docs-team

refactor: improve queue resilience with fallback mode
  src/lib/queue/juditQueue.ts
Owners: @justoai/core-team

fix: sync package-lock.json after dependency updates
  package-lock.json
Owners: @justoai/core-team

feat: regenerate package-lock.json after clean install for CI sync
  package-lock.json
Owners: @justoai/core-team

test(scripts): add JUDIT connection test script
  scripts/test-judit-connection.ts
Owners: @justoai/core-team

chore(git): allow documentation files while protecting generated docs
  .gitignore
Owners: @justoai/core-team

docs: add railway deployment and security guides
  docs/SECURITY_README.md
  docs/railway_workers_setup.md
Owners: @justoai/docs-team

chore(railway): add example configuration templates
  deploy/railway_web.toml
  deploy/railway_workers.toml
Owners: @justoai/core-team

docs(changes): add infrastructure separation summary
  CHANGES_INFRA.md
Owners: @justoai/docs-team

feat: add infrastructure files for separate workers deployment
  .env.example
  .env.railway.example
  .env.workers.example
  CLAUDE.md
  DEEP_TECHNICAL_ANALYSIS.md
  Dockerfile.railway
  Dockerfile.workers
  README.md
  components/ui/consent-checkbox.tsx
  components/ui/example-usage.tsx
  components/ui/popover.tsx
  lib/ai-cache-manager.ts
  lib/ai-model-router.ts
  lib/alerts/ops-alerts.ts
  lib/analysis-cache.ts
  lib/api-utils.ts
  lib/auth.ts
  lib/bull-board.ts
  lib/compression.ts
  lib/logger.ts
  package.json
  scripts/README.md
  scripts/STRESS_TEST_GUIDE.md
  scripts/stress-test-judit.ts
  scripts/test-judit-queue.ts
  src/lib/observability/logger.ts
  src/lib/queue/juditQueue.ts
  src/lib/redis.ts
  src/lib/services/juditService.ts
  src/workers/juditOnboardingWorker.ts
Owners: @justoai/core-team, @justoai/docs-team

docs: update README and add comprehensive CLAUDE development guide
  CLAUDE.md
  README.md
Owners: @justoai/docs-team

fix: add react-is dependency and optimize Docker builds
  Dockerfile.railway
  Dockerfile.workers
  package-lock.json
  package.json
Owners: @justoai/core-team

fix: optimize worker dockerfile to skip next.js build
  Dockerfile.workers
  package.json
Owners: @justoai/core-team

fix(redis): improve connection resilience and logging
  src/lib/redis.ts
Owners: @justoai/core-team

fix: allow railway healthcheck domain in next.js config and middleware
  next.config.ts
  src/middleware.ts
Owners: @justoai/core-team

docs: add REDIS_URL and NEXT_PUBLIC_APP_DOMAIN to .env.example
  .env.example
Owners: @justoai/core-team

fix(redis): fix Redis connection configuration to use REDIS_URL exclusively
  .env.example
  .env.railway.example
  .env.workers.example
  lib/redis.ts
Owners: @justoai/core-team

fix(redis): move REDIS_URL validation to lazy initialization (runtime instead of build)
  lib/redis.ts
Owners: @justoai/core-team

fix: fix REDIS_DISABLED checks across multiple files to use REDIS_URL exclusively
  lib/analysis-cache.ts
  lib/deep-analysis-service.ts
  lib/queues.ts
Owners: @justoai/core-team

fix(redis): simplify Redis configuration to prioritize REDIS_URL and remove mock/disabled logic
  CHANGES_SUMMARY.md
  DEPLOYMENT_READY.md
  DOCKER_BUILD_FIX.md
  FIX_SUMMARY.txt
  INDEX_DOCUMENTATION.md
  READY_TO_DEPLOY.txt
  lib/analysis-cache.ts
  lib/deep-analysis-service.ts
  lib/queues.ts
  lib/redis.ts
Owners: @justoai/docs-team, @justoai/core-team

fix: remove mock data mode and implement real API calls in frontend
  src/app/api/workspaces/current/summary/route.ts
  src/app/api/workspaces/route.ts
  src/app/dashboard/page.tsx
  src/app/dashboard/upload/page.tsx
Owners: @justoai/backend-team, @justoai/core-team

fix: remove hardcoded localhost:6379 from worker queues
  workers/individual-reports-worker.ts
  workers/process-monitor-worker.ts
  workers/usage-aggregator-worker.ts
Owners: @justoai/core-team

fix: add strict Redis URL validation in production
  lib/redis.ts
Owners: @justoai/core-team

fix: allow build to complete when REDIS_URL missing, show clear error at runtime
  lib/redis.ts
Owners: @justoai/core-team

fix: remove legacy lib/redis.ts to avoid import conflicts
  lib/redis.ts
Owners: @justoai/core-team

fix: update all imports to use centralized src/lib/redis.ts
  lib/analysis-cache.ts
  lib/deep-analysis-service.ts
  lib/queues.ts
Owners: @justoai/core-team

fix: update worker imports to use centralized src/lib/redis
  workers/cache-cleanup-worker.ts
  workers/individual-reports-worker.ts
  workers/process-monitor-worker.ts
  workers/reports-worker.ts
  workers/sync-worker.ts
  workers/usage-aggregator-worker.ts
Owners: @justoai/core-team

fix(redis): update all worker and queue imports to use correct centralized Redis functions
  lib/queues.ts
  workers/individual-reports-worker.ts
  workers/process-monitor-worker.ts
  workers/usage-aggregator-worker.ts
Owners: @justoai/core-team

fix(redis): update analysis cache and deep analysis service imports
  lib/analysis-cache.ts
  lib/deep-analysis-service.ts
Owners: @justoai/core-team

fix(redis): fix imports in remaining worker files
  workers/cache-cleanup-worker.ts
  workers/reports-worker.ts
  workers/sync-worker.ts
Owners: @justoai/core-team

fix(redis): defer Redis initialization in DeepAnalysisService
  lib/deep-analysis-service.ts
Owners: @justoai/core-team

fix: resolve user signup and dashboard data loading issues
  .claude/settings.local.json
  DIAGNOSTIC_REPORT_20251017.md
  QUICK_START_FIXES.md
  README.md
  SUPABASE_FIX_ACTION_PLAN.md
  arquivos para teste/01064107420238190001.pdf
  arquivos para teste/Acompanhamento processual - Guaracamp.xlsx
  arquivos para teste/RJ-50591117820254025101-2025-8-20-15-12-2650591117820254025101_PARTE_1.PDF
  arquivos para teste/RJ-50656981920254025101-2025-8-20-15-11-050656981920254025101_PARTE_1.PDF
  deploy-scripts/SUPABASE_RLS_FIXES_REQUIRED.sql
  lib/auth.ts
  src/app/api/users/current/route.ts
  src/app/dashboard/page.tsx
  src/app/layout.tsx
  src/app/signup/page.tsx
  src/contexts/auth-context.tsx
Owners: @justoai/core-team, @justoai/docs-team, @justoai/backend-team

feat(auth): implement email verification and user profile management
  .claude/settings.local.json
  middleware.ts
  package-lock.json
  prisma/migrations/20250117_add_phone_to_user.sql
  prisma/migrations/20250117_add_rls_security_policies.sql
  prisma/schema.prisma
  src/app/api/auth/callback/route.ts
  src/app/api/auth/signup/route.ts
  src/app/api/users/profile/route.ts
  src/app/auth/verify-email/page.tsx
  src/app/dashboard/clients/page.tsx
  src/app/dashboard/settings/page.tsx
  src/app/login/page.tsx
  src/app/signup/page.tsx
  src/components/dashboard/dashboard-header.tsx
  src/components/dashboard/dashboard-sidebar.tsx
  src/lib/auth.ts
Owners: @justoai/core-team, @justoai/backend-team, @justoai/frontend-team

fix: resolve deploy
  CHANGES_SUMMARY.md
  CHECKLIST.md
  CORS_SECURITY_IMPLEMENTATION.md
  DASHBOARD_README.md
  DEEP_TECHNICAL_ANALYSIS.md
  DEPLOYMENT_INSTRUCTIONS.md
  DEPLOYMENT_READY.md
  DEPLOYMENT_SUCCESS.md
  DEPLOYMENT_SUMMARY.md
  DEPLOY_NOW.md
  DIAGNOSTIC_REPORT_20251017.md
  DOCKER_BUILD_FIX.md
  EXECUTE_AGORA.md
  EXECUTE_FINAL.md
  EXECUTE_NOW.md
  FIXED_DEPLOYMENT_GUIDE.md
  JUDIT_SETUP.md
  OBSERVABILITY_SETUP.md
  ORDEM_CORRETA.md
  ORDEM_FINAL.md
  PROJECT_OVERVIEW.md
  QUICK_COMMANDS.md
  QUICK_START_FIXES.md
  README.md
  README_TESTES.md
  READ_THIS_FIRST.md
  SECURITY_CLEANUP_COMPLETE.md
  SECURITY_INCIDENT_REPORT.md
  START_HERE.md
  SUPABASE_FIX_ACTION_PLAN.md
  TESTING.md
  VERCEL_DEPLOY_NOW.md
  deploy-scripts/EXECUTE_PASSO_7.md
  deploy-scripts/EXECUTE_PASSO_7_FINAL.md
  deploy-scripts/EXECUTE_RLS_NOW.md
  deploy-scripts/FILES_INVENTORY.md
  deploy-scripts/FIX_RLS_INSTRUCTIONS.md
  deploy-scripts/RLS_FINAL_SUMMARY.md
  src/app/auth/verify-email/page.tsx
Owners: @justoai/docs-team, @justoai/core-team

fix(auth): fix useSearchParams deployment error and add migration script
  scripts/apply-migrations.js
  scripts/apply-migrations.ts
Owners: @justoai/core-team

.github/CODEOWNERS:

# Code Owners for JustoAI V2

# Default owners for everything in the repo
* @justoai/core-team

# Frontend components
/src/components/ @justoai/frontend-team

# API routes
/src/app/api/ @justoai/backend-team

# Database schemas
/prisma/ @justoai/backend-team

# Tests
**/__tests__/ @justoai/qa-team
*.test.ts @justoai/qa-team
*.test.tsx @justoai/qa-team

# CI/CD
/.github/ @justoai/devops-team

# Documentation
*.md @justoai/docs-team
