Repository Carlossouzaadv/JustoAI-vers-o2, changes with the owners that .github/CODEOWNERS names for each.
All owners: @justoai/core-team, @justoai/frontend-team, @justoai/backend-team, @justoai/qa-team, @justoai/devops-team, @justoai/docs-team

.github/CODEOWNERS:

# Code Owners for JustoAI V2

# Default owners for everything in the repo
* @justoai/core-team

# Frontend components
/src/components/ @justoai/frontend-team

# API routes
/src/app/api/ @justoai/backend-team

# Database schemas
/prisma/ @justoai/backend-team

# Tests
**/__tests__/ @justoai/qa-team
*.test.ts @justoai/qa-team
*.test.tsx @justoai/qa-team

# CI/CD
/.github/ @justoai/devops-team

# Documentation
*.md @justoai/docs-team

feat: implement enterprise contact form, API endpoint, and dashboard case alerts
  src/app/api/contact/enterprise/route.ts
  src/components/dashboard/dashboard-sidebar.tsx
  src/components/modals/enterprise-modal.tsx
Owners: @justoai/backend-team, @justoai/frontend-team

feat: implement attachment permission check and fix remaining TODOs
  src/lib/ai-cache-manager.ts
  src/lib/judit-api-client.ts
Owners: @justoai/core-team

feat: resolve all 14 remaining TODOs - alerts, telemetry, webhooks, imports
  src/app/api/admin/system-imports/[id]/rollback/route.ts
  src/app/api/systems/import/[id]/route.ts
  src/app/api/upload/batch/[id]/stream/route.ts
  src/app/api/webhooks/judit/tracking/route.ts
  src/lib/alerts/ops-alerts.ts
  src/lib/monitoring-telemetry.ts
Owners: @justoai/backend-team, @justoai/core-team

feat: resolve all 26 Supabase security lints - RLS enabled on all tables
  supabase_security_fixes.sql
Owners: @justoai/core-team

feat: resolve 17 Supabase function security warnings (search_path)
  supabase_warnings_fix_part2.sql
Owners: @justoai/core-team

fix: resolve supabase performance warnings (duplicate indexes and rls optimization)
  prisma/schema.prisma
  supabase_performance_fix.sql
  supabase_suggestions_fix.sql
Owners: @justoai/backend-team, @justoai/core-team

feat: resolve technical debt items 1-4 (security, architecture, code quality, performance)
  middleware.ts
  src/app/api/users/me/delete/route.ts
  src/app/api/users/me/export/route.ts
  src/lib/ai/cached-complexity-analyzer.ts
  src/lib/ai/complexity-analyzer.ts
  src/lib/ai/cost-calculator.ts
  src/lib/ai/index.ts
  src/lib/ai/prompt-templates.ts
  src/lib/ai/unified-schema.ts
  src/lib/api-error-handler.ts
  src/lib/auth.ts
  src/lib/cors.ts
  src/lib/distributed-rate-limiter.ts
  src/lib/lgpd-service.ts
Owners: @justoai/core-team, @justoai/backend-team

test: add test coverage for auth, complexity-analyzer, and lgpd-service
  src/lib/__tests__/auth.test.ts
  src/lib/__tests__/complexity-analyzer.test.ts
  src/lib/__tests__/lgpd-service.test.ts
Owners: @justoai/qa-team

fix: resolve ESLint errors in lgpd-service.test.ts
  src/lib/__tests__/lgpd-service.test.ts
Owners: @justoai/qa-team

fix: resolve auth.test.ts hoisting error and remove non-existent requireAuth import
  src/lib/__tests__/auth.test.ts
Owners: @justoai/qa-team

fix(ux): update client naming, labels and visual styles
  src/app/dashboard/process/[id]/page.tsx
  src/components/dashboard/dashboard-sidebar.tsx
  src/lib/services/upload/ProcessIdentificationService.ts
Owners: @justoai/core-team, @justoai/frontend-team

fix(ux): remove warning icon, add edit type, document download and increase upload limit to 100MB
  src/app/api/pdf/process/route.ts
  src/app/api/processes/upload/route.ts
  src/app/api/upload/excel/route.ts
  src/app/dashboard/process/[id]/page.tsx
  src/components/onboarding/excel-upload-dialog.tsx
  src/components/process/document-list-grid.tsx
  src/lib/constants.ts
  src/lib/icons.ts
  src/lib/messages.ts
Owners: @justoai/backend-team, @justoai/core-team, @justoai/frontend-team

fix(test): update file size error message expectation to 100MB
  src/lib/__tests__/messages.test.ts
Owners: @justoai/qa-team

feat: implement direct supabase upload to bypass vercel limits
  src/app/api/upload/complete/route.ts
  src/app/api/upload/signed-url/route.ts
  src/components/process/process-documents.tsx
  src/lib/services/supabaseStorageService.ts
  src/lib/services/upload/UploadOrchestrator.ts
Owners: @justoai/backend-team, @justoai/frontend-team, @justoai/core-team

feat: implement direct supabase upload and fix build/lint errors
  src/app/api/upload/complete/route.ts
  src/app/api/upload/signed-url/route.ts
  src/components/process/process-documents.tsx
  src/components/quota/quota-modal.tsx
  src/components/ui/alert.tsx
  src/components/ui/badge.tsx
  src/components/ui/button.tsx
  src/components/ui/calendar.tsx
  src/components/ui/card.tsx
  src/components/ui/dialog.tsx
  src/components/ui/progress.tsx
  src/components/ui/skeleton.tsx
  src/jobs/dailyJuditCheck.ts
  src/lib/aggregation-service.ts
  src/lib/ai-model-types.ts
  src/lib/bull-board.ts
  src/lib/compression.ts
  src/lib/excel-upload-service.ts
  src/lib/icons.ts
  src/lib/icons.tsx
  src/lib/judit-api-wrapper.ts
  src/lib/middleware/quota-enforcement.ts
  src/lib/observability/alerting.ts
  src/lib/payment-webhook-handler.ts
  src/lib/queue/juditQueue.ts
  src/lib/report-data-collector.ts
  src/lib/services/juditMonitoringService.ts
  src/lib/services/upload/UploadOrchestrator.ts
Owners: @justoai/backend-team, @justoai/frontend-team, @justoai/core-team

fix: replace @radix-ui/react-icons with lucide-react in dialog component
  src/components/ui/dialog.tsx
Owners: @justoai/frontend-team

fix: remove example-usage.tsx with missing icon exports
  components/ui/example-usage.tsx
  lint_output.txt
Owners: @justoai/core-team

fix: add missing ARROW_LEFT, ARROW_RIGHT, CHECK icons to icons.tsx
  src/lib/icons.tsx
Owners: @justoai/core-team

fix: complete icons.tsx with all 90 icons and UI_TEXT export
  src/lib/icons.tsx
Owners: @justoai/core-team

fix: remove React components from icons.tsx to fix server-side crash
  src/lib/icons.tsx
Owners: @justoai/core-team

fix: add CSS vars for shadcn/ui dialogs, logo in sidebar, profile save update
  src/app/dashboard/settings/page.tsx
  src/app/globals.css
  src/components/dashboard/dashboard-sidebar.tsx
Owners: @justoai/core-team, @justoai/frontend-team

feat: implement premium visual identity with custom SVG icons
  src/components/dashboard/dashboard-header.tsx
  src/components/dashboard/dashboard-sidebar.tsx
  src/components/ui/custom-icon.tsx
Owners: @justoai/frontend-team

fix: settings loads fresh profile from API, larger header icons
  src/app/dashboard/settings/page.tsx
  src/components/dashboard/dashboard-header.tsx
Owners: @justoai/core-team, @justoai/frontend-team

fix: prevent overwriting user name with Supabase metadata on login
  src/lib/auth.ts
Owners: @justoai/core-team

feat: applied premium icons to dashboard cards
  src/app/dashboard/page.tsx
Owners: @justoai/core-team

fix(onboarding): counting cases as documents to correctly dismiss onboarding screen
  src/app/api/users/me/route.ts
  src/app/dashboard/page.tsx
  src/components/dashboard/dashboard-header.tsx
  src/components/ui/custom-icon.tsx
Owners: @justoai/backend-team, @justoai/core-team, @justoai/frontend-team

feat(landing): aligned landing page components (hero, features, how-it-works) with premium visual identity using SVG icons
  src/components/landing/features.tsx
  src/components/landing/hero.tsx
  src/components/landing/how-it-works.tsx
  src/components/landing/navigation.tsx
Owners: @justoai/frontend-team

feat(dashboard): implemented new command center layout with radar, greeting header, and action grid
  src/app/dashboard/page.tsx
  src/components/dashboard/command-center/action-grid.tsx
  src/components/dashboard/command-center/deadline-radar.tsx
  src/components/dashboard/command-center/greeting-header.tsx
  src/components/dashboard/command-center/priority-inbox.tsx
Owners: @justoai/core-team, @justoai/frontend-team

fix(dashboard): resolved typescript any type error in dashboard page
  src/app/dashboard/page.tsx
Owners: @justoai/core-team

feat: implement full stripe integration (checkout, webhook, portal)
  package-lock.json
  package.json
  prisma/schema.prisma
  src/app/api/stripe/checkout/route.ts
  src/app/api/stripe/portal/route.ts
  src/app/api/stripe/webhook/route.ts
  src/app/dashboard/billing/page.tsx
  src/app/pricing/page.tsx
  src/components/landing/pricing.tsx
  src/components/pricing/plan-card.tsx
  src/config/plans.ts
  src/config/pricing.json
  src/lib/stripe.ts
Owners: @justoai/core-team, @justoai/backend-team, @justoai/frontend-team

fix: resolve stripe webhook lint errors
  src/app/api/stripe/webhook/route.ts
Owners: @justoai/backend-team

fix: resolve session type strictness in checkout route
  src/app/api/stripe/checkout/route.ts
Owners: @justoai/backend-team

fix: suppress lint errors in checkout route
  src/app/api/stripe/checkout/route.ts
Owners: @justoai/backend-team

fix: resolve session type errors in portal route
  src/app/api/stripe/portal/route.ts
Owners: @justoai/backend-team

fix: resolve possibly null session error in api routes
  src/app/api/stripe/checkout/route.ts
  src/app/api/stripe/portal/route.ts
Owners: @justoai/backend-team

fix: resolve stripe subscription type error in webhook
  src/app/api/stripe/webhook/route.ts
Owners: @justoai/backend-team

fix(build): add fallback for missing STRIPE_SECRET_KEY to resolve Railway build error
  src/lib/stripe.ts
Owners: @justoai/core-team

fix(health): prevent 503 error when optional services (Slack, Resend) are missing
  src/app/api/health/system/route.ts
Owners: @justoai/backend-team

fix(client): resolve pricing page crash and update CTA links to pricing
  src/app/pricing/page.tsx
  src/components/landing/hero.tsx
  src/components/landing/navigation.tsx
Owners: @justoai/core-team, @justoai/frontend-team

fix(pricing): refine UI/UX, remove modal, fix button retention and disclaimers
  src/app/pricing/page.tsx
  src/components/pricing/credits-packs.tsx
  src/components/pricing/faq-pricing.tsx
  src/components/pricing/feature-matrix.tsx
  src/components/pricing/plan-card.tsx
  src/config/pricing.json
Owners: @justoai/core-team, @justoai/frontend-team
