Repository Carlossouzaadv/JustoAI-vers-o2, changes with the owners that .github/CODEOWNERS names for each.
All owners: @justoai/core-team, @justoai/frontend-team, @justoai/backend-team, @justoai/qa-team, @justoai/devops-team, @justoai/docs-team

feat(clients): implement create client form submission
  src/app/api/process/[id]/analysis/full/route.ts
  src/app/api/process/upload/route.ts
  src/app/dashboard/clients/page.tsx
  src/app/dashboard/documents-upload/page.tsx
  src/lib/auth-helper.ts
Owners: @justoai/backend-team, @justoai/core-team

fix(redis): defer REDIS_URL access in getRedisConnection to runtime
  src/lib/redis.ts
Owners: @justoai/core-team

fix(deps): remove deprecated @types/puppeteer and update xlsx
  package-lock.json
  package.json
Owners: @justoai/core-team

fix(deps): remove vulnerable imagemin packages, replace with sharp
  package.json
Owners: @justoai/core-team

fix(node): specify Node.js 20+ requirement for deploy environments
  .nvmrc
  package.json
  vercel.json
Owners: @justoai/core-team

fix(build): suppress swagger-jsdoc critical dependency webpack warning
  next.config.ts
Owners: @justoai/core-team

feat: add comprehensive logging to client API and remove unused next-optimized-images
  package-lock.json
  package.json
  src/app/api/clients/route.ts
  src/app/api/documents/upload/route.ts
  src/app/dashboard/documents-upload/documents-upload-client.tsx
  src/app/dashboard/documents-upload/page.tsx
  src/components/onboarding/upload-dialog.tsx
  src/lib/api-utils.ts
Owners: @justoai/core-team, @justoai/backend-team, @justoai/frontend-team

fix(vercel): remove unsupported nodeVersion property from vercel.json
  vercel.json
Owners: @justoai/core-team

feat: implement circuit breaker for Upstash quota protection
  src/app/api/admin/circuit-breaker/route.ts
  src/lib/queue/juditQueue.ts
  src/lib/redis.ts
  src/lib/services/circuitBreakerService.ts
Owners: @justoai/backend-team, @justoai/core-team

fix(worker): add circuit breaker checks to juditOnboardingWorker
  src/workers/juditOnboardingWorker.ts
Owners: @justoai/core-team

fix: resolve client type validation and upload button issues
  src/app/api/clients/route.ts
  src/app/dashboard/clients/page.tsx
  src/app/dashboard/documents-upload/documents-upload-client.tsx
Owners: @justoai/backend-team, @justoai/core-team

fix: resolve Gemini not being called and excessive JUDIT polling
  src/app/api/documents/upload/route.ts
  src/lib/services/juditOnboardingService.ts
Owners: @justoai/backend-team, @justoai/core-team

fix: resolve Node.js deprecation, worker SIGTERM, and dashboard client filtering
  Dockerfile
  src/app/api/clients/route.ts
  src/workers/juditOnboardingWorker.ts
Owners: @justoai/core-team, @justoai/backend-team

fix(judit): correct response field name from request_status to status
  .claude/settings.local.json
  src/components/onboarding/upload-dialog.tsx
  src/lib/judit-api-client.ts
  src/lib/services/juditOnboardingService.ts
  src/lib/services/juditService.ts
Owners: @justoai/core-team, @justoai/frontend-team

feat(preview-analysis): display Gemini analysis in upload dialog
  src/app/api/documents/upload/route.ts
  src/components/onboarding/onboarding-progress.tsx
Owners: @justoai/backend-team, @justoai/frontend-team

refactor(judit): normalize response data structure for database persistence
  judit - Busca processual.txt
  src/lib/services/juditOnboardingService.ts
Owners: @justoai/core-team

fix(ui): handle costEstimate as object in preview analysis
  src/app/api/documents/upload/route.ts
  src/components/onboarding/onboarding-progress.tsx
Owners: @justoai/backend-team, @justoai/frontend-team

fix(judit): implement proper operation tracking with timing
  src/lib/services/juditOnboardingService.ts
  src/lib/services/juditService.ts
Owners: @justoai/core-team

fix(upload): validate caseId against workspace and standardize response format
  src/app/api/documents/upload/route.ts
Owners: @justoai/backend-team

feat(analysis): implement persistent AI analysis storage and retrieval
  .claude/settings.local.json
  package-lock.json
  src/app/api/documents/upload/route.ts
  src/app/api/process/[id]/analysis/route.ts
  src/components/process/process-ai-analysis.tsx
Owners: @justoai/core-team, @justoai/backend-team, @justoai/frontend-team

fix: correct Prisma relationship and sanitize analysis data for React
  src/app/api/documents/upload/route.ts
  src/components/process/process-ai-analysis.tsx
Owners: @justoai/backend-team, @justoai/frontend-team

fix: correct all caseAnalysisVersion.create() calls to use relationship syntax
  src/app/api/documents/[id]/analyze/route.ts
  src/app/api/process/[id]/analysis/full/route.ts
  src/app/api/process/[id]/analysis/route.ts
  src/lib/deep-analysis-service.ts
  src/lib/pdf-processor.ts
Owners: @justoai/backend-team, @justoai/core-team

fix(judit): correct API field extraction for attachments and steps
  src/lib/services/juditOnboardingService.ts
Owners: @justoai/core-team

fix(upload): resolve PDF extraction and audit logging errors
  lib/pdf-processor.ts
  lib/timeline-merge.ts
  src/app/api/documents/upload/route.ts
Owners: @justoai/core-team, @justoai/backend-team

fix(upload): resolve HTTP 413 Payload Too Large errors for large PDFs
  lib/pdf-processor.ts
  next.config.ts
  src/app/api/documents/upload/route.ts
  vercel.json
Owners: @justoai/core-team, @justoai/backend-team

fix(prisma): add missing workspace relationship to caseAnalysisVersion.create()
  guia rápido.txt
  src/app/api/documents/[id]/analyze/route.ts
  src/app/api/documents/upload/route.ts
  src/app/api/process/[id]/analysis/full/route.ts
  src/app/api/process/[id]/analysis/route.ts
  src/lib/deep-analysis-service.ts
  src/lib/pdf-processor.ts
Owners: @justoai/core-team, @justoai/backend-team

feat(onboarding): fix FASE 1 preview data mapping for empty popup
  src/app/api/documents/upload/route.ts
  src/lib/ai-analysis-mapper.ts
Owners: @justoai/backend-team, @justoai/core-team

feat(onboarding): enhance UI/UX with 4 optional improvements
  src/components/onboarding/onboarding-progress.tsx
Owners: @justoai/frontend-team

chore(db): add workspaceId column to case_analysis_versions table
  prisma/migrations/20251024_add_workspaceId_to_case_analysis_versions.sql
Owners: @justoai/backend-team

feat(judit): implement webhook callback + remove polling (100% async)
  prisma/migrations/20251024_add_analysisKey_to_case_analysis_versions.sql
  src/app/api/clients/route.ts
  src/app/api/documents/upload/route.ts
  src/app/api/webhook/judit/callback/route.ts
  src/components/onboarding/onboarding-progress.tsx
  src/lib/services/juditOnboardingService.ts
  src/lib/services/previewAnalysisService.ts
Owners: @justoai/backend-team, @justoai/frontend-team, @justoai/core-team

refactor(judit): add cache_ttl_in_days optimization comment
  src/lib/services/juditOnboardingService.ts
Owners: @justoai/core-team

docs(cleanup): consolidate and remove outdated documentation
  API de Transferência de Arquivos.txt
  Callback  Webhook.txt
  DEPLOY_OPTIMIZATION_REPORT.md
  DOCKER_OPTIMIZATION_SUMMARY.md
  INDEX_DOCUMENTATION.md
  JUDIT_FILES_INDEX.md
  JUDIT_INTEGRATION_SUMMARY.md
  JUDIT_QUICK_START.md
  JUDIT_TEST_RESULTS.md
  JUDIT_TEST_SCRIPTS_README.md
  ONBOARDING_502_FIX.md
  ONBOARDING_UI_INTEGRATION.md
  PROJECT_OVERVIEW.md
  RAILWAY_502_DEBUG.md
  RAILWAY_CHECKLIST.md
  RAILWAY_QUICK_START.md
  RAILWAY_WORKER_SETUP.md
  README.md
  VALIDACAO_FINAL_ONBOARDING_100_PERCENT.md
  VERIFICACAO_ONBOARDING_COMPLETA.md
  WORKER_MONITORING.md
  docs/DEPLOYMENT_SUMMARY.md
  docs/RAILWAY_QUICK_START.md
  docs/RAILWAY_VERCEL_DEPLOYMENT.md
Owners: @justoai/core-team, @justoai/docs-team

fix(upload): resolve case not found and JSON parsing errors
  src/app/api/documents/upload/route.ts
Owners: @justoai/backend-team

fix(judit-webhook): add timeout config and comprehensive debugging
  src/app/api/webhook/judit/callback/route.ts
  src/app/api/webhook/judit/status/route.ts
Owners: @justoai/backend-team

fix: resolve critical JSON parsing, preview object extraction, and case lookup issues
  src/app/api/cases/[id]/route.ts
  src/components/onboarding/preview-results.tsx
  src/lib/ai-analysis-mapper.ts
  src/lib/judit-api-client.ts
  src/lib/services/previewAnalysisService.ts
Owners: @justoai/backend-team, @justoai/frontend-team, @justoai/core-team

fix(core): resolve 'Caso não encontrado' error - multi-layer fixes for process access
  src/app/api/cases/[id]/route.ts
  src/app/api/documents/upload/route.ts
  src/app/api/webhook/judit/callback/route.ts
  src/app/dashboard/process/[id]/page.tsx
Owners: @justoai/backend-team, @justoai/core-team

fix(upload): resolve JSON parsing error in audit logging for duplicate documents
  lib/timeline-merge.ts
  src/lib/timeline-merge.ts
Owners: @justoai/core-team

fix(core): resolve 'Caso não encontrado' error - fix API response structure mismatch
  src/app/api/cases/[id]/route.ts
  src/app/dashboard/process/[id]/page.tsx
  src/components/process/process-documents.tsx
  src/components/process/process-summary.tsx
Owners: @justoai/backend-team, @justoai/core-team, @justoai/frontend-team

fix(timeline): resolve empty timeline issue - connect Processo to Case and create events endpoint
  src/app/api/cases/[id]/events/route.ts
  src/lib/services/juditOnboardingService.ts
Owners: @justoai/backend-team, @justoai/core-team

fix(process): resolve UI/UX issues - improve header, client selection, and notes
  src/app/api/cases/[id]/notes/route.ts
  src/app/dashboard/process/[id]/page.tsx
  src/components/process/process-notes.tsx
Owners: @justoai/backend-team, @justoai/core-team, @justoai/frontend-team

.github/CODEOWNERS:

# Code Owners for JustoAI V2

# Default owners for everything in the repo
* @justoai/core-team

# Frontend components
/src/components/ @justoai/frontend-team

# API routes
/src/app/api/ @justoai/backend-team

# Database schemas
/prisma/ @justoai/backend-team

# Tests
**/__tests__/ @justoai/qa-team
*.test.ts @justoai/qa-team
*.test.tsx @justoai/qa-team

# CI/CD
/.github/ @justoai/devops-team

# Documentation
*.md @justoai/docs-team
